install/setup/data/templates/nifi-1.0/standard-ingest.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>2648f6cb-0158-1000-9078-358f19c33fdd</groupId>
  <name>standard-ingest</name>
  <snippet>
    <connections>
      <id>be3e561f-f400-42c9-0000-000000000000</id>
      <parentGroupId>2648f6cb-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
        <id>1b36c728-d4bd-4d7f-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
        <id>89f6d4d3-8b84-4a14-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fc457c11-73d1-4321-0000-000000000000</id>
      <parentGroupId>2648f6cb-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
        <id>9e7892f1-517f-41a8-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>2648f6cb-0158-1000-0000-000000000000</groupId>
        <id>551a2d72-04d0-4f6a-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>11ef495d-c0c0-49ae-0000-000000000000</id>
      <parentGroupId>2648f6cb-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
        <id>0f7bb597-0636-4030-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>2648f6cb-0158-1000-0000-000000000000</groupId>
        <id>41ad8258-4e44-4ab7-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>50b0105a-02f6-4290-0000-000000000000</id>
      <parentGroupId>2648f6cb-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>588.7499972667786</x>
        <y>342.36999999999995</y>
      </bends>
      <destination>
        <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
        <id>95ca7ee6-c028-4205-0000-000000000000</id>
        <type>INPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
        <id>986e73a2-a9ae-49b6-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <inputPorts>
      <id>41ad8258-4e44-4ab7-0000-000000000000</id>
      <parentGroupId>2648f6cb-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>120.59999927136823</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>standard-cleanup</name>
      <state>RUNNING</state>
      <type>INPUT_PORT</type>
    </inputPorts>
    <inputPorts>
      <id>551a2d72-04d0-4f6a-0000-000000000000</id>
      <parentGroupId>2648f6cb-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>4.499997266778564</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>standard-ingest</name>
      <state>RUNNING</state>
      <type>INPUT_PORT</type>
    </inputPorts>
    <processGroups>
      <id>cf37472c-acc0-41fe-0000-000000000000</id>
      <parentGroupId>2648f6cb-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>614.9999972667786</x>
        <y>2.6799999999999997</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>90d2f524-df7c-4bbe-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>396a9db3-be12-48cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>830eb503-31d2-4b5f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>9341e574-ac6c-45ea-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>10427e45-2e80-4b5a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>43a0a809-e58b-452e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>935fd58d-2e86-4f47-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>396a9db3-be12-48cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>0ab18068-be17-4957-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>94787fac-7f57-418d-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>03c56da4-d0ef-4a0a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>Initialize</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>84cfabae-1011-4795-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>994d231a-d5d4-40cd-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>39748bce-8aa1-4464-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>830eb503-31d2-4b5f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a086cb5a-a2bf-467a-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>10427e45-2e80-4b5a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>03c56da4-d0ef-4a0a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a46bbadd-e424-43b1-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>f8455e65-c133-422e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>fe67b22c-377f-47cf-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a7146cc1-fc7b-425b-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>6383c37a-c393-4645-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>3e4126d0-2a36-46cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>aa7fcbef-caec-4b87-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>dc8fe4b6-abc0-4396-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>5302cc69-0b2f-44ec-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>af07758b-2d08-46d6-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>396a9db3-be12-48cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>84cfabae-1011-4795-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b92fef79-fc3b-45c2-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>84cfabae-1011-4795-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>39748bce-8aa1-4464-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>cd7f654f-9187-4803-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>396a9db3-be12-48cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>cbbb4a22-a4db-40f5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>d6c6183d-4d0e-4ac3-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>830eb503-31d2-4b5f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>content</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>cbbb4a22-a4db-40f5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>e72e45bc-479f-493a-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>a8c7ab24-e529-48aa-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>original</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>cbbb4a22-a4db-40f5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ea5af467-a1f1-481f-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>201ac880-fa0c-4d87-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>9e7892f1-517f-41a8-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ee50a4e1-1845-4b3e-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>75b7c5ab-be77-46f1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>84cfabae-1011-4795-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f66c53f3-ba06-4f47-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>dc479135-3c1e-41d2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>75b7c5ab-be77-46f1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>fca6c8cd-a1f2-4fbc-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>6383c37a-c393-4645-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>396a9db3-be12-48cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>04e78338-eef5-44fb-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>43a0a809-e58b-452e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>03c56da4-d0ef-4a0a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>120d0cf9-ea54-4f39-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>10427e45-2e80-4b5a-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>ea1a0346-080c-4ae1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>17fa3f89-fcdc-4386-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>cbbb4a22-a4db-40f5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>201ac880-fa0c-4d87-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1a86311d-f317-4f33-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>396a9db3-be12-48cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>a8c7ab24-e529-48aa-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>23005a6b-19bb-4681-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>5d55ded2-c832-4302-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>ea1a0346-080c-4ae1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>24af12df-764b-4bd4-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>0ab18068-be17-4957-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>fe67b22c-377f-47cf-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2ae038ed-4df7-4a74-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>5302cc69-0b2f-44ec-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>0f7bb597-0636-4030-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2c0e5de4-4d26-4f04-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>89f6d4d3-8b84-4a14-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>ea1a0346-080c-4ae1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>4ecbe47a-8f37-4b64-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>396a9db3-be12-48cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>75b7c5ab-be77-46f1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>566b3e4d-b446-4e47-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>40ca6cd7-541e-4d66-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>dc479135-3c1e-41d2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>5d5dd567-75de-47a5-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>396a9db3-be12-48cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>40ca6cd7-541e-4d66-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>637bed04-7e34-4b51-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>396a9db3-be12-48cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>fe67b22c-377f-47cf-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>689ccc16-9531-4c31-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>396a9db3-be12-48cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>dc479135-3c1e-41d2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>692767c4-92c4-47ff-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>986e73a2-a9ae-49b6-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>fe67b22c-377f-47cf-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6eb7a4b1-7895-4b32-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>ea1a0346-080c-4ae1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>43a0a809-e58b-452e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>74785a77-0e79-4b32-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>fe67b22c-377f-47cf-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>40ca6cd7-541e-4d66-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>747b7a9f-f9c4-4054-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>3e4126d0-2a36-46cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>0ab18068-be17-4957-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>79fd9c99-396a-4a99-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>4c8ca053-b348-4e18-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cf37472c-acc0-41fe-0000-000000000000</groupId>
            <id>dc8fe4b6-abc0-4396-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>0d13901d-0158-1000-0000-000000000000</id>
          <parentGroupId>4c3842d5-6343-4fb2-0000-000000000000</parentGroupId>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Database Connection URL</key>
              <value>
                <name>Database Connection URL</name>
              </value>
            </entry>
            <entry>
              <key>Database Driver Class Name</key>
              <value>
                <name>Database Driver Class Name</name>
              </value>
            </entry>
            <entry>
              <key>Database Driver Jar Url</key>
              <value>
                <name>Database Driver Jar Url</name>
              </value>
            </entry>
            <entry>
              <key>Database User</key>
              <value>
                <name>Database User</name>
              </value>
            </entry>
            <entry>
              <key>Password</key>
              <value>
                <name>Password</name>
              </value>
            </entry>
            <entry>
              <key>Validation Query</key>
              <value>
                <name>Validation Query</name>
              </value>
            </entry>
            <entry>
              <key>Max Wait Time</key>
              <value>
                <name>Max Wait Time</name>
              </value>
            </entry>
            <entry>
              <key>Max Total Connections</key>
              <value>
                <name>Max Total Connections</name>
              </value>
            </entry>
            <entry>
              <key>Hadoop Configuration Resources</key>
              <value>
                <name>Hadoop Configuration Resources</name>
              </value>
            </entry>
            <entry>
              <key>Kerberos Principal</key>
              <value>
                <name>Kerberos Principal</name>
              </value>
            </entry>
            <entry>
              <key>Kerberos Keytab</key>
              <value>
                <name>Kerberos Keytab</name>
              </value>
            </entry>
          </descriptors>
          <name>Hive Thrift Service</name>
          <properties>
            <entry>
              <key>Database Connection URL</key>
              <value>jdbc:hive2://localhost:10000/default</value>
            </entry>
            <entry>
              <key>Database Driver Class Name</key>
              <value>org.apache.hive.jdbc.HiveDriver</value>
            </entry>
            <entry>
              <key>Database Driver Jar Url</key>
            </entry>
            <entry>
              <key>Database User</key>
              <value>nifi</value>
            </entry>
            <entry>
              <key>Password</key>
            </entry>
            <entry>
              <key>Validation Query</key>
              <value>show tables 'test'</value>
            </entry>
            <entry>
              <key>Max Wait Time</key>
              <value>500 millis</value>
            </entry>
            <entry>
              <key>Max Total Connections</key>
              <value>8</value>
            </entry>
            <entry>
              <key>Hadoop Configuration Resources</key>
            </entry>
            <entry>
              <key>Kerberos Principal</key>
            </entry>
            <entry>
              <key>Kerberos Keytab</key>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>com.thinkbiganalytics.nifi.v2.thrift.ThriftConnectionPool</type>
        </controllerServices>
        <controllerServices>
          <id>0d139072-0158-1000-0000-000000000000</id>
          <parentGroupId>4c3842d5-6343-4fb2-0000-000000000000</parentGroupId>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Implementation</key>
              <value>
                <name>Implementation</name>
              </value>
            </entry>
            <entry>
              <key>rest-client-url</key>
              <value>
                <name>rest-client-url</name>
              </value>
            </entry>
            <entry>
              <key>client-username</key>
              <value>
                <name>client-username</name>
              </value>
            </entry>
            <entry>
              <key>client-password</key>
              <value>
                <name>client-password</name>
              </value>
            </entry>
            <entry>
              <key>SSL Context Service</key>
              <value>
                <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                <name>SSL Context Service</name>
              </value>
            </entry>
          </descriptors>
          <name>Think Big Metadata Service</name>
          <properties>
            <entry>
              <key>Implementation</key>
              <value>REMOTE</value>
            </entry>
            <entry>
              <key>rest-client-url</key>
              <value>http://localhost:8400/proxy/metadata</value>
            </entry>
            <entry>
              <key>client-username</key>
              <value>dladmin</value>
            </entry>
            <entry>
              <key>client-password</key>
            </entry>
            <entry>
              <key>SSL Context Service</key>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>com.thinkbiganalytics.nifi.v2.core.metadata.MetadataProviderSelectorService</type>
        </controllerServices>
        <inputPorts>
          <id>9e7892f1-517f-41a8-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>116.23772589682335</x>
            <y>-462.3424671385419</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>standard-ingest-input-port</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <inputPorts>
          <id>0f7bb597-0636-4030-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>-58.30764099171137</x>
            <y>1839.0074164529642</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>standard-cleanup-input-port</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
          <id>848bd147-69a5-402c-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>490.2415894960923</x>
            <y>1756.994168054605</y>
          </position>
          <height>153.34129333496094</height>
          <label>Cleanup</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#dbdbdb</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>18px</value>
            </entry>
          </style>
          <width>1588.0556640625</width>
        </labels>
        <labels>
          <id>c6adbc4c-7a86-4a75-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>2324.0564574433597</x>
            <y>222.70893930610853</y>
          </position>
          <height>644.9923095703125</height>
          <label>One-time registration</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#dbdbdb</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>18px</value>
            </entry>
          </style>
          <width>925.1513671875</width>
        </labels>
        <outputPorts>
          <id>89f6d4d3-8b84-4a14-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>3252.4030675355525</x>
            <y>759.0512825822602</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>to-elasticsearch-registration</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>986e73a2-a9ae-49b6-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>2418.9944850916945</x>
            <y>1514.9334409151786</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>to-elasticsearch-text-index</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>830eb503-31d2-4b5f-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>1587.1577230049745</x>
            <y>-257.3802684428351</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Bin-Packing Algorithm</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Binary Concatenation</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>merge.correlation</value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>10s</value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>100</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Header File</key>
              </entry>
              <entry>
                <key>Footer File</key>
              </entry>
              <entry>
                <key>Demarcator File</key>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Merge Content</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#11f237</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>84cfabae-1011-4795-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>1590.9292944772178</x>
            <y>279.8189879154632</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Metadata Service</key>
                <value>
                  <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                  <name>Metadata Service</name>
                </value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>
                  <name>System feed category</name>
                </value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>
                  <name>System feed name</name>
                </value>
              </entry>
              <entry>
                <key>Initialization Failure Strategy</key>
                <value>
                  <name>Initialization Failure Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Initialization Retry Delay (seconds)</key>
                <value>
                  <name>Initialization Retry Delay (seconds)</name>
                </value>
              </entry>
              <entry>
                <key>Max Initialization Attempts</key>
                <value>
                  <name>Max Initialization Attempts</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Metadata Service</key>
                <value>0d139072-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>${category}</value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>${feed}</value>
              </entry>
              <entry>
                <key>Initialization Failure Strategy</key>
                <value>RETRY</value>
              </entry>
              <entry>
                <key>Initialization Retry Delay (seconds)</key>
                <value>15</value>
              </entry>
              <entry>
                <key>Max Initialization Attempts</key>
                <value>40</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Initialize Feed?</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Initialize</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#11f237</value>
            </entry>
          </style>
          <type>com.thinkbiganalytics.nifi.v2.init.InitializeFeed</type>
        </processors>
        <processors>
          <id>a8c7ab24-e529-48aa-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>920.0887090637152</x>
            <y>-3.31145888336637</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>
                  <name>Hadoop Configuration Resources</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
                <value>
                  <name>Kerberos Principal</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
                <value>
                  <name>Kerberos Keytab</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>
                  <name>Kerberos Relogin Period</name>
                </value>
              </entry>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Block Size</key>
                <value>
                  <name>Block Size</name>
                </value>
              </entry>
              <entry>
                <key>IO Buffer Size</key>
                <value>
                  <name>IO Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replication</key>
                <value>
                  <name>Replication</name>
                </value>
              </entry>
              <entry>
                <key>Permissions umask</key>
                <value>
                  <name>Permissions umask</name>
                </value>
              </entry>
              <entry>
                <key>Remote Owner</key>
                <value>
                  <name>Remote Owner</name>
                </value>
              </entry>
              <entry>
                <key>Remote Group</key>
                <value>
                  <name>Remote Group</name>
                </value>
              </entry>
              <entry>
                <key>Compression codec</key>
                <value>
                  <name>Compression codec</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>4 hours</value>
              </entry>
              <entry>
                <key>Directory</key>
                <value>/archive/${category}/${feed}/${archiveId}</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>fail</value>
              </entry>
              <entry>
                <key>Block Size</key>
              </entry>
              <entry>
                <key>IO Buffer Size</key>
              </entry>
              <entry>
                <key>Replication</key>
              </entry>
              <entry>
                <key>Permissions umask</key>
              </entry>
              <entry>
                <key>Remote Owner</key>
              </entry>
              <entry>
                <key>Remote Group</key>
              </entry>
              <entry>
                <key>Compression codec</key>
                <value>BZIP</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Archive Originals</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#e6f205</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
        <processors>
          <id>cbbb4a22-a4db-40f5-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>686.9540158820894</x>
            <y>-263.3584272676924</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Enable processing</key>
                <value>
                  <name>Enable processing</name>
                </value>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>
                  <name>Header Line Count</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Enable processing</key>
                <value>${skipHeader}</value>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Strip Header</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>content</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>header</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>original</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#11f237</value>
            </entry>
          </style>
          <type>com.thinkbiganalytics.nifi.v2.ingest.StripHeader</type>
        </processors>
        <processors>
          <id>dc479135-3c1e-41d2-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>1591.072864707694</x>
            <y>776.5956835570595</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>
                  <identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService>
                  <name>Database Connection Pooling Service</name>
                </value>
              </entry>
              <entry>
                <key>Statement</key>
                <value>
                  <name>Statement</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>0d13901d-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>Statement</key>
                <value>alter table `${category}`.`${feed}_feed` add
    if not exists partition (processing_dttm=${feedts})
    location '${hdfs.etl.root}/${category}/${feed}/${feedts}/'</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Create Feed Partition</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#2cfa08</value>
            </entry>
          </style>
          <type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQLStatement</type>
        </processors>
        <processors>
          <id>dc8fe4b6-abc0-4396-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>1421.6723139524283</x>
            <y>1810.4645740214448</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>
                  <identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService>
                  <name>Database Connection Pooling Service</name>
                </value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>
                  <name>System feed category</name>
                </value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>
                  <name>System feed name</name>
                </value>
              </entry>
              <entry>
                <key>Table Type</key>
                <value>
                  <name>Table Type</name>
                </value>
              </entry>
              <entry>
                <key>Additional Tables</key>
                <value>
                  <name>Additional Tables</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>0d13901d-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>${category}</value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>${feed}</value>
              </entry>
              <entry>
                <key>Table Type</key>
                <value>ALL</value>
              </entry>
              <entry>
                <key>Additional Tables</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Drop Feed Tables</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#ff9900</value>
            </entry>
          </style>
          <type>com.thinkbiganalytics.nifi.v2.ingest.DropFeedTables</type>
        </processors>
        <processors>
          <id>ea1a0346-080c-4ae1-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>2381.2352056263176</x>
            <y>710.8836223055641</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Metadata Provider Service</key>
                <value>
                  <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                  <name>Metadata Provider Service</name>
                </value>
              </entry>
              <entry>
                <key>Feed Category</key>
                <value>
                  <name>Feed Category</name>
                </value>
              </entry>
              <entry>
                <key>Feed Name</key>
                <value>
                  <name>Feed Name</name>
                </value>
              </entry>
              <entry>
                <key>Namespace</key>
                <value>
                  <name>Namespace</name>
                </value>
              </entry>
              <entry>
                <key>hdfsFolders</key>
                <value>
                  <name>hdfsFolders</name>
                </value>
              </entry>
              <entry>
                <key>hiveSchema</key>
                <value>
                  <name>hiveSchema</name>
                </value>
              </entry>
              <entry>
                <key>hiveTableNames</key>
                <value>
                  <name>hiveTableNames</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Metadata Provider Service</key>
                <value>0d139072-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>Feed Category</key>
                <value>${category}</value>
              </entry>
              <entry>
                <key>Feed Name</key>
                <value>${feed}</value>
              </entry>
              <entry>
                <key>Namespace</key>
                <value>registration</value>
              </entry>
              <entry>
                <key>hdfsFolders</key>
                <value>${hive.ingest.root}/${category}
${hive.ingest.root}/${category}/${feed}
${hive.ingest.root}/${category}/${feed}/feed
${hive.ingest.root}/${category}/${feed}/valid
${hive.ingest.root}/${category}/${feed}/invalid
${hive.profile.root}/${category}
${hive.profile.root}/${category}/${feed}
${hive.profile.root}/${category}/${feed}/profile
${hive.master.root}/${category}/
${hive.master.root}/${category}/${feed}</value>
              </entry>
              <entry>
                <key>hiveSchema</key>
                <value>${category}</value>
              </entry>
              <entry>
                <key>hiveTableNames</key>
                <value>${feed}_feed
${feed}_valid
${feed}_invalid
${feed}_profile
${feed}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Record Metadata</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#da05ff</value>
            </entry>
          </style>
          <type>com.thinkbiganalytics.nifi.v2.metadata.PutFeedMetadata</type>
        </processors>
        <processors>
          <id>f8455e65-c133-422e-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>2406.114406598456</x>
            <y>1278.9126495455687</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>ApplicationJAR</key>
                <value>
                  <name>ApplicationJAR</name>
                </value>
              </entry>
              <entry>
                <key>Extra JARs</key>
                <value>
                  <name>Extra JARs</name>
                </value>
              </entry>
              <entry>
                <key>MainClass</key>
                <value>
                  <name>MainClass</name>
                </value>
              </entry>
              <entry>
                <key>MainArgs</key>
                <value>
                  <name>MainArgs</name>
                </value>
              </entry>
              <entry>
                <key>SparkMaster</key>
                <value>
                  <name>SparkMaster</name>
                </value>
              </entry>
              <entry>
                <key>SparkHome</key>
                <value>
                  <name>SparkHome</name>
                </value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>
                  <name>Max Wait Time</name>
                </value>
              </entry>
              <entry>
                <key>Driver Memory</key>
                <value>
                  <name>Driver Memory</name>
                </value>
              </entry>
              <entry>
                <key>Executor Memory</key>
                <value>
                  <name>Executor Memory</name>
                </value>
              </entry>
              <entry>
                <key>Number of Executors</key>
                <value>
                  <name>Number of Executors</name>
                </value>
              </entry>
              <entry>
                <key>Spark Application Name</key>
                <value>
                  <name>Spark Application Name</name>
                </value>
              </entry>
              <entry>
                <key>Executor Cores</key>
                <value>
                  <name>Executor Cores</name>
                </value>
              </entry>
              <entry>
                <key>Network Timeout</key>
                <value>
                  <name>Network Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>
                  <name>Hadoop Configuration Resources</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
                <value>
                  <name>Kerberos Principal</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
                <value>
                  <name>Kerberos Keytab</name>
                </value>
              </entry>
              <entry>
                <key>Yarn Queue</key>
                <value>
                  <name>Yarn Queue</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>ApplicationJAR</key>
                <value>
    /opt/nifi/current/lib/app/thinkbig-spark-job-profiler-jar-with-dependencies.jar
</value>
              </entry>
              <entry>
                <key>Extra JARs</key>
              </entry>
              <entry>
                <key>MainClass</key>
                <value>com.thinkbiganalytics.spark.dataprofiler.core.Profiler</value>
              </entry>
              <entry>
                <key>MainArgs</key>
                <value>table,${category}.${feed}_valid,10,${category}.${feed}_profile,${feedts}</value>
              </entry>
              <entry>
                <key>SparkMaster</key>
                <value>yarn-client</value>
              </entry>
              <entry>
                <key>SparkHome</key>
                <value>/usr/hdp/current/spark-client</value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>0 seconds</value>
              </entry>
              <entry>
                <key>Driver Memory</key>
                <value>512m</value>
              </entry>
              <entry>
                <key>Executor Memory</key>
                <value>512m</value>
              </entry>
              <entry>
                <key>Number of Executors</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Spark Application Name</key>
                <value>Profiler</value>
              </entry>
              <entry>
                <key>Executor Cores</key>
                <value>2</value>
              </entry>
              <entry>
                <key>Network Timeout</key>
                <value>120s</value>
              </entry>
              <entry>
                <key>Hadoop Configuration Resources</key>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
              </entry>
              <entry>
                <key>Yarn Queue</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Profile Data</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#0a70f5</value>
            </entry>
          </style>
          <type>com.thinkbiganalytics.nifi.v2.spark.ExecuteSparkJob</type>
        </processors>
        <processors>
          <id>fe67b22c-377f-47cf-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>1594.243939190078</x>
            <y>1259.5743203584911</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>ApplicationJAR</key>
                <value>
                  <name>ApplicationJAR</name>
                </value>
              </entry>
              <entry>
                <key>Extra JARs</key>
                <value>
                  <name>Extra JARs</name>
                </value>
              </entry>
              <entry>
                <key>MainClass</key>
                <value>
                  <name>MainClass</name>
                </value>
              </entry>
              <entry>
                <key>MainArgs</key>
                <value>
                  <name>MainArgs</name>
                </value>
              </entry>
              <entry>
                <key>SparkMaster</key>
                <value>
                  <name>SparkMaster</name>
                </value>
              </entry>
              <entry>
                <key>SparkHome</key>
                <value>
                  <name>SparkHome</name>
                </value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>
                  <name>Max Wait Time</name>
                </value>
              </entry>
              <entry>
                <key>Driver Memory</key>
                <value>
                  <name>Driver Memory</name>
                </value>
              </entry>
              <entry>
                <key>Executor Memory</key>
                <value>
                  <name>Executor Memory</name>
                </value>
              </entry>
              <entry>
                <key>Number of Executors</key>
                <value>
                  <name>Number of Executors</name>
                </value>
              </entry>
              <entry>
                <key>Spark Application Name</key>
                <value>
                  <name>Spark Application Name</name>
                </value>
              </entry>
              <entry>
                <key>Executor Cores</key>
                <value>
                  <name>Executor Cores</name>
                </value>
              </entry>
              <entry>
                <key>Network Timeout</key>
                <value>
                  <name>Network Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>
                  <name>Hadoop Configuration Resources</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
                <value>
                  <name>Kerberos Principal</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
                <value>
                  <name>Kerberos Keytab</name>
                </value>
              </entry>
              <entry>
                <key>Yarn Queue</key>
                <value>
                  <name>Yarn Queue</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>ApplicationJAR</key>
                <value>
    /opt/nifi/current/lib/app/thinkbig-spark-validate-cleanse-jar-with-dependencies.jar
</value>
              </entry>
              <entry>
                <key>Extra JARs</key>
              </entry>
              <entry>
                <key>MainClass</key>
                <value>com.thinkbiganalytics.spark.datavalidator.Validator</value>
              </entry>
              <entry>
                <key>MainArgs</key>
                <value>${category},${feed},${feedts},${table_field_policy_json_file}</value>
              </entry>
              <entry>
                <key>SparkMaster</key>
                <value>yarn-client</value>
              </entry>
              <entry>
                <key>SparkHome</key>
                <value>/usr/hdp/current/spark-client</value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>0 seconds</value>
              </entry>
              <entry>
                <key>Driver Memory</key>
                <value>512m</value>
              </entry>
              <entry>
                <key>Executor Memory</key>
                <value>512m</value>
              </entry>
              <entry>
                <key>Number of Executors</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Spark Application Name</key>
                <value>Validator</value>
              </entry>
              <entry>
                <key>Executor Cores</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Network Timeout</key>
                <value>120s</value>
              </entry>
              <entry>
                <key>Hadoop Configuration Resources</key>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
              </entry>
              <entry>
                <key>Yarn Queue</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Validate And Split Records</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#2cfa08</value>
            </entry>
          </style>
          <type>com.thinkbiganalytics.nifi.v2.spark.ExecuteSparkJob</type>
        </processors>
        <processors>
          <id>03c56da4-d0ef-4a0a-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>2378.100923876958</x>
            <y>280.39732787822066</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>
                  <name>Hadoop Configuration Resources</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
                <value>
                  <name>Kerberos Principal</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
                <value>
                  <name>Kerberos Keytab</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>
                  <name>Kerberos Relogin Period</name>
                </value>
              </entry>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Permissions umask</key>
                <value>
                  <name>Permissions umask</name>
                </value>
              </entry>
              <entry>
                <key>Remote Owner</key>
                <value>
                  <name>Remote Owner</name>
                </value>
              </entry>
              <entry>
                <key>Remote Group</key>
                <value>
                  <name>Remote Group</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>4 hours</value>
              </entry>
              <entry>
                <key>Directory</key>
                <value>${hive.ingest.root}/${category}
${hive.ingest.root}/${category}/${feed}
${hive.ingest.root}/${category}/${feed}/feed
${hive.ingest.root}/${category}/${feed}/valid
${hive.ingest.root}/${category}/${feed}/invalid
${hive.profile.root}/${category}
${hive.profile.root}/${category}/${feed}
${hive.profile.root}/${category}/${feed}/profile
${hive.master.root}
${hive.master.root}/${category}/
${hive.master.root}/${category}/${feed}
${hdfs.ingest.root}/${category}
${hdfs.ingest.root}/${category}/${feed}</value>
              </entry>
              <entry>
                <key>Permissions umask</key>
                <value>777</value>
              </entry>
              <entry>
                <key>Remote Owner</key>
                <value>nifi</value>
              </entry>
              <entry>
                <key>Remote Group</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>30 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Register HDFS Folders</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#da05ff</value>
            </entry>
          </style>
          <type>com.thinkbiganalytics.nifi.v2.hdfs.CreateHDFSFolder</type>
        </processors>
        <processors>
          <id>0ab18068-be17-4957-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>1593.95183949102</x>
            <y>1547.2884190450422</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>
                  <identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService>
                  <name>Database Connection Pooling Service</name>
                </value>
              </entry>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Source schema</key>
                <value>
                  <name>Source schema</name>
                </value>
              </entry>
              <entry>
                <key>Source table</key>
                <value>
                  <name>Source table</name>
                </value>
              </entry>
              <entry>
                <key>Target schema</key>
                <value>
                  <name>Target schema</name>
                </value>
              </entry>
              <entry>
                <key>Target table</key>
                <value>
                  <name>Target table</name>
                </value>
              </entry>
              <entry>
                <key>Feed partition value</key>
                <value>
                  <name>Feed partition value</name>
                </value>
              </entry>
              <entry>
                <key>Partition Specification</key>
                <value>
                  <name>Partition Specification</name>
                </value>
              </entry>
              <entry>
                <key>Field specification</key>
                <value>
                  <name>Field specification</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>0d13901d-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>Merge Strategy</key>
                <value>${metadata.table.targetMergeStrategy}</value>
              </entry>
              <entry>
                <key>Source schema</key>
                <value>${category}</value>
              </entry>
              <entry>
                <key>Source table</key>
                <value>${feed}_valid</value>
              </entry>
              <entry>
                <key>Target schema</key>
                <value>${category}</value>
              </entry>
              <entry>
                <key>Target table</key>
                <value>${feed}</value>
              </entry>
              <entry>
                <key>Feed partition value</key>
                <value>${feedts}</value>
              </entry>
              <entry>
                <key>Partition Specification</key>
                <value>${metadata.table.partitionSpecs}</value>
              </entry>
              <entry>
                <key>Field specification</key>
                <value>${metadata.table.fieldStructure}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Merge Table</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#2cfa08</value>
            </entry>
          </style>
          <type>com.thinkbiganalytics.nifi.v2.ingest.MergeTable</type>
        </processors>
        <processors>
          <id>10427e45-2e80-4b5a-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>3222.3560230803578</x>
            <y>507.23864016075015</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Metadata Service</key>
                <value>
                  <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                  <name>Metadata Service</name>
                </value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>
                  <name>System feed category</name>
                </value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>
                  <name>System feed name</name>
                </value>
              </entry>
              <entry>
                <key>Initialization Result</key>
                <value>
                  <name>Initialization Result</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Metadata Service</key>
                <value>0d139072-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>${category}</value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>${feed}</value>
              </entry>
              <entry>
                <key>Initialization Result</key>
                <value>FAILURE</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Initialization Failure</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#fa0303</value>
            </entry>
          </style>
          <type>com.thinkbiganalytics.nifi.v2.init.CompleteInitializeFeed</type>
        </processors>
        <processors>
          <id>201ac880-fa0c-4d87-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>683.13931594629</x>
            <y>-498.48981410449045</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>hdfs.ingest.root</key>
                <value>
                  <name>hdfs.ingest.root</name>
                </value>
              </entry>
              <entry>
                <key>hive.ingest.root</key>
                <value>
                  <name>hive.ingest.root</name>
                </value>
              </entry>
              <entry>
                <key>hive.master.root</key>
                <value>
                  <name>hive.master.root</name>
                </value>
              </entry>
              <entry>
                <key>hive.profile.root</key>
                <value>
                  <name>hive.profile.root</name>
                </value>
              </entry>
              <entry>
                <key>merge.correlation</key>
                <value>
                  <name>merge.correlation</name>
                </value>
              </entry>
              <entry>
                <key>skipHeader</key>
                <value>
                  <name>skipHeader</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>hdfs.ingest.root</key>
                <value>${hdfs.ingest.root:replaceEmpty('/etl')}</value>
              </entry>
              <entry>
                <key>hive.ingest.root</key>
                <value>${hive.ingest.root:replaceEmpty('/model.db')}</value>
              </entry>
              <entry>
                <key>hive.master.root</key>
                <value>${hive.master.root:replaceEmpty('/app/warehouse')}</value>
              </entry>
              <entry>
                <key>hive.profile.root</key>
                <value>${hive.profile.root:replaceEmpty('/model.db')}</value>
              </entry>
              <entry>
                <key>merge.correlation</key>
                <value>${category}.${feed}.correlation</value>
              </entry>
              <entry>
                <key>skipHeader</key>
                <value>${skipHeader:replaceEmpty('false')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Set Feed Defaults</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#11f237</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>396a9db3-be12-48cc-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>689.8235259321588</x>
            <y>750.0627694403522</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Metadata Service</key>
                <value>
                  <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                  <name>Metadata Service</name>
                </value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>
                  <name>System feed category</name>
                </value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>
                  <name>System feed name</name>
                </value>
              </entry>
              <entry>
                <key>High-Water Mark</key>
                <value>
                  <name>High-Water Mark</name>
                </value>
              </entry>
              <entry>
                <key>High-Water Mark Value Property Name</key>
                <value>
                  <name>High-Water Mark Value Property Name</name>
                </value>
              </entry>
              <entry>
                <key>Mode</key>
                <value>
                  <name>Mode</name>
                </value>
              </entry>
              <entry>
                <key>Release All</key>
                <value>
                  <name>Release All</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Metadata Service</key>
                <value>0d139072-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>${category}</value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>${feed}</value>
              </entry>
              <entry>
                <key>High-Water Mark</key>
                <value>highWaterMark</value>
              </entry>
              <entry>
                <key>High-Water Mark Value Property Name</key>
                <value>water.mark</value>
              </entry>
              <entry>
                <key>Mode</key>
                <value>REJECT</value>
              </entry>
              <entry>
                <key>Release All</key>
                <value>true</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Failed Flow - Release High Water Mark</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark</type>
        </processors>
        <processors>
          <id>39748bce-8aa1-4464-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>1588.1954900008</x>
            <y>25.318516692448142</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>feedts</key>
                <value>
                  <name>feedts</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>feedts</key>
                <value>${now():format('yyyyMMddHHmmss')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateTimestamp</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#11f237</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>3e4126d0-2a36-46cc-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>837.3086689139685</x>
            <y>1540.5825793898798</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Metadata Service</key>
                <value>
                  <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                  <name>Metadata Service</name>
                </value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>
                  <name>System feed category</name>
                </value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>
                  <name>System feed name</name>
                </value>
              </entry>
              <entry>
                <key>High-Water Mark</key>
                <value>
                  <name>High-Water Mark</name>
                </value>
              </entry>
              <entry>
                <key>High-Water Mark Value Property Name</key>
                <value>
                  <name>High-Water Mark Value Property Name</name>
                </value>
              </entry>
              <entry>
                <key>Mode</key>
                <value>
                  <name>Mode</name>
                </value>
              </entry>
              <entry>
                <key>Release All</key>
                <value>
                  <name>Release All</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Metadata Service</key>
                <value>0d139072-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>${category}</value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>${feed}</value>
              </entry>
              <entry>
                <key>High-Water Mark</key>
                <value>highWaterMark</value>
              </entry>
              <entry>
                <key>High-Water Mark Value Property Name</key>
                <value>water.mark</value>
              </entry>
              <entry>
                <key>Mode</key>
                <value>COMMIT</value>
              </entry>
              <entry>
                <key>Release All</key>
                <value>true</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Commit High Water Mark</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark</type>
        </processors>
        <processors>
          <id>40ca6cd7-541e-4d66-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>1592.850349627967</x>
            <y>1008.4249578857423</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Script Engine</key>
                <value>
                  <name>Script Engine</name>
                </value>
              </entry>
              <entry>
                <key>Script File</key>
                <value>
                  <name>Script File</name>
                </value>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>
                  <name>Script Body</name>
                </value>
              </entry>
              <entry>
                <key>Module Directory</key>
                <value>
                  <name>Module Directory</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Script Engine</key>
                <value>Groovy</value>
              </entry>
              <entry>
                <key>Script File</key>
              </entry>
              <entry>
                <key>Script Body</key>
                <value>def flowFile = session.get()
    if(!flowFile) return
    def json = flowFile.getAttribute("metadata.table.fieldPoliciesJson");
    def inputFolder = flowFile.getAttribute("spark.input_folder")
    def feed = flowFile.getAttribute("feed")
    def category = flowFile.getAttribute("category")
    def feedts = flowFile.getAttribute("feedts")
    def folder = new File(inputFolder + "/"+category+"/"+feed+"/"+feedts)
    // If it doesn't exist
    if( !folder.exists() ) {
    // Create all folders
    folder.mkdirs()
    }
    def jsonFile = new File(folder,feed+"_field_policy.json")
    jsonFile.write(json)
    flowFile = session.putAttribute(flowFile,"table_field_policy_json_file",jsonFile.getCanonicalPath())
    session.transfer(flowFile, REL_SUCCESS)
</value>
              </entry>
              <entry>
                <key>Module Directory</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Fetch field policies</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#11f237</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
          <id>43a0a809-e58b-452e-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>2380.3122013858615</x>
            <y>492.1266942312411</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>
                  <identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService>
                  <name>Database Connection Pooling Service</name>
                </value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>
                  <name>System feed category</name>
                </value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>
                  <name>System feed name</name>
                </value>
              </entry>
              <entry>
                <key>Table Type</key>
                <value>
                  <name>Table Type</name>
                </value>
              </entry>
              <entry>
                <key>Field specification</key>
                <value>
                  <name>Field specification</name>
                </value>
              </entry>
              <entry>
                <key>Partition specification</key>
                <value>
                  <name>Partition specification</name>
                </value>
              </entry>
              <entry>
                <key>Feed Table Storage Format</key>
                <value>
                  <name>Feed Table Storage Format</name>
                </value>
              </entry>
              <entry>
                <key>Target Table Format</key>
                <value>
                  <name>Target Table Format</name>
                </value>
              </entry>
              <entry>
                <key>Target Table Properties</key>
                <value>
                  <name>Target Table Properties</name>
                </value>
              </entry>
              <entry>
                <key>Feed Root Path</key>
                <value>
                  <name>Feed Root Path</name>
                </value>
              </entry>
              <entry>
                <key>Profile Root Path</key>
                <value>
                  <name>Profile Root Path</name>
                </value>
              </entry>
              <entry>
                <key>Master Root Path</key>
                <value>
                  <name>Master Root Path</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>0d13901d-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>${category}</value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>${feed}</value>
              </entry>
              <entry>
                <key>Table Type</key>
                <value>ALL</value>
              </entry>
              <entry>
                <key>Field specification</key>
                <value>${metadata.table.fieldStructure}</value>
              </entry>
              <entry>
                <key>Partition specification</key>
                <value>${metadata.table.partitionStructure}</value>
              </entry>
              <entry>
                <key>Feed Table Storage Format</key>
                <value>${metadata.table.feedFormat}</value>
              </entry>
              <entry>
                <key>Target Table Format</key>
                <value>${metadata.table.targetFormat}</value>
              </entry>
              <entry>
                <key>Target Table Properties</key>
                <value>${metadata.table.targetTblProperties}</value>
              </entry>
              <entry>
                <key>Feed Root Path</key>
                <value>${hive.ingest.root}</value>
              </entry>
              <entry>
                <key>Profile Root Path</key>
                <value>${hive.profile.root}</value>
              </entry>
              <entry>
                <key>Master Root Path</key>
                <value>${hive.master.root}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Register Tables</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#da05ff</value>
            </entry>
          </style>
          <type>com.thinkbiganalytics.nifi.v2.ingest.RegisterFeedTables</type>
        </processors>
        <processors>
          <id>4c8ca053-b348-4e18-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>2303.3778599515413</x>
            <y>1810.4645744630463</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>
                  <name>Hadoop Configuration Resources</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
                <value>
                  <name>Kerberos Principal</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
                <value>
                  <name>Kerberos Keytab</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>
                  <name>Kerberos Relogin Period</name>
                </value>
              </entry>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>4 hours</value>
              </entry>
              <entry>
                <key>Directory</key>
                <value>${hive.ingest.root}/${category}/${feed}/
${hive.master.root}/${category}/${feed}/
${hive.profile.root}/${category}/${feed}/
${hfds.ingest.root}/${category}/${feed}/</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Remove HDFS Folders</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#ff9900</value>
            </entry>
          </style>
          <type>com.thinkbiganalytics.nifi.v2.hdfs.RemoveHDFSFolder</type>
        </processors>
        <processors>
          <id>5302cc69-0b2f-44ec-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>522.5031323608681</x>
            <y>1813.906347493871</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>hdfs.ingest.root</key>
                <value>
                  <name>hdfs.ingest.root</name>
                </value>
              </entry>
              <entry>
                <key>hive.ingest.root</key>
                <value>
                  <name>hive.ingest.root</name>
                </value>
              </entry>
              <entry>
                <key>hive.master.root</key>
                <value>
                  <name>hive.master.root</name>
                </value>
              </entry>
              <entry>
                <key>hive.profile.root</key>
                <value>
                  <name>hive.profile.root</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>hdfs.ingest.root</key>
                <value>${hdfs.ingest.root:replaceEmpty('/etl')}</value>
              </entry>
              <entry>
                <key>hive.ingest.root</key>
                <value>${hive.ingest.root:replaceEmpty('/model.db')}</value>
              </entry>
              <entry>
                <key>hive.master.root</key>
                <value>${hive.master.root:replaceEmpty('/app/warehouse')}</value>
              </entry>
              <entry>
                <key>hive.profile.root</key>
                <value>${hive.profile.root:replaceEmpty('/model.db')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Set Cleanup Defaults</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>5d55ded2-c832-4302-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>2372.579721413327</x>
            <y>922.0393095824537</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Metadata Service</key>
                <value>
                  <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
                  <name>Metadata Service</name>
                </value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>
                  <name>System feed category</name>
                </value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>
                  <name>System feed name</name>
                </value>
              </entry>
              <entry>
                <key>Initialization Result</key>
                <value>
                  <name>Initialization Result</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Metadata Service</key>
                <value>0d139072-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>System feed category</key>
                <value>${category}</value>
              </entry>
              <entry>
                <key>System feed name</key>
                <value>${feed}</value>
              </entry>
              <entry>
                <key>Initialization Result</key>
                <value>SUCCESSFUL</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Record Initialization</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#da05ff</value>
            </entry>
          </style>
          <type>com.thinkbiganalytics.nifi.v2.init.CompleteInitializeFeed</type>
        </processors>
        <processors>
          <id>6383c37a-c393-4645-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>-151.54764345980152</x>
            <y>752.9201872924222</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>
                  <name>Create Missing Directories</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
                <value>
                  <name>Maximum File Count</name>
                </value>
              </entry>
              <entry>
                <key>Last Modified Time</key>
                <value>
                  <name>Last Modified Time</name>
                </value>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>
                  <name>Permissions</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>Group</key>
                <value>
                  <name>Group</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Directory</key>
                <value>/tmp/${category}/${feed}/${feedts}/failed</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>ignore</value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
              </entry>
              <entry>
                <key>Last Modified Time</key>
              </entry>
              <entry>
                <key>Permissions</key>
              </entry>
              <entry>
                <key>Owner</key>
              </entry>
              <entry>
                <key>Group</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Failed Flow</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#fa0303</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
          <id>75b7c5ab-be77-46f1-0000-000000000000</id>
          <parentGroupId>cf37472c-acc0-41fe-0000-000000000000</parentGroupId>
          <position>
            <x>1585.9692326224604</x>
            <y>530.2934680175783</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>
                  <name>Hadoop Configuration Resources</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
                <value>
                  <name>Kerberos Principal</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
                <value>
                  <name>Kerberos Keytab</name>
                </value>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>
                  <name>Kerberos Relogin Period</name>
                </value>
              </entry>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Block Size</key>
                <value>
                  <name>Block Size</name>
                </value>
              </entry>
              <entry>
                <key>IO Buffer Size</key>
                <value>
                  <name>IO Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replication</key>
                <value>
                  <name>Replication</name>
                </value>
              </entry>
              <entry>
                <key>Permissions umask</key>
                <value>
                  <name>Permissions umask</name>
                </value>
              </entry>
              <entry>
                <key>Remote Owner</key>
                <value>
                  <name>Remote Owner</name>
                </value>
              </entry>
              <entry>
                <key>Remote Group</key>
                <value>
                  <name>Remote Group</name>
                </value>
              </entry>
              <entry>
                <key>Compression codec</key>
                <value>
                  <name>Compression codec</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hadoop Configuration Resources</key>
                <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
              </entry>
              <entry>
                <key>Kerberos Principal</key>
              </entry>
              <entry>
                <key>Kerberos Keytab</key>
              </entry>
              <entry>
                <key>Kerberos Relogin Period</key>
                <value>4 hours</value>
              </entry>
              <entry>
                <key>Directory</key>
                <value>${hdfs.etl.root}/${category}/${feed}/${feedts}</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>replace</value>
              </entry>
              <entry>
                <key>Block Size</key>
              </entry>
              <entry>
                <key>IO Buffer Size</key>
              </entry>
              <entry>
                <key>Replication</key>
              </entry>
              <entry>
                <key>Permissions umask</key>
              </entry>
              <entry>
                <key>Remote Owner</key>
                <value>nifi</value>
              </entry>
              <entry>
                <key>Remote Group</key>
                <value>hdfs</value>
              </entry>
              <entry>
                <key>Compression codec</key>
                <value>NONE</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Upload to HDFS</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#2cfa08</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
      </contents>
      <name>standard-ingest</name>
    </processGroups>
    <processGroups>
      <id>54a8f137-1525-4f6f-0000-000000000000</id>
      <parentGroupId>2648f6cb-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>616.4999972667786</x>
        <y>616.4000000000001</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>be2cacc8-d285-4535-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>940af8f8-a9ca-43c9-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>eabd824b-31f3-4e5d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c6317e50-d0a9-4739-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>ae2dc245-17ee-4c61-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>1b36c728-d4bd-4d7f-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1a5da94e-37e0-4837-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>dd291936-f178-49e1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>95ca7ee6-c028-4205-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>208b09a1-edaf-43f8-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>eabd824b-31f3-4e5d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>ae2dc245-17ee-4c61-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>335bd688-5e9e-4ed4-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>458059ad-ac81-4cb6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>dd291936-f178-49e1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>33ac3afe-61d2-4fdc-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>489ac146-fc27-49bf-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>d9fe6806-2f65-4bea-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>3f4f25e8-02c6-48f2-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>d9fe6806-2f65-4bea-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>458059ad-ac81-4cb6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>4ffd3037-2f11-4b30-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>0</backPressureObjectThreshold>
          <destination>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>5ae5d540-4464-400f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>54a8f137-1525-4f6f-0000-000000000000</groupId>
            <id>940af8f8-a9ca-43c9-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>0d13901d-0158-1000-0000-000000000000</id>
          <parentGroupId>4c3842d5-6343-4fb2-0000-000000000000</parentGroupId>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Database Connection URL</key>
              <value>
                <name>Database Connection URL</name>
              </value>
            </entry>
            <entry>
              <key>Database Driver Class Name</key>
              <value>
                <name>Database Driver Class Name</name>
              </value>
            </entry>
            <entry>
              <key>Database Driver Jar Url</key>
              <value>
                <name>Database Driver Jar Url</name>
              </value>
            </entry>
            <entry>
              <key>Database User</key>
              <value>
                <name>Database User</name>
              </value>
            </entry>
            <entry>
              <key>Password</key>
              <value>
                <name>Password</name>
              </value>
            </entry>
            <entry>
              <key>Validation Query</key>
              <value>
                <name>Validation Query</name>
              </value>
            </entry>
            <entry>
              <key>Max Wait Time</key>
              <value>
                <name>Max Wait Time</name>
              </value>
            </entry>
            <entry>
              <key>Max Total Connections</key>
              <value>
                <name>Max Total Connections</name>
              </value>
            </entry>
            <entry>
              <key>Hadoop Configuration Resources</key>
              <value>
                <name>Hadoop Configuration Resources</name>
              </value>
            </entry>
            <entry>
              <key>Kerberos Principal</key>
              <value>
                <name>Kerberos Principal</name>
              </value>
            </entry>
            <entry>
              <key>Kerberos Keytab</key>
              <value>
                <name>Kerberos Keytab</name>
              </value>
            </entry>
          </descriptors>
          <name>Hive Thrift Service</name>
          <properties>
            <entry>
              <key>Database Connection URL</key>
              <value>jdbc:hive2://localhost:10000/default</value>
            </entry>
            <entry>
              <key>Database Driver Class Name</key>
              <value>org.apache.hive.jdbc.HiveDriver</value>
            </entry>
            <entry>
              <key>Database Driver Jar Url</key>
            </entry>
            <entry>
              <key>Database User</key>
              <value>nifi</value>
            </entry>
            <entry>
              <key>Password</key>
            </entry>
            <entry>
              <key>Validation Query</key>
              <value>show tables 'test'</value>
            </entry>
            <entry>
              <key>Max Wait Time</key>
              <value>500 millis</value>
            </entry>
            <entry>
              <key>Max Total Connections</key>
              <value>8</value>
            </entry>
            <entry>
              <key>Hadoop Configuration Resources</key>
            </entry>
            <entry>
              <key>Kerberos Principal</key>
            </entry>
            <entry>
              <key>Kerberos Keytab</key>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>com.thinkbiganalytics.nifi.v2.thrift.ThriftConnectionPool</type>
        </controllerServices>
        <controllerServices>
          <id>0d139066-0158-1000-0000-000000000000</id>
          <parentGroupId>4c3842d5-6343-4fb2-0000-000000000000</parentGroupId>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Database Connection URL</key>
              <value>
                <name>Database Connection URL</name>
              </value>
            </entry>
            <entry>
              <key>Database Driver Class Name</key>
              <value>
                <name>Database Driver Class Name</name>
              </value>
            </entry>
            <entry>
              <key>database-driver-locations</key>
              <value>
                <name>database-driver-locations</name>
              </value>
            </entry>
            <entry>
              <key>Database User</key>
              <value>
                <name>Database User</name>
              </value>
            </entry>
            <entry>
              <key>Password</key>
              <value>
                <name>Password</name>
              </value>
            </entry>
            <entry>
              <key>Max Wait Time</key>
              <value>
                <name>Max Wait Time</name>
              </value>
            </entry>
            <entry>
              <key>Max Total Connections</key>
              <value>
                <name>Max Total Connections</name>
              </value>
            </entry>
          </descriptors>
          <name>MySQL</name>
          <properties>
            <entry>
              <key>Database Connection URL</key>
              <value>jdbc:mysql://localhost</value>
            </entry>
            <entry>
              <key>Database Driver Class Name</key>
              <value>com.mysql.jdbc.Driver</value>
            </entry>
            <entry>
              <key>database-driver-locations</key>
              <value>file:///opt/nifi/mysql/mysql-connector-java-5.1.32.jar</value>
            </entry>
            <entry>
              <key>Database User</key>
              <value>root</value>
            </entry>
            <entry>
              <key>Password</key>
            </entry>
            <entry>
              <key>Max Wait Time</key>
              <value>500 millis</value>
            </entry>
            <entry>
              <key>Max Total Connections</key>
              <value>8</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <inputPorts>
          <id>95ca7ee6-c028-4205-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <position>
            <x>61.79315800885763</x>
            <y>542.2604880462131</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>elasticsearch-fulltext-input</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <inputPorts>
          <id>1b36c728-d4bd-4d7f-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <position>
            <x>41.36751966588946</x>
            <y>-57.284229001285155</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>elasticsearch-register-input</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
          <id>c5e99a0e-ee59-46fb-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <position>
            <x>406.11324216835396</x>
            <y>-179.79976290179778</y>
          </position>
          <height>396.84320068359375</height>
          <label>Register schema in ElasticSearch</label>
          <style>
            <entry>
              <key>background-color</key>
              <value>#bc8fff</value>
            </entry>
            <entry>
              <key>font-size</key>
              <value>18px</value>
            </entry>
          </style>
          <width>869.5535888671875</width>
        </labels>
        <labels>
          <id>02ce2483-c385-46f6-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <position>
            <x>542.6027526855469</x>
            <y>436.79865661621096</y>
          </position>
          <height>673.1553955078125</height>
          <label>Index Elasticsearch</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>18px</value>
            </entry>
          </style>
          <width>575.7344970703125</width>
        </labels>
        <processors>
          <id>940af8f8-a9ca-43c9-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <position>
            <x>509.74887369025805</x>
            <y>142.90337618865405</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Database Name Field</key>
                <value>
                  <name>Database Name Field</name>
                </value>
              </entry>
              <entry>
                <key>Database Owner Field</key>
                <value>
                  <name>Database Owner Field</name>
                </value>
              </entry>
              <entry>
                <key>Table Create Time Field</key>
                <value>
                  <name>Table Create Time Field</name>
                </value>
              </entry>
              <entry>
                <key>Table Name Field</key>
                <value>
                  <name>Table Name Field</name>
                </value>
              </entry>
              <entry>
                <key>Table Type Field</key>
                <value>
                  <name>Table Type Field</name>
                </value>
              </entry>
              <entry>
                <key>Column Name Field</key>
                <value>
                  <name>Column Name Field</name>
                </value>
              </entry>
              <entry>
                <key>Column Type Field</key>
                <value>
                  <name>Column Type Field</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Database Name Field</key>
                <value>NAME</value>
              </entry>
              <entry>
                <key>Database Owner Field</key>
                <value>OWNER_NAME</value>
              </entry>
              <entry>
                <key>Table Create Time Field</key>
                <value>CREATE_TIME</value>
              </entry>
              <entry>
                <key>Table Name Field</key>
                <value>TBL_NAME</value>
              </entry>
              <entry>
                <key>Table Type Field</key>
                <value>TBL_TYPE</value>
              </entry>
              <entry>
                <key>Column Name Field</key>
                <value>COLUMN_NAME</value>
              </entry>
              <entry>
                <key>Column Type Field</key>
                <value>TYPE_NAME</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Merge Metadata Columns</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>com.thinkbiganalytics.nifi.v2.elasticsearch.MergeHiveTableMetadata</type>
        </processors>
        <processors>
          <id>ae2dc245-17ee-4c61-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <position>
            <x>493.71038818359375</x>
            <y>-100.25872802734375</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                  <name>Database Connection Pooling Service</name>
                </value>
              </entry>
              <entry>
                <key>SQL select query</key>
                <value>
                  <name>SQL select query</name>
                </value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>
                  <name>Max Wait Time</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>0d139066-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>SQL select query</key>
                <value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE,
    c.COLUMN_NAME, c.TYPE_NAME
    FROM hive.COLUMNS_V2 c
    JOIN hive.SDS s on s.CD_ID = c.CD_ID
    JOIN  hive.TBLS t ON s.SD_ID=t.SD_ID
    JOIN  hive.DBS d on d.DB_ID = t.DB_ID
    where d.name = '${category}'and t.tbl_name like '${feed}%';</value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>0 seconds</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Query Hive Table Metadata</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
        </processors>
        <processors>
          <id>d9fe6806-2f65-4bea-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <position>
            <x>624.8822870578236</x>
            <y>894.5421494917094</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JSON container options</key>
                <value>
                  <name>JSON container options</name>
                </value>
              </entry>
              <entry>
                <key>Wrap Single Record</key>
                <value>
                  <name>Wrap Single Record</name>
                </value>
              </entry>
              <entry>
                <key>Avro schema</key>
                <value>
                  <name>Avro schema</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JSON container options</key>
                <value>array</value>
              </entry>
              <entry>
                <key>Wrap Single Record</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Avro schema</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Prepare ElasticSearch Format</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
        </processors>
        <processors>
          <id>dd291936-f178-49e1-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <position>
            <x>622.8391543904264</x>
            <y>495.4146730541316</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>indexColumns</key>
                <value>
                  <name>indexColumns</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to 'match' if all match</value>
              </entry>
              <entry>
                <key>indexColumns</key>
                <value>${metadata.table.fieldIndexString:isEmpty():not()}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Should Index?</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
          <id>eabd824b-31f3-4e5d-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <position>
            <x>1135.6363707401806</x>
            <y>-109.61042729048808</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JSON container options</key>
                <value>
                  <name>JSON container options</name>
                </value>
              </entry>
              <entry>
                <key>Wrap Single Record</key>
                <value>
                  <name>Wrap Single Record</name>
                </value>
              </entry>
              <entry>
                <key>Avro schema</key>
                <value>
                  <name>Avro schema</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JSON container options</key>
                <value>array</value>
              </entry>
              <entry>
                <key>Wrap Single Record</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Avro schema</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Convert Metadata SQL to JSON</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
        </processors>
        <processors>
          <id>458059ad-ac81-4cb6-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <position>
            <x>621.2150660396152</x>
            <y>688.0845254469942</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>
                  <identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService>
                  <name>Database Connection Pooling Service</name>
                </value>
              </entry>
              <entry>
                <key>SQL select query</key>
                <value>
                  <name>SQL select query</name>
                </value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>
                  <name>Max Wait Time</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Database Connection Pooling Service</key>
                <value>0d13901d-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>SQL select query</key>
                <value>select ${metadata.table.fieldIndexString} from ${category}.${feed}_valid where processing_dttm =
    ${feedts}</value>
              </entry>
              <entry>
                <key>Max Wait Time</key>
                <value>0 seconds</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Extract Feed Data</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQL</type>
        </processors>
        <processors>
          <id>489ac146-fc27-49bf-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <position>
            <x>621.0337565208475</x>
            <y>1091.5323396184633</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>IndexName</key>
                <value>
                  <name>IndexName</name>
                </value>
              </entry>
              <entry>
                <key>Type</key>
                <value>
                  <name>Type</name>
                </value>
              </entry>
              <entry>
                <key>HostName</key>
                <value>
                  <name>HostName</name>
                </value>
              </entry>
              <entry>
                <key>ClusterName</key>
                <value>
                  <name>ClusterName</name>
                </value>
              </entry>
              <entry>
                <key>IdField</key>
                <value>
                  <name>IdField</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>IndexName</key>
                <value>${category}</value>
              </entry>
              <entry>
                <key>Type</key>
                <value>${feed}</value>
              </entry>
              <entry>
                <key>HostName</key>
                <value>localhost</value>
              </entry>
              <entry>
                <key>ClusterName</key>
                <value>demo-cluster</value>
              </entry>
              <entry>
                <key>IdField</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Update ElasticSearch</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>com.thinkbiganalytics.nifi.v2.elasticsearch.IndexElasticSearch</type>
        </processors>
        <processors>
          <id>5ae5d540-4464-400f-0000-000000000000</id>
          <parentGroupId>54a8f137-1525-4f6f-0000-000000000000</parentGroupId>
          <position>
            <x>1131.773422502705</x>
            <y>144.5916536533437</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>IndexName</key>
                <value>
                  <name>IndexName</name>
                </value>
              </entry>
              <entry>
                <key>Type</key>
                <value>
                  <name>Type</name>
                </value>
              </entry>
              <entry>
                <key>HostName</key>
                <value>
                  <name>HostName</name>
                </value>
              </entry>
              <entry>
                <key>ClusterName</key>
                <value>
                  <name>ClusterName</name>
                </value>
              </entry>
              <entry>
                <key>IdField</key>
                <value>
                  <name>IdField</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>IndexName</key>
                <value>metadata</value>
              </entry>
              <entry>
                <key>Type</key>
                <value>hive-tables</value>
              </entry>
              <entry>
                <key>HostName</key>
                <value>localhost</value>
              </entry>
              <entry>
                <key>ClusterName</key>
                <value>demo-cluster</value>
              </entry>
              <entry>
                <key>IdField</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Index Metadata Elasticsearch</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>com.thinkbiganalytics.nifi.v2.elasticsearch.IndexElasticSearch</type>
        </processors>
      </contents>
      <name>index-elasticsearch</name>
    </processGroups>
  </snippet>
  <timestamp>11/03/2016 20:42:20 UTC</timestamp>
</template>