samples/reusable-templates/nifi-1.0/data-transformation.xml
<?xml version="1.0" ?>
<template>
  <description></description>
  <groupId>4c3842d5-6343-4fb2-a05f-c2549d052aa7</groupId>
  <name>data-transformation</name>
  <snippet>
    <connections>
      <id>807aafe2-8bfe-4637-be90-c5855936221c</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>395ebb68-e796-4153-9d93-c5528144ef4a</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>9d48e982-8c3e-4b85-b9bb-b38cac5d30bb</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>8e3c3411-72a0-4010-a996-130579ad4395</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>9cd52683-e96e-4df6-8378-2401f9db03f5</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>a9ff3a63-4050-4a2e-9733-d6043dd04b58</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a060e6bc-2666-4aea-ae8c-481de40f026d</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>37608d85-7e39-4274-baa1-ed605c8807af</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>72e11063-8712-49c4-8de3-fdd8683561d5</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a3cb8c3d-24e8-43a0-98a9-d91384088815</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>9d48e982-8c3e-4b85-b9bb-b38cac5d30bb</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>5d9ca1f8-7902-4b5e-a0c4-8272e023d900</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>aa3fced2-fab3-4c84-bef7-c46669d98eb2</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>2b54e035-d301-463f-9c9c-bf48949617d0</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>9cd52683-e96e-4df6-8378-2401f9db03f5</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>b5e192ed-e72e-451e-8bbf-c0e225bd40d3</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>56eb2c4d-2450-4a1d-9e99-f79523da660e</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>5d9ca1f8-7902-4b5e-a0c4-8272e023d900</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>d00c5ba7-91b8-4809-ba36-9cb7652a18eb</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>3ec3197c-09b7-45e4-8489-04062f77969c</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>37608d85-7e39-4274-baa1-ed605c8807af</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>eb2cba5d-c435-40f2-b004-f4aa4076028e</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>15dd42fc-ed6a-4b1a-b5fa-cb15cea53b42</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>Initialize</selectedRelationships>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>72e11063-8712-49c4-8de3-fdd8683561d5</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>1260a2a4-384f-4a0d-852d-475ae50e7e45</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>56eb2c4d-2450-4a1d-9e99-f79523da660e</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>395ebb68-e796-4153-9d93-c5528144ef4a</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4503a4ad-1b60-4d7f-a6f7-43aa8c58254a</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>5d9ca1f8-7902-4b5e-a0c4-8272e023d900</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>15dd42fc-ed6a-4b1a-b5fa-cb15cea53b42</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4bff7a11-22b9-4900-8abe-baccf17b713c</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>a9ff3a63-4050-4a2e-9733-d6043dd04b58</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>62b22510-7162-4343-9bed-8a2b45043bea</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4e9a73ce-b465-4d62-b025-2ed18eaf6dfa</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>56eb2c4d-2450-4a1d-9e99-f79523da660e</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>9d48e982-8c3e-4b85-b9bb-b38cac5d30bb</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>6d288553-c618-4333-abd4-9609d40a0238</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>72e11063-8712-49c4-8de3-fdd8683561d5</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>6ef10d11-3794-4f9e-aead-d92c9f8bffcf</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>72447d53-e790-4a13-9304-a0f6a72ec915</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>56eb2c4d-2450-4a1d-9e99-f79523da660e</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>15dd42fc-ed6a-4b1a-b5fa-cb15cea53b42</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7e3324da-0faf-43c1-9c44-f8125be31873</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>6ef10d11-3794-4f9e-aead-d92c9f8bffcf</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <source>
        <groupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</groupId>
        <id>268b7441-007e-4f88-ae4c-bccff5e30bee</id>
        <type>INPUT_PORT</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>81b8d7a8-8039-41ac-859e-cc25c9182319</id>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Hadoop Configuration Resources</key>
          <value>
            <name>Hadoop Configuration Resources</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
          <value>
            <name>Kerberos Keytab</name>
          </value>
        </entry>
        <entry>
          <key>Database Connection URL</key>
          <value>
            <name>Database Connection URL</name>
          </value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>
            <name>Max Wait Time</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>
            <name>Database Driver Class Name</name>
          </value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>
            <name>Database User</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Jar Url</key>
          <value>
            <name>Database Driver Jar Url</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
          <value>
            <name>Kerberos Principal</name>
          </value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>
            <name>Max Total Connections</name>
          </value>
        </entry>
        <entry>
          <key>Password</key>
          <value>
            <name>Password</name>
          </value>
        </entry>
        <entry>
          <key>Validation Query</key>
          <value>
            <name>Validation Query</name>
          </value>
        </entry>
      </descriptors>
      <name>Hive Thrift Service</name>
      <properties>
        <entry>
          <key>Hadoop Configuration Resources</key>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
        </entry>
        <entry>
          <key>Database Connection URL</key>
          <value>jdbc:hive2://localhost:10000/default</value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>500 millis</value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>org.apache.hive.jdbc.HiveDriver</value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>nifi</value>
        </entry>
        <entry>
          <key>Database Driver Jar Url</key>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>8</value>
        </entry>
        <entry>
          <key>Password</key>
        </entry>
        <entry>
          <key>Validation Query</key>
          <value>show tables 'test'</value>
        </entry>
      </properties>
      <referencingComponents>
        <id>565171d8-ea8d-4cbd-be01-68bd7b670405</id>
      </referencingComponents>
      <referencingComponents>
        <id>8e73c1c8-f90e-4f03-8412-70d30d84e4fb</id>
      </referencingComponents>
      <referencingComponents>
        <id>de7f2972-7d8e-4eb6-9a2f-f8c21f6f2417</id>
      </referencingComponents>
      <referencingComponents>
        <id>b040241b-612e-4413-a614-effd08ae0f6c</id>
      </referencingComponents>
      <referencingComponents>
        <id>0b1568b1-6186-46dc-ac70-3127c2b22a9d</id>
      </referencingComponents>
      <referencingComponents>
        <id>3943ba0a-779f-464e-95e1-0627ac83e570</id>
      </referencingComponents>
      <referencingComponents>
        <id>967e1bf2-a3ae-47ce-928b-c819d5f6b990</id>
      </referencingComponents>
      <referencingComponents>
        <id>09c2e681-9352-45d8-8eb4-a37e5e72743b</id>
      </referencingComponents>
      <referencingComponents>
        <id>ddd2fbbe-e80f-438d-b2d5-077923b23ae3</id>
      </referencingComponents>
      <referencingComponents>
        <id>2ffd762f-98c9-4d44-a834-aba6d9ee2e72</id>
      </referencingComponents>
      <referencingComponents>
        <id>78712b8f-373d-4a4f-82ae-a93831699095</id>
      </referencingComponents>
      <referencingComponents>
        <id>9cd52683-e96e-4df6-8378-2401f9db03f5</id>
      </referencingComponents>
      <referencingComponents>
        <id>63e2e53b-1b7f-41ca-a3c7-06688e3dc88f</id>
      </referencingComponents>
      <referencingComponents>
        <id>b0cfbc06-5dfc-4b10-b49b-25dce393dcb3</id>
      </referencingComponents>
      <referencingComponents>
        <id>f8cf3af2-ce9f-4a96-8442-06688ea9e32f</id>
      </referencingComponents>
      <referencingComponents>
        <id>6c4d5d93-2dfe-4d92-806a-ef1ed3951a12</id>
      </referencingComponents>
      <referencingComponents>
        <id>f20c0b5b-b8b9-494b-a06c-c7c5b9d0288d</id>
      </referencingComponents>
      <referencingComponents>
        <id>68ef6e24-2308-44dd-8915-e4ea8975f10f</id>
      </referencingComponents>
      <referencingComponents>
        <id>a7e84dbc-fe3d-4228-afc1-c9e97604c54a</id>
      </referencingComponents>
      <referencingComponents>
        <id>de936a44-514c-4d02-a664-00708a913cf6</id>
      </referencingComponents>
      <referencingComponents>
        <id>3459fd47-efee-4387-86c6-495d8dea7574</id>
      </referencingComponents>
      <referencingComponents>
        <id>c644d1e3-5efb-4786-9a38-b4940ead3765</id>
      </referencingComponents>
      <referencingComponents>
        <id>5ff8c496-c35b-4986-a91d-c22f7a99fa84</id>
      </referencingComponents>
      <referencingComponents>
        <id>89817b79-45f6-4d17-93b7-d2b777ae3cf9</id>
      </referencingComponents>
      <referencingComponents>
        <id>5d9ca1f8-7902-4b5e-a0c4-8272e023d900</id>
      </referencingComponents>
      <referencingComponents>
        <id>62bf17ec-84d5-459e-9fc3-c81b98436ad3</id>
      </referencingComponents>
      <referencingComponents>
        <id>b2360153-75fb-4077-b7ec-b9defc5bd099</id>
      </referencingComponents>
      <state>ENABLED</state>
      <type>com.thinkbiganalytics.nifi.v2.thrift.ThriftConnectionPool</type>
    </controllerServices>
    <controllerServices>
      <id>30c2c746-ad7d-457f-a0f9-a9ecf18fd2a6</id>
      <comments></comments>
      <descriptors>
        <entry>
          <key>client-password</key>
          <value>
            <name>client-password</name>
          </value>
        </entry>
        <entry>
          <key>client-username</key>
          <value>
            <name>client-username</name>
          </value>
        </entry>
        <entry>
          <key>Implementation</key>
          <value>
            <name>Implementation</name>
          </value>
        </entry>
        <entry>
          <key>rest-client-url</key>
          <value>
            <name>rest-client-url</name>
          </value>
        </entry>
      </descriptors>
      <name>Think Big Metadata Service</name>
      <properties>
        <entry>
          <key>client-password</key>
          <value></value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
        </entry>
        <entry>
          <key>client-username</key>
          <value>dladmin</value>
        </entry>
        <entry>
          <key>Implementation</key>
          <value>REMOTE</value>
        </entry>
        <entry>
          <key>rest-client-url</key>
          <value>http://localhost:8400/proxy/metadata</value>
        </entry>
      </properties>
      <referencingComponents>
        <id>a49e7630-037d-4d54-a5b1-8fbbbe2dd394</id>
      </referencingComponents>
      <referencingComponents>
        <id>4485d14f-0150-4aef-abdd-067b31d7bc4b</id>
      </referencingComponents>
      <referencingComponents>
        <id>abb05cec-2274-46cb-b611-ede3b9f9c3e6</id>
      </referencingComponents>
      <referencingComponents>
        <id>69d4755a-9ce2-456a-94ae-f983869e5db3</id>
      </referencingComponents>
      <referencingComponents>
        <id>b9e86af5-e110-4f43-b3ef-cdde413a9b36</id>
      </referencingComponents>
      <referencingComponents>
        <id>a9c4dcd4-d46b-4d57-a080-5d523d032eaf</id>
      </referencingComponents>
      <referencingComponents>
        <id>395ebb68-e796-4153-9d93-c5528144ef4a</id>
      </referencingComponents>
      <referencingComponents>
        <id>99351faa-0afd-4787-b186-9da810ce840e</id>
      </referencingComponents>
      <referencingComponents>
        <id>d5db0090-045a-435d-98b0-3947b41ba774</id>
      </referencingComponents>
      <referencingComponents>
        <id>72e11063-8712-49c4-8de3-fdd8683561d5</id>
      </referencingComponents>
      <referencingComponents>
        <id>90f8c98d-c49b-4464-b5dc-5aa716245a45</id>
      </referencingComponents>
      <referencingComponents>
        <id>47b10375-ccd2-40d3-9d15-abd879538fb3</id>
      </referencingComponents>
      <referencingComponents>
        <id>bdb5d49e-837f-4104-ab35-f624ff1c5174</id>
      </referencingComponents>
      <referencingComponents>
        <id>6cc6b83b-78f3-4614-87f0-bbe19cb4a3e7</id>
      </referencingComponents>
      <referencingComponents>
        <id>bd4e7f7d-9042-4533-bf1a-6aabe0e6621c</id>
      </referencingComponents>
      <referencingComponents>
        <id>00e375fb-4eb2-41f1-895d-9f77729ad839</id>
      </referencingComponents>
      <referencingComponents>
        <id>f7025d4e-4206-4f4c-9f22-f5de33759153</id>
      </referencingComponents>
      <referencingComponents>
        <id>29af90b9-ed6d-498b-b4d6-d40bc731d519</id>
      </referencingComponents>
      <referencingComponents>
        <id>75a5574b-8b10-41b5-89d4-ae2e7d273fd8</id>
      </referencingComponents>
      <referencingComponents>
        <id>75bb7505-f71d-4cbe-90b0-19894ec247c0</id>
      </referencingComponents>
      <referencingComponents>
        <id>f624ad6b-2443-4f18-ab0b-55b906822c06</id>
      </referencingComponents>
      <referencingComponents>
        <id>56eb2c4d-2450-4a1d-9e99-f79523da660e</id>
      </referencingComponents>
      <referencingComponents>
        <id>359810f8-a6aa-49d6-9f6d-2335ebc071d5</id>
      </referencingComponents>
      <referencingComponents>
        <id>ae967a7d-c179-4a20-a5f3-90dbb5338af0</id>
      </referencingComponents>
      <referencingComponents>
        <id>0af23fa3-af0b-4434-8c20-034d90d6277a</id>
      </referencingComponents>
      <referencingComponents>
        <id>46d10ea6-a4ce-43bf-a580-f9f30d5ba82e</id>
      </referencingComponents>
      <referencingComponents>
        <id>df33148a-2814-41db-82dd-02e41774bef9</id>
      </referencingComponents>
      <referencingComponents>
        <id>5b281e50-5d09-4100-ad1f-50fa181e6107</id>
      </referencingComponents>
      <referencingComponents>
        <id>9d0b99a0-4b3b-40ec-808b-1c01c592612e</id>
      </referencingComponents>
      <referencingComponents>
        <id>87550ed9-ac94-47b2-bc68-4a59e717358d</id>
      </referencingComponents>
      <referencingComponents>
        <id>45911786-f20c-4eae-a6f3-28d0a3b0ab30</id>
      </referencingComponents>
      <referencingComponents>
        <id>6a855948-c363-4e33-b839-a5a0f663287f</id>
      </referencingComponents>
      <referencingComponents>
        <id>f3917ad4-3b32-4c71-8e63-0c0212c5a709</id>
      </referencingComponents>
      <referencingComponents>
        <id>361f0217-e7ea-4561-8dff-5ab0bc2c3367</id>
      </referencingComponents>
      <referencingComponents>
        <id>9d48e982-8c3e-4b85-b9bb-b38cac5d30bb</id>
      </referencingComponents>
      <referencingComponents>
        <id>0df97307-67f8-403c-bc1c-43bfa508ae97</id>
      </referencingComponents>
      <referencingComponents>
        <id>dee1098d-6c21-43f1-9bb9-8943fe1734ef</id>
      </referencingComponents>
      <referencingComponents>
        <id>eebdd9cd-cdea-44a5-9cae-1f9004efc9c5</id>
      </referencingComponents>
      <referencingComponents>
        <id>96979751-7320-41a0-9b5c-ae73756d126f</id>
      </referencingComponents>
      <referencingComponents>
        <id>d14dd286-0ec3-42d6-9a4e-10b6bcc45329</id>
      </referencingComponents>
      <referencingComponents>
        <id>22e18153-9976-4f3f-a12c-9234b0936e72</id>
      </referencingComponents>
      <referencingComponents>
        <id>0d2288a8-75bd-4614-8a37-0f0cd67c9c07</id>
      </referencingComponents>
      <referencingComponents>
        <id>325cdc7e-a1b9-4f5f-a9b0-4575c1d85ae6</id>
      </referencingComponents>
      <referencingComponents>
        <id>52e25d4f-02a1-43a2-a208-53c3956b7ca7</id>
      </referencingComponents>
      <referencingComponents>
        <id>38c712f0-4d2c-40a2-b866-5e9f1cce5312</id>
      </referencingComponents>
      <referencingComponents>
        <id>f7b4c45c-0d96-4096-806b-aea88f3b2dc7</id>
      </referencingComponents>
      <referencingComponents>
        <id>d7edc25b-b2fb-438e-8301-da74b52f7dc4</id>
      </referencingComponents>
      <referencingComponents>
        <id>b6b7c67a-9305-43f6-8e98-29d464075a42</id>
      </referencingComponents>
      <state>ENABLED</state>
      <type>com.thinkbiganalytics.nifi.v2.core.metadata.MetadataProviderSelectorService</type>
    </controllerServices>
    <inputPorts>
      <id>268b7441-007e-4f88-ae4c-bccff5e30bee</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>87.67955252418028</x>
        <y>10.0</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>wrangler-input-port</name>
      <state>RUNNING</state>
      <type>INPUT_PORT</type>
    </inputPorts>
    <inputPorts>
      <id>62b22510-7162-4343-9bed-8a2b45043bea</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>100.44153217235134</x>
        <y>864.0121495909948</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>wrangler-cleanup-port</name>
      <state>RUNNING</state>
      <type>INPUT_PORT</type>
    </inputPorts>
    <labels>
      <id>957a4037-0339-49a6-9530-2b18bb7ba347</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>1072.0997582641867</x>
        <y>81.3140105923967</y>
      </position>
      <height>663.7088012695312</height>
      <label>One-time registration</label>
      <style>
        <entry>
          <key>background-color</key>
          <value>#dbdbdb</value>
        </entry>
        <entry>
          <key>font-size</key>
          <value>18px</value>
        </entry>
      </style>
      <width>941.4903564453125</width>
    </labels>
    <labels>
      <id>fa853c4f-ea44-491c-85bf-d11225ab52ca</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>465.0938284446315</x>
        <y>806.6012904118147</y>
      </position>
      <height>151.09307861328125</height>
      <label>Cleanup</label>
      <style>
        <entry>
          <key>background-color</key>
          <value>#dbdbdb</value>
        </entry>
        <entry>
          <key>font-size</key>
          <value>18px</value>
        </entry>
      </style>
      <width>1449.6756591796875</width>
    </labels>
    <processors>
      <id>9cd52683-e96e-4df6-8378-2401f9db03f5</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>1039.2949592019809</x>
        <y>841.2356728071213</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Table Type</key>
            <value>
              <name>Table Type</name>
            </value>
          </entry>
          <entry>
            <key>Additional Tables</key>
            <value>
              <name>Additional Tables</name>
            </value>
          </entry>
          <entry>
            <key>System feed category</key>
            <value>
              <name>System feed category</name>
            </value>
          </entry>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService>
              <name>Database Connection Pooling Service</name>
            </value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>
              <name>System feed name</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Table Type</key>
            <value>MASTER</value>
          </entry>
          <entry>
            <key>Additional Tables</key>
          </entry>
          <entry>
            <key>System feed category</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>81b8d7a8-8039-41ac-859e-cc25c9182319</value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>${feed}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Drop Feed Tables</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#ff9900</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.ingest.DropFeedTables</type>
    </processors>
    <processors>
      <id>9d48e982-8c3e-4b85-b9bb-b38cac5d30bb</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>1097.7838566313806</x>
        <y>441.8049536033982</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
              <name>Metadata Provider Service</name>
            </value>
          </entry>
          <entry>
            <key>Feed Name</key>
            <value>
              <name>Feed Name</name>
            </value>
          </entry>
          <entry>
            <key>hiveTableNames</key>
            <value>
              <name>hiveTableNames</name>
            </value>
          </entry>
          <entry>
            <key>hiveSchema</key>
            <value>
              <name>hiveSchema</name>
            </value>
          </entry>
          <entry>
            <key>Namespace</key>
            <value>
              <name>Namespace</name>
            </value>
          </entry>
          <entry>
            <key>Feed Category</key>
            <value>
              <name>Feed Category</name>
            </value>
          </entry>
          <entry>
            <key>hdfsFolders</key>
            <value>
              <name>hdfsFolders</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>30c2c746-ad7d-457f-a0f9-a9ecf18fd2a6</value>
          </entry>
          <entry>
            <key>Feed Name</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>hiveTableNames</key>
            <value>${feed}_feed
${feed}_valid
${feed}_invalid
${feed}_profile
${feed}</value>
          </entry>
          <entry>
            <key>hiveSchema</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Namespace</key>
            <value>metadata</value>
          </entry>
          <entry>
            <key>Feed Category</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>hdfsFolders</key>
            <value>${hive.master.root}/${category}/
${hive.master.root}/${category}/${feed}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Record Metadata</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#da05ff</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.metadata.PutFeedMetadata</type>
    </processors>
    <processors>
      <id>a9ff3a63-4050-4a2e-9733-d6043dd04b58</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>485.46553735969064</x>
        <y>841.1208108637361</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>hive.profile.root</key>
            <value>
              <name>hive.profile.root</name>
            </value>
          </entry>
          <entry>
            <key>hdfs.ingest.root</key>
            <value>
              <name>hdfs.ingest.root</name>
            </value>
          </entry>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>hive.ingest.root</key>
            <value>
              <name>hive.ingest.root</name>
            </value>
          </entry>
          <entry>
            <key>hive.master.root</key>
            <value>
              <name>hive.master.root</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>hive.profile.root</key>
            <value>${hive.profile.root:replaceEmpty('/model.db')}</value>
          </entry>
          <entry>
            <key>hdfs.ingest.root</key>
            <value>${hdfs.ingest.root:replaceEmpty('/etl')}</value>
          </entry>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>hive.ingest.root</key>
            <value>${hive.ingest.root:replaceEmpty('/model.db')}</value>
          </entry>
          <entry>
            <key>hive.master.root</key>
            <value>${hive.master.root:replaceEmpty('/app/warehouse')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Set Cleanup Defaults</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#ff9900</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>15dd42fc-ed6a-4b1a-b5fa-cb15cea53b42</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>1095.458588149063</x>
        <y>125.02859961546619</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Permissions umask</key>
            <value>777</value>
          </entry>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>nifi</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Directory</key>
            <value>${hive.master.root}
${hive.master.root}/${category}/
${hive.master.root}/${category}/${feed}/</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>30 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Register HDFS Folders</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#da05ff</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.hdfs.CreateHDFSFolder</type>
    </processors>
    <processors>
      <id>2b54e035-d301-463f-9c9c-bf48949617d0</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>1571.4899529214413</x>
        <y>834.0081798505416</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>${hive.ingest.root}/${category}/${feed}/
${hive.master.root}/${category}/${feed}/</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Remove HDFS Folders</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#ff9900</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.hdfs.RemoveHDFSFolder</type>
    </processors>
    <processors>
      <id>37608d85-7e39-4274-baa1-ed605c8807af</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>544.1120006885562</x>
        <y>328.4117231173708</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Script File</key>
            <value>
              <name>Script File</name>
            </value>
          </entry>
          <entry>
            <key>Script Engine</key>
            <value>
              <name>Script Engine</name>
            </value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
              <name>Script Body</name>
            </value>
          </entry>
          <entry>
            <key>Module Directory</key>
            <value>
              <name>Module Directory</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Script File</key>
          </entry>
          <entry>
            <key>Script Engine</key>
            <value>Groovy</value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>// Get flow file
def flowFile = session.get()
if (!flowFile) return
// Create output directory
def inputFolder = flowFile.getAttribute("spark.input_folder")
def folder = new File(inputFolder)
if (!folder.exists()) folder.mkdirs()
// Write script
def script = flowFile.getAttribute("transform_script")
def category = flowFile.getAttribute("category")
def feed = flowFile.getAttribute("feed")
def tableName = category+"."+feed;
def scalaFile = new File(folder, "transform_script.scala")
scalaFile.write(script + ".write.mode(SaveMode.Overwrite).insertInto(\"" + tableName + "\")")
// Output file path
flowFile = session.putAttribute(flowFile, "transform_script_file", scalaFile.getCanonicalPath())
session.transfer(flowFile, REL_SUCCESS)
</value>
          </entry>
          <entry>
            <key>Module Directory</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Prepare Script</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#2bff05</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.script.ExecuteScript</type>
    </processors>
    <processors>
      <id>395ebb68-e796-4153-9d93-c5528144ef4a</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>1098.2317955414703</x>
        <y>603.1149343246952</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>System feed category</key>
            <value>
              <name>System feed category</name>
            </value>
          </entry>
          <entry>
            <key>Initialization Result</key>
            <value>
              <name>Initialization Result</name>
            </value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>
              <name>System feed name</name>
            </value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
              <name>Metadata Service</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>System feed category</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Initialization Result</key>
            <value>SUCCESSFUL</value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>30c2c746-ad7d-457f-a0f9-a9ecf18fd2a6</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Record Initialization</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#da05ff</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.init.CompleteInitializeFeed</type>
    </processors>
    <processors>
      <id>3ec3197c-09b7-45e4-8489-04062f77969c</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>545.0833141651187</x>
        <y>534.5431928439334</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>SparkHome</key>
            <value>
              <name>SparkHome</name>
            </value>
          </entry>
          <entry>
            <key>Executor Memory</key>
            <value>
              <name>Executor Memory</name>
            </value>
          </entry>
          <entry>
            <key>Yarn Queue</key>
            <value>
              <name>Yarn Queue</name>
            </value>
          </entry>
          <entry>
            <key>ApplicationJAR</key>
            <value>
              <name>ApplicationJAR</name>
            </value>
          </entry>
          <entry>
            <key>Max Wait Time</key>
            <value>
              <name>Max Wait Time</name>
            </value>
          </entry>
          <entry>
            <key>MainArgs</key>
            <value>
              <name>MainArgs</name>
            </value>
          </entry>
          <entry>
            <key>Spark Application Name</key>
            <value>
              <name>Spark Application Name</name>
            </value>
          </entry>
          <entry>
            <key>Extra JARs</key>
            <value>
              <name>Extra JARs</name>
            </value>
          </entry>
          <entry>
            <key>MainClass</key>
            <value>
              <name>MainClass</name>
            </value>
          </entry>
          <entry>
            <key>Executor Cores</key>
            <value>
              <name>Executor Cores</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>SparkMaster</key>
            <value>
              <name>SparkMaster</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Number of Executors</key>
            <value>
              <name>Number of Executors</name>
            </value>
          </entry>
          <entry>
            <key>Driver Memory</key>
            <value>
              <name>Driver Memory</name>
            </value>
          </entry>
          <entry>
            <key>Network Timeout</key>
            <value>
              <name>Network Timeout</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
          </entry>
          <entry>
            <key>SparkHome</key>
            <value>/usr/hdp/current/spark-client</value>
          </entry>
          <entry>
            <key>Executor Memory</key>
            <value>512m</value>
          </entry>
          <entry>
            <key>Yarn Queue</key>
          </entry>
          <entry>
            <key>ApplicationJAR</key>
            <value>/opt/nifi/current/lib/app/thinkbig-spark-interpreter-jar-with-dependencies.jar</value>
          </entry>
          <entry>
            <key>Max Wait Time</key>
            <value>0 seconds</value>
          </entry>
          <entry>
            <key>MainArgs</key>
            <value>${transform_script_file}</value>
          </entry>
          <entry>
            <key>Spark Application Name</key>
            <value>TransformApp</value>
          </entry>
          <entry>
            <key>Extra JARs</key>
          </entry>
          <entry>
            <key>MainClass</key>
            <value>com.thinkbiganalytics.spark.interpreter.App</value>
          </entry>
          <entry>
            <key>Executor Cores</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
          </entry>
          <entry>
            <key>SparkMaster</key>
            <value>local</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
          </entry>
          <entry>
            <key>Number of Executors</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Driver Memory</key>
            <value>512m</value>
          </entry>
          <entry>
            <key>Network Timeout</key>
            <value>120s</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Execute Script</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#2bff05</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.spark.ExecuteSparkJob</type>
    </processors>
    <processors>
      <id>56eb2c4d-2450-4a1d-9e99-f79523da660e</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>1627.4385389705321</x>
        <y>371.9148113067349</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>System feed category</key>
            <value>
              <name>System feed category</name>
            </value>
          </entry>
          <entry>
            <key>Initialization Result</key>
            <value>
              <name>Initialization Result</name>
            </value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>
              <name>System feed name</name>
            </value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
              <name>Metadata Service</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>System feed category</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Initialization Result</key>
            <value>FAILURE</value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>30c2c746-ad7d-457f-a0f9-a9ecf18fd2a6</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Initialization Failure</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#f20909</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.init.CompleteInitializeFeed</type>
    </processors>
    <processors>
      <id>5d9ca1f8-7902-4b5e-a0c4-8272e023d900</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>1098.1279635846863</x>
        <y>283.0355894311531</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Target Table Properties</key>
            <value>
              <name>Target Table Properties</name>
            </value>
          </entry>
          <entry>
            <key>Table Type</key>
            <value>
              <name>Table Type</name>
            </value>
          </entry>
          <entry>
            <key>System feed category</key>
            <value>
              <name>System feed category</name>
            </value>
          </entry>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService>
              <name>Database Connection Pooling Service</name>
            </value>
          </entry>
          <entry>
            <key>Master Root Path</key>
            <value>
              <name>Master Root Path</name>
            </value>
          </entry>
          <entry>
            <key>Feed Table Storage Format</key>
            <value>
              <name>Feed Table Storage Format</name>
            </value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>
              <name>System feed name</name>
            </value>
          </entry>
          <entry>
            <key>Feed Root Path</key>
            <value>
              <name>Feed Root Path</name>
            </value>
          </entry>
          <entry>
            <key>Profile Root Path</key>
            <value>
              <name>Profile Root Path</name>
            </value>
          </entry>
          <entry>
            <key>Partition specification</key>
            <value>
              <name>Partition specification</name>
            </value>
          </entry>
          <entry>
            <key>Field specification</key>
            <value>
              <name>Field specification</name>
            </value>
          </entry>
          <entry>
            <key>Target Table Format</key>
            <value>
              <name>Target Table Format</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Target Table Properties</key>
            <value>${metadata.table.targetTblProperties}</value>
          </entry>
          <entry>
            <key>Table Type</key>
            <value>MASTER</value>
          </entry>
          <entry>
            <key>System feed category</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>81b8d7a8-8039-41ac-859e-cc25c9182319</value>
          </entry>
          <entry>
            <key>Master Root Path</key>
            <value>${hive.master.root}</value>
          </entry>
          <entry>
            <key>Feed Table Storage Format</key>
            <value>${metadata.table.feedFormat}</value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>Feed Root Path</key>
            <value>${hive.ingest.root}</value>
          </entry>
          <entry>
            <key>Profile Root Path</key>
            <value>${hive.profile.root}</value>
          </entry>
          <entry>
            <key>Partition specification</key>
            <value>${metadata.table.partitionStructure}</value>
          </entry>
          <entry>
            <key>Field specification</key>
            <value>${metadata.table.fieldStructure}</value>
          </entry>
          <entry>
            <key>Target Table Format</key>
            <value>${metadata.table.targetFormat}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Register Tables</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#da05ff</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.ingest.RegisterFeedTables</type>
    </processors>
    <processors>
      <id>6ef10d11-3794-4f9e-aead-d92c9f8bffcf</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>10.0</x>
        <y>129.19832836629098</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>hive.profile.root</key>
            <value>
              <name>hive.profile.root</name>
            </value>
          </entry>
          <entry>
            <key>hdfs.ingest.root</key>
            <value>
              <name>hdfs.ingest.root</name>
            </value>
          </entry>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>hive.ingest.root</key>
            <value>
              <name>hive.ingest.root</name>
            </value>
          </entry>
          <entry>
            <key>hive.master.root</key>
            <value>
              <name>hive.master.root</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>hive.profile.root</key>
            <value>${hive.profile.root:replaceEmpty('/model.db')}</value>
          </entry>
          <entry>
            <key>hdfs.ingest.root</key>
            <value>${hdfs.ingest.root:replaceEmpty('/etl')}</value>
          </entry>
          <entry>
            <key>Delete Attributes Expression</key>
          </entry>
          <entry>
            <key>hive.ingest.root</key>
            <value>${hive.ingest.root:replaceEmpty('/model.db')}</value>
          </entry>
          <entry>
            <key>hive.master.root</key>
            <value>${hive.master.root:replaceEmpty('/app/warehouse')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Set Feed Defaults</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#2bff05</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>72e11063-8712-49c4-8de3-fdd8683561d5</id>
      <parentGroupId>f16d50de-c37b-4ad8-8c31-1275ec7da3a3</parentGroupId>
      <position>
        <x>539.8134202314233</x>
        <y>129.39455253821603</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>System feed category</key>
            <value>
              <name>System feed category</name>
            </value>
          </entry>
          <entry>
            <key>Initialization Retry Delay (seconds)</key>
            <value>
              <name>Initialization Retry Delay (seconds)</name>
            </value>
          </entry>
          <entry>
            <key>Max Initialization Attempts</key>
            <value>
              <name>Max Initialization Attempts</name>
            </value>
          </entry>
          <entry>
            <key>Initialization Failure Strategy</key>
            <value>
              <name>Initialization Failure Strategy</name>
            </value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>
              <name>System feed name</name>
            </value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService>
              <name>Metadata Service</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>System feed category</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Initialization Retry Delay (seconds)</key>
            <value>15</value>
          </entry>
          <entry>
            <key>Max Initialization Attempts</key>
            <value>40</value>
          </entry>
          <entry>
            <key>Initialization Failure Strategy</key>
            <value>RETRY</value>
          </entry>
          <entry>
            <key>System feed name</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>Metadata Service</key>
            <value>30c2c746-ad7d-457f-a0f9-a9ecf18fd2a6</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Initialize Feed?</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>Initialize</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#2bff05</value>
        </entry>
      </style>
      <type>com.thinkbiganalytics.nifi.v2.init.InitializeFeed</type>
    </processors>
  </snippet>
  <timestamp>11/03/2016 18:04:54 UTC</timestamp>
</template>