services/catalog-service/catalog-core/src/main/resources/catalog-connector-plugins.json
[
  {
    "title": "Hive",
    "pluginId": "hive",
    "format": "hive",
    "tabs": [
      {
        "label": "Connection",
        "sref": ".connection"
      }
    ]
  },
  {
    "title": "File Upload",
    "pluginId": "file-upload",
    "tabs": [
      {
        "label": "Files",
        "sref": ".upload"
      }
    ],
    "options": [
      {
        "key": "path",
        "label": "Path",
        "validators": [
          {
            "type": "url"
          }
        ]
      }
    ],
    "nifiProperties": [
      {
        "processorTypes": ["org.apache.nifi.processors.standard.FetchFile"],
        "properties": {
          "File to Fetch": "{{ paths[0].substring(5) }}"
        }
      },
      {
        "processorTypes": ["org.apache.nifi.processors.standard.GetFile"],
        "properties": {
          "Input Directory": "{{ paths[0].substring(5, paths[0].lastIndexOf('/')) }}",
          "File Filter": "[^\\.].*"
        }
      }
    ]
  },
  {
    "title": "HDFS",
    "pluginId": "hdfs",
    "tabs": [
      {
        "label": "Files",
        "sref": ".browse"
      }
    ],
    "options": [
      {
        "key": "path",
        "label": "Path",
        "validators": [
          {
            "type": "url",
            "params": {
              "protocol": "hdfs:"
            }
          }
        ]
      }
    ]
  },
  {
    "title": "JDBC",
    "pluginId": "jdbc",
    "format": "jdbc",
    "tabs": [
      {
        "label": "Connection",
        "sref": ".connection"
      }
    ],
    "options": [
      {
        "key": "driver",
        "label": "Driver"
      },
      {
        "key": "url",
        "label": "Url",
        "validators": [
          {
            "type": "url",
            "params": {
              "protocol": "jdbc:"
            }
          }
        ]
      },
      {
        "key": "user",
        "label": "User"
      },
      {
        "key": "password",
        "type": "password",
        "label": "Password"
      }
    ],
    "nifiControllerService": {
      "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
      "properties": {
        "Database Connection URL": "${url}",
        "Database Driver Class Name": "${driver}",
        "database-driver-locations": "${jars}",
        "Database User": "${user}",
        "Password": "${password}"
      }
    },
    "nifiProperties": [
      {
        "processorTypes": ["com.thinkbiganalytics.nifi.GetTableData", "com.thinkbiganalytics.nifi.v2.ingest.GetTableData"],
        "properties": {
          "Source Database Connection": "{{ dataSource.nifiControllerServiceId }}",
          "Source Table": "{{ options.dbname }}"
        }
      },
      {
        "processorTypes": ["com.thinkbiganalytics.nifi.v2.sqoop.core.ImportSqoop"],
        "properties": {
          "Source Connection Service": "{{ dataSource.nifiControllerServiceId }}",
          "Source Table": "{{ options.dbname }}"
        }
      }
    ]
  },
  {
    "title": "Local File System",
    "pluginId": "local-file-system",
    "tabs": [
      {
        "label": "File",
        "sref": ".browse"
      }
    ],
    "options": [
      {
        "key": "path",
        "label": "Path",
        "validators": [
          {
            "type": "url",
            "params": {
              "protocol": "file:"
            }
          }
        ]
      }
    ],
    "nifiProperties": [
      {
        "processorTypes": ["org.apache.nifi.processors.standard.FetchFile"],
        "properties": {
          "File to Fetch": "{{ paths[0].substring(5) }}"
        }
      },
      {
        "processorTypes": ["org.apache.nifi.processors.standard.GetFile"],
        "properties": {
          "Input Directory": "{{ paths[0].substring(5, paths[0].lastIndexOf('/')) }}",
          "File Filter": "{{ paths[0].substring(paths[0].lastIndexOf('/') + 1) }}"
        }
      }
    ]
  }
]
