integrations/nifi/nifi-nar-bundles/nifi-standard-services/nifi-core-service-bundle/nifi-core-service/src/test/resources/Get_and_Put_File_with_Wait.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><!--
  ~ Copyright (c) 2016. Teradata Inc.
  -->

<template>
    <description></description>
    <name>Get and Put File with Wait</name>
    <snippet>
        <connections>
            <id>029b1bcc-f1a7-403b-a676-877a3fe671a5</id>
            <parentGroupId>6c4fe945-d54d-4efb-8406-68765d6cf440</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>6c4fe945-d54d-4efb-8406-68765d6cf440</groupId>
                <id>9059814c-15f5-4fa7-aba7-912685c0c038</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>6c4fe945-d54d-4efb-8406-68765d6cf440</groupId>
                <id>13aced55-367f-4bcc-bbfc-9edec907ce56</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fe5eb728-e160-4b76-9eca-8705f81b1d02</id>
            <parentGroupId>6c4fe945-d54d-4efb-8406-68765d6cf440</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>6c4fe945-d54d-4efb-8406-68765d6cf440</groupId>
                <id>366dcd28-6ebf-463a-9895-ceb615713263</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>6c4fe945-d54d-4efb-8406-68765d6cf440</groupId>
                <id>13aced55-367f-4bcc-bbfc-9edec907ce56</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8e523171-9f7d-4fad-9628-60617853a67e</id>
            <parentGroupId>6c4fe945-d54d-4efb-8406-68765d6cf440</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>6c4fe945-d54d-4efb-8406-68765d6cf440</groupId>
                <id>13aced55-367f-4bcc-bbfc-9edec907ce56</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>6c4fe945-d54d-4efb-8406-68765d6cf440</groupId>
                <id>8a9e60fa-718a-4277-8d1e-905fa6a682f1</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>8a9e60fa-718a-4277-8d1e-905fa6a682f1</id>
            <parentGroupId>6c4fe945-d54d-4efb-8406-68765d6cf440</parentGroupId>
            <position>
                <x>-117.4052505493164</x>
                <y>87.85875701904297</y>
            </position>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <defaultConcurrentTasks>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                    </entry>
                </defaultConcurrentTasks>
                <defaultSchedulingPeriod>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                    </entry>
                </defaultSchedulingPeriod>
                <descriptors>
                    <entry>
                        <key>Keep Source File</key>
                        <value>
                            <allowableValues>
                                <displayName>true</displayName>
                                <value>true</value>
                            </allowableValues>
                            <allowableValues>
                                <displayName>false</displayName>
                                <value>false</value>
                            </allowableValues>
                            <defaultValue>false</defaultValue>
                            <description>If true, the file is not deleted after it has been copied to the Content
                                Repository; this causes the file to be picked up continually and is useful for testing
                                purposes. If not keeping original NiFi will need write permissions on the directory it
                                is pulling from otherwise it will ignore the file.
                            </description>
                            <displayName>Keep Source File</displayName>
                            <dynamic>false</dynamic>
                            <name>Keep Source File</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <defaultValue>10</defaultValue>
                            <description>The maximum number of files to pull in each iteration</description>
                            <displayName>Batch Size</displayName>
                            <dynamic>false</dynamic>
                            <name>Batch Size</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <defaultValue>0 sec</defaultValue>
                            <description>The minimum age that a file must be in order to be pulled; any file younger
                                than this amount of time (according to last modification date) will be ignored
                            </description>
                            <displayName>Minimum File Age</displayName>
                            <dynamic>false</dynamic>
                            <name>Minimum File Age</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <allowableValues>
                                <displayName>true</displayName>
                                <value>true</value>
                            </allowableValues>
                            <allowableValues>
                                <displayName>false</displayName>
                                <value>false</value>
                            </allowableValues>
                            <defaultValue>true</defaultValue>
                            <description>Indicates whether or not hidden files should be ignored</description>
                            <displayName>Ignore Hidden Files</displayName>
                            <dynamic>false</dynamic>
                            <name>Ignore Hidden Files</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <description>The maximum size that a file can be in order to be pulled</description>
                            <displayName>Maximum File Size</displayName>
                            <dynamic>false</dynamic>
                            <name>Maximum File Size</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <defaultValue>[^\.].*</defaultValue>
                            <description>Only files whose names match the given regular expression will be picked up
                            </description>
                            <displayName>File Filter</displayName>
                            <dynamic>false</dynamic>
                            <name>File Filter</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <allowableValues>
                                <displayName>true</displayName>
                                <value>true</value>
                            </allowableValues>
                            <allowableValues>
                                <displayName>false</displayName>
                                <value>false</value>
                            </allowableValues>
                            <defaultValue>true</defaultValue>
                            <description>Indicates whether or not to pull files from subdirectories</description>
                            <displayName>Recurse Subdirectories</displayName>
                            <dynamic>false</dynamic>
                            <name>Recurse Subdirectories</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <description>When Recurse Subdirectories is true, then only subdirectories whose path
                                matches the given regular expression will be scanned
                            </description>
                            <displayName>Path Filter</displayName>
                            <dynamic>false</dynamic>
                            <name>Path Filter</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <description>The maximum age that a file must be in order to be pulled; any file older than
                                this amount of time (according to last modification date) will be ignored
                            </description>
                            <displayName>Maximum File Age</displayName>
                            <dynamic>false</dynamic>
                            <name>Maximum File Age</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <defaultValue>0 B</defaultValue>
                            <description>The minimum size that a file must be in order to be pulled</description>
                            <displayName>Minimum File Size</displayName>
                            <dynamic>false</dynamic>
                            <name>Minimum File Size</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <description>The input directory from which to pull files</description>
                            <displayName>Input Directory</displayName>
                            <dynamic>false</dynamic>
                            <name>Input Directory</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>
                            <defaultValue>0 sec</defaultValue>
                            <description>Indicates how long to wait before performing a directory listing</description>
                            <displayName>Polling Interval</displayName>
                            <dynamic>false</dynamic>
                            <name>Polling Interval</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                </descriptors>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Keep Source File</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>[^\.].*</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Input Directory</key>
                        <value>/tmp/getfile1</value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>0 sec</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>10 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>GetFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <description>All files are routed to success</description>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <supportsEventDriven>false</supportsEventDriven>
            <supportsParallelProcessing>true</supportsParallelProcessing>
            <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
        <processors>
            <id>9059814c-15f5-4fa7-aba7-912685c0c038</id>
            <parentGroupId>6c4fe945-d54d-4efb-8406-68765d6cf440</parentGroupId>
            <position>
                <x>95.22250581489084</x>
                <y>550.4416801129241</y>
            </position>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <defaultConcurrentTasks>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                    </entry>
                </defaultConcurrentTasks>
                <defaultSchedulingPeriod>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                    </entry>
                </defaultSchedulingPeriod>
                <descriptors>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <description>Sets the owner on the output file to the value of this attribute. You may also
                                use expression language such as ${file.owner}.
                            </description>
                            <displayName>Owner</displayName>
                            <dynamic>false</dynamic>
                            <name>Owner</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <description>Sets the lastModifiedTime on the output file to the value of this attribute.
                                Format must be yyyy-MM-dd'T'HH:mm:ssZ. You may also use expression language such as
                                ${file.lastModifiedTime}.
                            </description>
                            <displayName>Last Modified Time</displayName>
                            <dynamic>false</dynamic>
                            <name>Last Modified Time</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <allowableValues>
                                <displayName>replace</displayName>
                                <value>replace</value>
                            </allowableValues>
                            <allowableValues>
                                <displayName>ignore</displayName>
                                <value>ignore</value>
                            </allowableValues>
                            <allowableValues>
                                <displayName>fail</displayName>
                                <value>fail</value>
                            </allowableValues>
                            <defaultValue>fail</defaultValue>
                            <description>Indicates what should happen when a file with the same name already exists in
                                the output directory
                            </description>
                            <displayName>Conflict Resolution Strategy</displayName>
                            <dynamic>false</dynamic>
                            <name>Conflict Resolution Strategy</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <allowableValues>
                                <displayName>true</displayName>
                                <value>true</value>
                            </allowableValues>
                            <allowableValues>
                                <displayName>false</displayName>
                                <value>false</value>
                            </allowableValues>
                            <defaultValue>true</defaultValue>
                            <description>If true, then missing destination directories will be created. If false,
                                flowfiles are penalized and sent to failure.
                            </description>
                            <displayName>Create Missing Directories</displayName>
                            <dynamic>false</dynamic>
                            <name>Create Missing Directories</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <description>Sets the permissions on the output file to the value of this attribute. Format
                                must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--)
                                or an octal number (e.g. 644). You may also use expression language such as
                                ${file.permissions}.
                            </description>
                            <displayName>Permissions</displayName>
                            <dynamic>false</dynamic>
                            <name>Permissions</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <description>Sets the group on the output file to the value of this attribute. You may also
                                use expression language such as ${file.group}.
                            </description>
                            <displayName>Group</displayName>
                            <dynamic>false</dynamic>
                            <name>Group</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <description>The directory to which files should be written. You may use expression language
                                such as /aa/bb/${path}
                            </description>
                            <displayName>Directory</displayName>
                            <dynamic>false</dynamic>
                            <name>Directory</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <description>Specifies the maximum number of files that can exist in the output directory
                            </description>
                            <displayName>Maximum File Count</displayName>
                            <dynamic>false</dynamic>
                            <name>Maximum File Count</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                </descriptors>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>/tmp/failure1</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Failed File</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <description>Files that could not be written to the output directory for some reason are transferred to
                    this relationship
                </description>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <description>Files that have been successfully written to the output directory are transferred to this
                    relationship
                </description>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <supportsEventDriven>false</supportsEventDriven>
            <supportsParallelProcessing>true</supportsParallelProcessing>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>366dcd28-6ebf-463a-9895-ceb615713263</id>
            <parentGroupId>6c4fe945-d54d-4efb-8406-68765d6cf440</parentGroupId>
            <position>
                <x>605.1412353515625</x>
                <y>184.44609832763672</y>
            </position>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <defaultConcurrentTasks>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                    </entry>
                </defaultConcurrentTasks>
                <defaultSchedulingPeriod>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                    </entry>
                </defaultSchedulingPeriod>
                <descriptors>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <description>Sets the owner on the output file to the value of this attribute. You may also
                                use expression language such as ${file.owner}.
                            </description>
                            <displayName>Owner</displayName>
                            <dynamic>false</dynamic>
                            <name>Owner</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <description>Sets the lastModifiedTime on the output file to the value of this attribute.
                                Format must be yyyy-MM-dd'T'HH:mm:ssZ. You may also use expression language such as
                                ${file.lastModifiedTime}.
                            </description>
                            <displayName>Last Modified Time</displayName>
                            <dynamic>false</dynamic>
                            <name>Last Modified Time</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <allowableValues>
                                <displayName>replace</displayName>
                                <value>replace</value>
                            </allowableValues>
                            <allowableValues>
                                <displayName>ignore</displayName>
                                <value>ignore</value>
                            </allowableValues>
                            <allowableValues>
                                <displayName>fail</displayName>
                                <value>fail</value>
                            </allowableValues>
                            <defaultValue>fail</defaultValue>
                            <description>Indicates what should happen when a file with the same name already exists in
                                the output directory
                            </description>
                            <displayName>Conflict Resolution Strategy</displayName>
                            <dynamic>false</dynamic>
                            <name>Conflict Resolution Strategy</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <allowableValues>
                                <displayName>true</displayName>
                                <value>true</value>
                            </allowableValues>
                            <allowableValues>
                                <displayName>false</displayName>
                                <value>false</value>
                            </allowableValues>
                            <defaultValue>true</defaultValue>
                            <description>If true, then missing destination directories will be created. If false,
                                flowfiles are penalized and sent to failure.
                            </description>
                            <displayName>Create Missing Directories</displayName>
                            <dynamic>false</dynamic>
                            <name>Create Missing Directories</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <description>Sets the permissions on the output file to the value of this attribute. Format
                                must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--)
                                or an octal number (e.g. 644). You may also use expression language such as
                                ${file.permissions}.
                            </description>
                            <displayName>Permissions</displayName>
                            <dynamic>false</dynamic>
                            <name>Permissions</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <description>Sets the group on the output file to the value of this attribute. You may also
                                use expression language such as ${file.group}.
                            </description>
                            <displayName>Group</displayName>
                            <dynamic>false</dynamic>
                            <name>Group</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <description>The directory to which files should be written. You may use expression language
                                such as /aa/bb/${path}
                            </description>
                            <displayName>Directory</displayName>
                            <dynamic>false</dynamic>
                            <name>Directory</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <description>Specifies the maximum number of files that can exist in the output directory
                            </description>
                            <displayName>Maximum File Count</displayName>
                            <dynamic>false</dynamic>
                            <name>Maximum File Count</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                </descriptors>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>/tmp/putfile1</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Success File</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <description>Files that could not be written to the output directory for some reason are transferred to
                    this relationship
                </description>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <description>Files that have been successfully written to the output directory are transferred to this
                    relationship
                </description>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <supportsEventDriven>false</supportsEventDriven>
            <supportsParallelProcessing>true</supportsParallelProcessing>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>13aced55-367f-4bcc-bbfc-9edec907ce56</id>
            <parentGroupId>6c4fe945-d54d-4efb-8406-68765d6cf440</parentGroupId>
            <position>
                <x>110.66168229170944</x>
                <y>333.01114538007363</y>
            </position>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <defaultConcurrentTasks>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                    </entry>
                </defaultConcurrentTasks>
                <defaultSchedulingPeriod>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                    </entry>
                </defaultSchedulingPeriod>
                <descriptors>
                    <entry>
                        <key>Module Directory</key>
                        <value>
                            <description>Comma-separated list of paths to files and/or directories which contain modules
                                required by the script.
                            </description>
                            <displayName>Module Directory</displayName>
                            <dynamic>false</dynamic>
                            <name>Module Directory</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>
                            <description>Body of script to execute. Only one of Script File or Script Body may be used
                            </description>
                            <displayName>Script Body</displayName>
                            <dynamic>false</dynamic>
                            <name>Script Body</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Engine</key>
                        <value>
                            <allowableValues>
                                <displayName>ECMAScript</displayName>
                                <value>ECMAScript</value>
                            </allowableValues>
                            <allowableValues>
                                <displayName>Groovy</displayName>
                                <value>Groovy</value>
                            </allowableValues>
                            <allowableValues>
                                <displayName>lua</displayName>
                                <value>lua</value>
                            </allowableValues>
                            <allowableValues>
                                <displayName>python</displayName>
                                <value>python</value>
                            </allowableValues>
                            <allowableValues>
                                <displayName>ruby</displayName>
                                <value>ruby</value>
                            </allowableValues>
                            <defaultValue>ECMAScript</defaultValue>
                            <description>The engine to execute scripts</description>
                            <displayName>Script Engine</displayName>
                            <dynamic>false</dynamic>
                            <name>Script Engine</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                        <value>
                            <description>Path to script file to execute. Only one of Script File or Script Body may be
                                used
                            </description>
                            <displayName>Script File</displayName>
                            <dynamic>false</dynamic>
                            <name>Script File</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                </descriptors>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Module Directory</key>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>def flowFile = session.get()
                            if(!flowFile) return
                            sleep(15000)
                            session.transfer(flowFile, REL_SUCCESS)
                        </value>
                    </entry>
                    <entry>
                        <key>Script Engine</key>
                        <value>Groovy</value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>ExecuteScript</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <description>FlowFiles that failed to be processed</description>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <description>FlowFiles that were successfully processed</description>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <supportsEventDriven>false</supportsEventDriven>
            <supportsParallelProcessing>false</supportsParallelProcessing>
            <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
    </snippet>
    <timestamp>03/28/2016 19:06:27 UTC</timestamp>
</template>