integrations/nifi/nifi-nar-bundles/nifi-standard-services/nifi-core-service-bundle/nifi-core-service/src/test/resources/jms-trigger-test.xml
<!--
  #%L
  thinkbig-nifi-core-service
  %%
  Copyright (C) 2017 ThinkBig Analytics
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->
<template>
  <description></description>
  <name>jms-trigger-test</name>
  <snippet>
    <connections>
      <id>244b3b7c-5864-40d2-8b95-0a73b35e4d2d</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>8782db6b-9bc3-468c-9617-71b670e30ff8</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>669d4523-c897-4a47-8b9a-3c1b3e8fb6d6</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>3d9de5ad-eb38-4e74-8832-83760906a75b</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>abf8f963-85c7-43a9-8bf8-2741d03b06af</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>0b34e579-ca3f-4bda-ad85-16250811c83c</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0b806c08-2099-4f79-a0f7-7c4c66e2aa4c</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>0b34e579-ca3f-4bda-ad85-16250811c83c</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>Failure</selectedRelationships>
      <selectedRelationships>Success</selectedRelationships>
      <source>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>9885ab3f-dc86-493a-a78e-8bb59b915789</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a8262af0-e9b3-40f5-aeff-136c2861e6be</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>31981fe5-2720-4fb4-a92c-37b682877642</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>5ab99168-4778-4ab7-967c-9f3537a0ae71</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>98f05d23-c42d-4e1e-a9c8-993bf3bdabe9</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>b32b15db-f259-45eb-ac32-38545b5df1cc</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>669d4523-c897-4a47-8b9a-3c1b3e8fb6d6</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fed74648-ff46-481c-bed5-8ec5cdc65c46</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>d2c2bd4f-38aa-4012-b4d6-f3acdd77c805</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>abf8f963-85c7-43a9-8bf8-2741d03b06af</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>35af7983-8d20-4fd3-b73b-ad4c3e950d3c</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>9e1661c7-a277-417a-a944-6287909d35e8</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>95abc8d9-1e46-4cc6-9f51-9511a55337a8</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>3b327482-a6a8-42b7-af77-fb7b71cc0e4c</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>95abc8d9-1e46-4cc6-9f51-9511a55337a8</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>Failure</selectedRelationships>
      <selectedRelationships>Success</selectedRelationships>
      <source>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>edf8789a-074c-4a7f-a64c-3ec5aa17fec3</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a88d4dc1-24c1-485e-8711-d56a1a1ac1ee</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>edf8789a-074c-4a7f-a64c-3ec5aa17fec3</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>efa9f65b-0f7f-47c6-83bb-b47ed807e7f3</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>507ed239-6711-49e5-8e54-43419494ee16</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>669d4523-c897-4a47-8b9a-3c1b3e8fb6d6</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>Failure</selectedRelationships>
      <selectedRelationships>Success</selectedRelationships>
      <source>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>31981fe5-2720-4fb4-a92c-37b682877642</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>bdacdc0d-a93b-4a86-aae4-c78b8c98528c</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>82af441a-0c3a-4ac8-8480-80bd21ef18e0</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>95abc8d9-1e46-4cc6-9f51-9511a55337a8</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>33fb9102-9700-4fa8-80f6-fe8d037ff627</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>d2c2bd4f-38aa-4012-b4d6-f3acdd77c805</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>not.found</selectedRelationships>
      <selectedRelationships>permission.denied</selectedRelationships>
      <source>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>0b34e579-ca3f-4bda-ad85-16250811c83c</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>2e568d39-a934-4912-a4d5-be813c296349</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>bbc3aa24-a5f8-4c10-aaff-741b57bff68d</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>abf8f963-85c7-43a9-8bf8-2741d03b06af</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>64b465e6-48d2-4c26-88d9-96b5ebdb8020</id>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Implementation</key>
          <value>
            <allowableValues>
              <description>An implemenation that stores metadata locally in memory (for
                development-only)
              </description>
              <displayName>Local, In-memory storage</displayName>
              <value>LOCAL</value>
            </allowableValues>
            <allowableValues>
              <description>An implemenation that accesses metadata via the metadata service REST API
              </description>
              <displayName>REST API</displayName>
              <value>REMOTE</value>
            </allowableValues>
            <defaultValue>REMOTE</defaultValue>
            <description>Specifies which implementation of the metadata providers should be used
            </description>
            <displayName>Implementation</displayName>
            <dynamic>false</dynamic>
            <name>Implementation</name>
            <required>true</required>
            <sensitive>false</sensitive>
            <supportsEl>false</supportsEl>
          </value>
        </entry>
        <entry>
          <key>rest-client-url</key>
          <value>
            <defaultValue>http://localhost:8077/api/metadata</defaultValue>
            <description>The base URL to the metadata server when the REST API client implementation is
              chosen.
            </description>
            <displayName>REST Client URL</displayName>
            <dynamic>false</dynamic>
            <name>rest-client-url</name>
            <required>false</required>
            <sensitive>false</sensitive>
            <supportsEl>false</supportsEl>
          </value>
        </entry>
      </descriptors>
      <name>MetadataProviderSelectorService</name>
      <properties>
        <entry>
          <key>Implementation</key>
          <value>REMOTE</value>
        </entry>
        <entry>
          <key>rest-client-url</key>
          <value>http://localhost:8077/api/metadata</value>
        </entry>
      </properties>
      <referencingComponents>
        <activeThreadCount>0</activeThreadCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>
              <description>The path for the directory dataset</description>
              <displayName>Directory path</displayName>
              <dynamic>false</dynamic>
              <name>directory.path</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>bbc3aa24-a5f8-4c10-aaff-741b57bff68d</id>
        <name>DirectoryFeedTermination</name>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>processed</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>SUCCESS</value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>/tmp/processed</value>
          </entry>
        </properties>
        <referenceType>Processor</referenceType>
        <state>STOPPED</state>
        <type>com.thinkbiganalytics.nifi.v2.processors.metadata.DirectoryFeedTermination</type>
      </referencingComponents>
      <referencingComponents>
        <activeThreadCount>0</activeThreadCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>database.name</key>
            <value>
              <description>The name of the database containing the table where the feed writes its
                processing results
              </description>
              <displayName>Database name</displayName>
              <dynamic>false</dynamic>
              <name>database.name</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>table.name</key>
            <value>
              <description>The name of the table where the feed writes its processing results
              </description>
              <displayName>Table name</displayName>
              <dynamic>false</dynamic>
              <name>table.name</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>table.location</key>
            <value>
              <description>The URI specifying the location where the feed writes its processing results
              </description>
              <displayName>Table location</displayName>
              <dynamic>false</dynamic>
              <name>table.location</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <groupId>a813eb92-46f5-4847-9232-47cd4c681a0b</groupId>
        <id>d29b148e-7747-4f47-b786-92cd36627248</id>
        <name>HiveTableFeedTermination</name>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>${source}-${entity}</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>SUCCESS</value>
          </entry>
          <entry>
            <key>database.name</key>
            <value>${source}</value>
          </entry>
          <entry>
            <key>table.name</key>
            <value>${entity}</value>
          </entry>
          <entry>
            <key>table.location</key>
          </entry>
        </properties>
        <referenceType>Processor</referenceType>
        <state>STOPPED</state>
        <type>com.thinkbiganalytics.nifi.v2.processors.metadata.HiveTableFeedTermination</type>
      </referencingComponents>
      <referencingComponents>
        <activeThreadCount>0</activeThreadCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>
              <description>The path for the directory dataset</description>
              <displayName>Directory path</displayName>
              <dynamic>false</dynamic>
              <name>directory.path</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>d2c2bd4f-38aa-4012-b4d6-f3acdd77c805</id>
        <name>DirectoryFeedTermination</name>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>processed</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>FAILURE</value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>/tmp/processed</value>
          </entry>
        </properties>
        <referenceType>Processor</referenceType>
        <state>STOPPED</state>
        <type>com.thinkbiganalytics.nifi.v2.processors.metadata.DirectoryFeedTermination</type>
      </referencingComponents>
      <referencingComponents>
        <activeThreadCount>0</activeThreadCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>
              <description>The path for the directory dataset</description>
              <displayName>Directory path</displayName>
              <dynamic>false</dynamic>
              <name>directory.path</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>8782db6b-9bc3-468c-9617-71b670e30ff8</id>
        <name>DirectoryFeedTermination</name>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>dropzone</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>SUCCESS</value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>/tmp/dropzone</value>
          </entry>
        </properties>
        <referenceType>Processor</referenceType>
        <state>STOPPED</state>
        <type>com.thinkbiganalytics.nifi.v2.processors.metadata.DirectoryFeedTermination</type>
      </referencingComponents>
      <referencingComponents>
        <activeThreadCount>0</activeThreadCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>database.name</key>
            <value>
              <description>The name of the database containing the table where the feed writes its
                processing results
              </description>
              <displayName>Database name</displayName>
              <dynamic>false</dynamic>
              <name>database.name</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>table.name</key>
            <value>
              <description>The name of the table where the feed writes its processing results
              </description>
              <displayName>Table name</displayName>
              <dynamic>false</dynamic>
              <name>table.name</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>table.location</key>
            <value>
              <description>The URI specifying the location where the feed writes its processing results
              </description>
              <displayName>Table location</displayName>
              <dynamic>false</dynamic>
              <name>table.location</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <groupId>a813eb92-46f5-4847-9232-47cd4c681a0b</groupId>
        <id>55d443df-23da-4314-8fd9-fc145cbe5725</id>
        <name>HiveTableFeedTermination</name>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>${source}-${entity}</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>FAILURE</value>
          </entry>
          <entry>
            <key>database.name</key>
            <value>${source}</value>
          </entry>
          <entry>
            <key>table.name</key>
            <value>${entity}</value>
          </entry>
          <entry>
            <key>table.location</key>
          </entry>
        </properties>
        <referenceType>Processor</referenceType>
        <state>STOPPED</state>
        <type>com.thinkbiganalytics.nifi.v2.processors.metadata.HiveTableFeedTermination</type>
      </referencingComponents>
      <referencingComponents>
        <activeThreadCount>0</activeThreadCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>
              <description>The path for the directory dataset</description>
              <displayName>Directory path</displayName>
              <dynamic>false</dynamic>
              <name>directory.path</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>9e1661c7-a277-417a-a944-6287909d35e8</id>
        <name>DirectoryFeedTermination</name>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>dropzone2</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>FAILURE</value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>/tmp/dropzone2</value>
          </entry>
        </properties>
        <referenceType>Processor</referenceType>
        <state>STOPPED</state>
        <type>com.thinkbiganalytics.nifi.v2.processors.metadata.DirectoryFeedTermination</type>
      </referencingComponents>
      <referencingComponents>
        <activeThreadCount>0</activeThreadCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
            <value>
              <allowableValues>
                <displayName>JmsFeedPreconditionEventService</displayName>
                <value>2ec43978-ba4d-4837-8027-e289f4028c53</value>
              </allowableValues>
              <description>Service that manages preconditions that trigger feed execution</description>
              <displayName>Feed Precondition Event Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.nifi.core.api.precondition.FeedPreconditionEventService
              </identifiesControllerService>
              <name>Feed Precondition Event Service</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>
              <description>The unique name of the feed that is beginning</description>
              <displayName>Feed name</displayName>
              <dynamic>false</dynamic>
              <name>feed.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
            <value>
              <description>The name of the datasource that this feed will read from (optional)
              </description>
              <displayName>Source datasource name</displayName>
              <dynamic>false</dynamic>
              <name>src.dataset.id</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>9885ab3f-dc86-493a-a78e-8bb59b915789</id>
        <name>FeedBegin</name>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
            <value>2ec43978-ba4d-4837-8027-e289f4028c53</value>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>dropzone-processed</value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
            <value>dropzone, dropzone2</value>
          </entry>
        </properties>
        <referenceType>Processor</referenceType>
        <state>STOPPED</state>
        <type>com.thinkbiganalytics.nifi.v2.processors.metadata.FeedBegin</type>
      </referencingComponents>
      <referencingComponents>
        <activeThreadCount>0</activeThreadCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>
              <description>The path for the directory dataset</description>
              <displayName>Directory path</displayName>
              <dynamic>false</dynamic>
              <name>directory.path</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>b32b15db-f259-45eb-ac32-38545b5df1cc</id>
        <name>DirectoryFeedTermination</name>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>dropzone</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>FAILURE</value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>/tmp/dropzone</value>
          </entry>
        </properties>
        <referenceType>Processor</referenceType>
        <state>STOPPED</state>
        <type>com.thinkbiganalytics.nifi.v2.processors.metadata.DirectoryFeedTermination</type>
      </referencingComponents>
      <referencingComponents>
        <activeThreadCount>0</activeThreadCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
            <value>
              <allowableValues>
                <displayName>JmsFeedPreconditionEventService</displayName>
                <value>2ec43978-ba4d-4837-8027-e289f4028c53</value>
              </allowableValues>
              <description>Service that manages preconditions that trigger feed execution</description>
              <displayName>Feed Precondition Event Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.nifi.core.api.precondition.FeedPreconditionEventService
              </identifiesControllerService>
              <name>Feed Precondition Event Service</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>
              <description>The unique name of the feed that is beginning</description>
              <displayName>Feed name</displayName>
              <dynamic>false</dynamic>
              <name>feed.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
            <value>
              <description>The name of the datasource that this feed will read from (optional)
              </description>
              <displayName>Source datasource name</displayName>
              <dynamic>false</dynamic>
              <name>src.dataset.id</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>31981fe5-2720-4fb4-a92c-37b682877642</id>
        <name>FeedBegin</name>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>source-dropzone</value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
          </entry>
        </properties>
        <referenceType>Processor</referenceType>
        <state>STOPPED</state>
        <type>com.thinkbiganalytics.nifi.v2.processors.metadata.FeedBegin</type>
      </referencingComponents>
      <referencingComponents>
        <activeThreadCount>0</activeThreadCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
            <value>
              <allowableValues>
                <displayName>JmsFeedPreconditionEventService</displayName>
                <value>2ec43978-ba4d-4837-8027-e289f4028c53</value>
              </allowableValues>
              <description>Service that manages preconditions that trigger feed execution</description>
              <displayName>Feed Precondition Event Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.nifi.core.api.precondition.FeedPreconditionEventService
              </identifiesControllerService>
              <name>Feed Precondition Event Service</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>
              <description>The unique name of the feed that is beginning</description>
              <displayName>Feed name</displayName>
              <dynamic>false</dynamic>
              <name>feed.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
            <value>
              <description>The name of the datasource that this feed will read from (optional)
              </description>
              <displayName>Source datasource name</displayName>
              <dynamic>false</dynamic>
              <name>src.dataset.id</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <groupId>a813eb92-46f5-4847-9232-47cd4c681a0b</groupId>
        <id>b8716f83-1f80-4cc1-ac63-24c44ebb6045</id>
        <name>FeedBegin</name>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>${metadata.systemFeedName}</value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
          </entry>
        </properties>
        <referenceType>Processor</referenceType>
        <state>STOPPED</state>
        <type>com.thinkbiganalytics.nifi.v2.processors.metadata.FeedBegin</type>
      </referencingComponents>
      <referencingComponents>
        <activeThreadCount>0</activeThreadCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>
              <description>The path for the directory dataset</description>
              <displayName>Directory path</displayName>
              <dynamic>false</dynamic>
              <name>directory.path</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>82af441a-0c3a-4ac8-8480-80bd21ef18e0</id>
        <name>DirectoryFeedTermination</name>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>dropzone2</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>SUCCESS</value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>/tmp/dropzone2</value>
          </entry>
        </properties>
        <referenceType>Processor</referenceType>
        <state>STOPPED</state>
        <type>com.thinkbiganalytics.nifi.v2.processors.metadata.DirectoryFeedTermination</type>
      </referencingComponents>
      <referencingComponents>
        <activeThreadCount>0</activeThreadCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
            <value>
              <allowableValues>
                <displayName>JmsFeedPreconditionEventService</displayName>
                <value>2ec43978-ba4d-4837-8027-e289f4028c53</value>
              </allowableValues>
              <description>Service that manages preconditions that trigger feed execution</description>
              <displayName>Feed Precondition Event Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.nifi.core.api.precondition.FeedPreconditionEventService
              </identifiesControllerService>
              <name>Feed Precondition Event Service</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>
              <description>The unique name of the feed that is beginning</description>
              <displayName>Feed name</displayName>
              <dynamic>false</dynamic>
              <name>feed.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
            <value>
              <description>The name of the datasource that this feed will read from (optional)
              </description>
              <displayName>Source datasource name</displayName>
              <dynamic>false</dynamic>
              <name>src.dataset.id</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>edf8789a-074c-4a7f-a64c-3ec5aa17fec3</id>
        <name>FeedBegin</name>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>source2-dropzone2</value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
          </entry>
        </properties>
        <referenceType>Processor</referenceType>
        <state>STOPPED</state>
        <type>com.thinkbiganalytics.nifi.v2.processors.metadata.FeedBegin</type>
      </referencingComponents>
      <state>ENABLED</state>
      <type>com.thinkbiganalytics.nifi.v2.core.metadata.MetadataProviderSelectorService</type>
    </controllerServices>
    <controllerServices>
      <id>2ec43978-ba4d-4837-8027-e289f4028c53</id>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Spring Context Service</key>
          <value>
            <allowableValues>
              <displayName>SpringContextLoaderService</displayName>
              <value>2e93cc16-3e03-49ee-a0c3-f1936db4bda3</value>
            </allowableValues>
            <description>Service for loading spring a spring context and providing bean lookup</description>
            <displayName>Spring Context Service</displayName>
            <dynamic>false</dynamic>
            <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.spring.SpringContextService
            </identifiesControllerService>
            <name>Spring Context Service</name>
            <required>true</required>
            <sensitive>false</sensitive>
            <supportsEl>false</supportsEl>
          </value>
        </entry>
      </descriptors>
      <name>JmsFeedPreconditionEventService</name>
      <properties>
        <entry>
          <key>Spring Context Service</key>
          <value>2e93cc16-3e03-49ee-a0c3-f1936db4bda3</value>
        </entry>
      </properties>
      <referencingComponents>
        <activeThreadCount>0</activeThreadCount>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
            <value>
              <allowableValues>
                <displayName>JmsFeedPreconditionEventService</displayName>
                <value>2ec43978-ba4d-4837-8027-e289f4028c53</value>
              </allowableValues>
              <description>Service that manages preconditions that trigger feed execution</description>
              <displayName>Feed Precondition Event Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.nifi.core.api.precondition.FeedPreconditionEventService
              </identifiesControllerService>
              <name>Feed Precondition Event Service</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>
              <description>The unique name of the feed that is beginning</description>
              <displayName>Feed name</displayName>
              <dynamic>false</dynamic>
              <name>feed.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
            <value>
              <description>The name of the datasource that this feed will read from (optional)
              </description>
              <displayName>Source datasource name</displayName>
              <dynamic>false</dynamic>
              <name>src.dataset.id</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
        <id>9885ab3f-dc86-493a-a78e-8bb59b915789</id>
        <name>FeedBegin</name>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
            <value>2ec43978-ba4d-4837-8027-e289f4028c53</value>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>dropzone-processed</value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
            <value>dropzone, dropzone2</value>
          </entry>
        </properties>
        <referenceType>Processor</referenceType>
        <state>STOPPED</state>
        <type>com.thinkbiganalytics.nifi.v2.processors.metadata.FeedBegin</type>
      </referencingComponents>
      <state>ENABLED</state>
      <type>com.thinkbiganalytics.nifi.v2.core.precondition.JmsFeedPreconditionEventService</type>
    </controllerServices>
    <controllerServices>
      <id>2e93cc16-3e03-49ee-a0c3-f1936db4bda3</id>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Configuraton Classes</key>
          <value>
            <description>A comma-separated list of fully qualified names of java config classes
            </description>
            <displayName>Configuraton Classes</displayName>
            <dynamic>false</dynamic>
            <name>Configuraton Classes</name>
            <required>true</required>
            <sensitive>false</sensitive>
            <supportsEl>false</supportsEl>
          </value>
        </entry>
      </descriptors>
      <name>SpringContextLoaderService</name>
      <properties>
        <entry>
          <key>Configuraton Classes</key>
          <value>com.thinkbiganalytics.nifi.v2.core.precondition.PreconditionJmsConfiguration</value>
        </entry>
      </properties>
      <referencingComponents>
        <descriptors>
          <entry>
            <key>Spring Context Service</key>
            <value>
              <allowableValues>
                <displayName>SpringContextLoaderService</displayName>
                <value>2e93cc16-3e03-49ee-a0c3-f1936db4bda3</value>
              </allowableValues>
              <description>Service for loading spring a spring context and providing bean lookup
              </description>
              <displayName>Spring Context Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>com.thinkbiganalytics.nifi.core.api.spring.SpringContextService
              </identifiesControllerService>
              <name>Spring Context Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <id>2ec43978-ba4d-4837-8027-e289f4028c53</id>
        <name>JmsFeedPreconditionEventService</name>
        <properties>
          <entry>
            <key>Spring Context Service</key>
            <value>2e93cc16-3e03-49ee-a0c3-f1936db4bda3</value>
          </entry>
        </properties>
        <referenceCycle>false</referenceCycle>
        <referenceType>ControllerService</referenceType>
        <referencingComponents>
          <activeThreadCount>0</activeThreadCount>
          <descriptors>
            <entry>
              <key>Metadata Provider Service</key>
              <value>
                <allowableValues>
                  <displayName>MetadataProviderSelectorService</displayName>
                  <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
                </allowableValues>
                <description>Specified Service supplying the implemtentions of the various metadata
                  providers
                </description>
                <displayName>Metadata Provider Service</displayName>
                <dynamic>false</dynamic>
                <identifiesControllerService>
                  com.thinkbiganalytics.controller.metadata.MetadataProviderService
                </identifiesControllerService>
                <name>Metadata Provider Service</name>
                <required>true</required>
                <sensitive>false</sensitive>
                <supportsEl>false</supportsEl>
              </value>
            </entry>
            <entry>
              <key>Feed Precondition Event Service</key>
              <value>
                <allowableValues>
                  <displayName>JmsFeedPreconditionEventService</displayName>
                  <value>2ec43978-ba4d-4837-8027-e289f4028c53</value>
                </allowableValues>
                <description>Service that manages preconditions that trigger feed execution
                </description>
                <displayName>Feed Precondition Event Service</displayName>
                <dynamic>false</dynamic>
                <identifiesControllerService>
                  com.thinkbiganalytics.nifi.core.api.precondition.FeedPreconditionEventService
                </identifiesControllerService>
                <name>Feed Precondition Event Service</name>
                <required>false</required>
                <sensitive>false</sensitive>
                <supportsEl>false</supportsEl>
              </value>
            </entry>
            <entry>
              <key>feed.id</key>
              <value>
                <description>The unique name of the feed that is beginning</description>
                <displayName>Feed name</displayName>
                <dynamic>false</dynamic>
                <name>feed.id</name>
                <required>true</required>
                <sensitive>false</sensitive>
                <supportsEl>false</supportsEl>
              </value>
            </entry>
            <entry>
              <key>src.dataset.id</key>
              <value>
                <description>The name of the datasource that this feed will read from (optional)
                </description>
                <displayName>Source datasource name</displayName>
                <dynamic>false</dynamic>
                <name>src.dataset.id</name>
                <required>false</required>
                <sensitive>false</sensitive>
                <supportsEl>false</supportsEl>
              </value>
            </entry>
          </descriptors>
          <groupId>072461b7-317b-42ae-a381-aee5c5fcce7a</groupId>
          <id>9885ab3f-dc86-493a-a78e-8bb59b915789</id>
          <name>FeedBegin</name>
          <properties>
            <entry>
              <key>Metadata Provider Service</key>
              <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
            </entry>
            <entry>
              <key>Feed Precondition Event Service</key>
              <value>2ec43978-ba4d-4837-8027-e289f4028c53</value>
            </entry>
            <entry>
              <key>feed.id</key>
              <value>dropzone-processed</value>
            </entry>
            <entry>
              <key>src.dataset.id</key>
              <value>dropzone, dropzone2</value>
            </entry>
          </properties>
          <referenceType>Processor</referenceType>
          <state>STOPPED</state>
          <type>com.thinkbiganalytics.nifi.v2.processors.metadata.FeedBegin</type>
        </referencingComponents>
        <state>ENABLED</state>
        <type>com.thinkbiganalytics.nifi.v2.core.precondition.JmsFeedPreconditionEventService</type>
      </referencingComponents>
      <state>ENABLED</state>
      <type>com.thinkbiganalytics.nifi.v2.core.spring.SpringContextLoaderService</type>
    </controllerServices>
    <processors>
      <id>d2c2bd4f-38aa-4012-b4d6-f3acdd77c805</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>2038.6976911533388</x>
        <y>468.87094401964214</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>
              <description>The path for the directory dataset</description>
              <displayName>Directory path</displayName>
              <dynamic>false</dynamic>
              <name>directory.path</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>processed</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>FAILURE</value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>/tmp/processed</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>DirectoryFeedTermination</name>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#e80c0c</value>
        </entry>
      </style>
      <supportsEventDriven>false</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>com.thinkbiganalytics.nifi.v2.processors.metadata.DirectoryFeedTermination</type>
    </processors>
    <processors>
      <id>b32b15db-f259-45eb-ac32-38545b5df1cc</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>191.24203197365114</x>
        <y>718.6804816020394</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>
              <description>The path for the directory dataset</description>
              <displayName>Directory path</displayName>
              <dynamic>false</dynamic>
              <name>directory.path</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>dropzone</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>FAILURE</value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>/tmp/dropzone</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>DirectoryFeedTermination</name>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#e80c0c</value>
        </entry>
      </style>
      <supportsEventDriven>false</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>com.thinkbiganalytics.nifi.v2.processors.metadata.DirectoryFeedTermination</type>
    </processors>
    <processors>
      <id>5ab99168-4778-4ab7-967c-9f3537a0ae71</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>349.91487268333765</x>
        <y>157.6399984324838</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <description>The input directory from which to pull files</description>
              <displayName>Input Directory</displayName>
              <dynamic>false</dynamic>
              <name>Input Directory</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <defaultValue>[^\.].*</defaultValue>
              <description>Only files whose names match the given regular expression will be picked up
              </description>
              <displayName>File Filter</displayName>
              <dynamic>false</dynamic>
              <name>File Filter</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <description>When Recurse Subdirectories is true, then only subdirectories whose path
                matches the given regular expression will be scanned
              </description>
              <displayName>Path Filter</displayName>
              <dynamic>false</dynamic>
              <name>Path Filter</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <defaultValue>10</defaultValue>
              <description>The maximum number of files to pull in each iteration</description>
              <displayName>Batch Size</displayName>
              <dynamic>false</dynamic>
              <name>Batch Size</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <allowableValues>
                <displayName>true</displayName>
                <value>true</value>
              </allowableValues>
              <allowableValues>
                <displayName>false</displayName>
                <value>false</value>
              </allowableValues>
              <defaultValue>false</defaultValue>
              <description>If true, the file is not deleted after it has been copied to the Content
                Repository; this causes the file to be picked up continually and is useful for testing
                purposes. If not keeping original NiFi will need write permissions on the directory it
                is pulling from otherwise it will ignore the file.
              </description>
              <displayName>Keep Source File</displayName>
              <dynamic>false</dynamic>
              <name>Keep Source File</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <allowableValues>
                <displayName>true</displayName>
                <value>true</value>
              </allowableValues>
              <allowableValues>
                <displayName>false</displayName>
                <value>false</value>
              </allowableValues>
              <defaultValue>true</defaultValue>
              <description>Indicates whether or not to pull files from subdirectories</description>
              <displayName>Recurse Subdirectories</displayName>
              <dynamic>false</dynamic>
              <name>Recurse Subdirectories</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <defaultValue>0 sec</defaultValue>
              <description>Indicates how long to wait before performing a directory listing</description>
              <displayName>Polling Interval</displayName>
              <dynamic>false</dynamic>
              <name>Polling Interval</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <allowableValues>
                <displayName>true</displayName>
                <value>true</value>
              </allowableValues>
              <allowableValues>
                <displayName>false</displayName>
                <value>false</value>
              </allowableValues>
              <defaultValue>true</defaultValue>
              <description>Indicates whether or not hidden files should be ignored</description>
              <displayName>Ignore Hidden Files</displayName>
              <dynamic>false</dynamic>
              <name>Ignore Hidden Files</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <defaultValue>0 sec</defaultValue>
              <description>The minimum age that a file must be in order to be pulled; any file younger
                than this amount of time (according to last modification date) will be ignored
              </description>
              <displayName>Minimum File Age</displayName>
              <dynamic>false</dynamic>
              <name>Minimum File Age</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <description>The maximum age that a file must be in order to be pulled; any file older than
                this amount of time (according to last modification date) will be ignored
              </description>
              <displayName>Maximum File Age</displayName>
              <dynamic>false</dynamic>
              <name>Maximum File Age</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <defaultValue>0 B</defaultValue>
              <description>The minimum size that a file must be in order to be pulled</description>
              <displayName>Minimum File Size</displayName>
              <dynamic>false</dynamic>
              <name>Minimum File Size</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <description>The maximum size that a file can be in order to be pulled</description>
              <displayName>Maximum File Size</displayName>
              <dynamic>false</dynamic>
              <name>Maximum File Size</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/tmp/source</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>[^\.].*</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>5 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>All files are routed to success</description>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style/>
      <supportsEventDriven>false</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>abf8f963-85c7-43a9-8bf8-2741d03b06af</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>1570.6702656162295</x>
        <y>544.8274735606576</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <description>The directory to which files should be written. You may use expression language
                such as /aa/bb/${path}
              </description>
              <displayName>Directory</displayName>
              <dynamic>false</dynamic>
              <name>Directory</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <allowableValues>
                <displayName>replace</displayName>
                <value>replace</value>
              </allowableValues>
              <allowableValues>
                <displayName>ignore</displayName>
                <value>ignore</value>
              </allowableValues>
              <allowableValues>
                <displayName>fail</displayName>
                <value>fail</value>
              </allowableValues>
              <defaultValue>fail</defaultValue>
              <description>Indicates what should happen when a file with the same name already exists in
                the output directory
              </description>
              <displayName>Conflict Resolution Strategy</displayName>
              <dynamic>false</dynamic>
              <name>Conflict Resolution Strategy</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <allowableValues>
                <displayName>true</displayName>
                <value>true</value>
              </allowableValues>
              <allowableValues>
                <displayName>false</displayName>
                <value>false</value>
              </allowableValues>
              <defaultValue>true</defaultValue>
              <description>If true, then missing destination directories will be created. If false,
                flowfiles are penalized and sent to failure.
              </description>
              <displayName>Create Missing Directories</displayName>
              <dynamic>false</dynamic>
              <name>Create Missing Directories</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <description>Specifies the maximum number of files that can exist in the output directory
              </description>
              <displayName>Maximum File Count</displayName>
              <dynamic>false</dynamic>
              <name>Maximum File Count</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <description>Sets the lastModifiedTime on the output file to the value of this attribute.
                Format must be yyyy-MM-dd'T'HH:mm:ssZ. You may also use expression language such as
                ${file.lastModifiedTime}.
              </description>
              <displayName>Last Modified Time</displayName>
              <dynamic>false</dynamic>
              <name>Last Modified Time</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <description>Sets the permissions on the output file to the value of this attribute. Format
                must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--)
                or an octal number (e.g. 644). You may also use expression language such as
                ${file.permissions}.
              </description>
              <displayName>Permissions</displayName>
              <dynamic>false</dynamic>
              <name>Permissions</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <description>Sets the owner on the output file to the value of this attribute. You may also
                use expression language such as ${file.owner}.
              </description>
              <displayName>Owner</displayName>
              <dynamic>false</dynamic>
              <name>Owner</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <description>Sets the group on the output file to the value of this attribute. You may also
                use expression language such as ${file.group}.
              </description>
              <displayName>Group</displayName>
              <dynamic>false</dynamic>
              <name>Group</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/tmp/processed</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Files that could not be written to the output directory for some reason are transferred to
          this relationship
        </description>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Files that have been successfully written to the output directory are transferred to this
          relationship
        </description>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style/>
      <supportsEventDriven>false</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>31981fe5-2720-4fb4-a92c-37b682877642</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>348.3885975254092</x>
        <y>334.51851176866546</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
            <value>
              <allowableValues>
                <displayName>JmsFeedPreconditionEventService</displayName>
                <value>2ec43978-ba4d-4837-8027-e289f4028c53</value>
              </allowableValues>
              <description>Service that manages preconditions that trigger feed execution</description>
              <displayName>Feed Precondition Event Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.nifi.core.api.precondition.FeedPreconditionEventService
              </identifiesControllerService>
              <name>Feed Precondition Event Service</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>
              <description>The unique name of the feed that is beginning</description>
              <displayName>Feed name</displayName>
              <dynamic>false</dynamic>
              <name>feed.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
            <value>
              <description>The name of the datasource that this feed will read from (optional)
              </description>
              <displayName>Source datasource name</displayName>
              <dynamic>false</dynamic>
              <name>src.dataset.id</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>source-dropzone</value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FeedBegin</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Relationship followed on failed metadata capture.</description>
        <name>Failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Relationship followed on successful metadata capture.</description>
        <name>Success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#001eff</value>
        </entry>
      </style>
      <supportsEventDriven>true</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>com.thinkbiganalytics.nifi.v2.processors.metadata.FeedBegin</type>
    </processors>
    <processors>
      <id>efa9f65b-0f7f-47c6-83bb-b47ed807e7f3</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>1022.2698531520878</x>
        <y>158.47982692369473</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <description>The input directory from which to pull files</description>
              <displayName>Input Directory</displayName>
              <dynamic>false</dynamic>
              <name>Input Directory</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <defaultValue>[^\.].*</defaultValue>
              <description>Only files whose names match the given regular expression will be picked up
              </description>
              <displayName>File Filter</displayName>
              <dynamic>false</dynamic>
              <name>File Filter</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <description>When Recurse Subdirectories is true, then only subdirectories whose path
                matches the given regular expression will be scanned
              </description>
              <displayName>Path Filter</displayName>
              <dynamic>false</dynamic>
              <name>Path Filter</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <defaultValue>10</defaultValue>
              <description>The maximum number of files to pull in each iteration</description>
              <displayName>Batch Size</displayName>
              <dynamic>false</dynamic>
              <name>Batch Size</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <allowableValues>
                <displayName>true</displayName>
                <value>true</value>
              </allowableValues>
              <allowableValues>
                <displayName>false</displayName>
                <value>false</value>
              </allowableValues>
              <defaultValue>false</defaultValue>
              <description>If true, the file is not deleted after it has been copied to the Content
                Repository; this causes the file to be picked up continually and is useful for testing
                purposes. If not keeping original NiFi will need write permissions on the directory it
                is pulling from otherwise it will ignore the file.
              </description>
              <displayName>Keep Source File</displayName>
              <dynamic>false</dynamic>
              <name>Keep Source File</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <allowableValues>
                <displayName>true</displayName>
                <value>true</value>
              </allowableValues>
              <allowableValues>
                <displayName>false</displayName>
                <value>false</value>
              </allowableValues>
              <defaultValue>true</defaultValue>
              <description>Indicates whether or not to pull files from subdirectories</description>
              <displayName>Recurse Subdirectories</displayName>
              <dynamic>false</dynamic>
              <name>Recurse Subdirectories</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <defaultValue>0 sec</defaultValue>
              <description>Indicates how long to wait before performing a directory listing</description>
              <displayName>Polling Interval</displayName>
              <dynamic>false</dynamic>
              <name>Polling Interval</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <allowableValues>
                <displayName>true</displayName>
                <value>true</value>
              </allowableValues>
              <allowableValues>
                <displayName>false</displayName>
                <value>false</value>
              </allowableValues>
              <defaultValue>true</defaultValue>
              <description>Indicates whether or not hidden files should be ignored</description>
              <displayName>Ignore Hidden Files</displayName>
              <dynamic>false</dynamic>
              <name>Ignore Hidden Files</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <defaultValue>0 sec</defaultValue>
              <description>The minimum age that a file must be in order to be pulled; any file younger
                than this amount of time (according to last modification date) will be ignored
              </description>
              <displayName>Minimum File Age</displayName>
              <dynamic>false</dynamic>
              <name>Minimum File Age</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <description>The maximum age that a file must be in order to be pulled; any file older than
                this amount of time (according to last modification date) will be ignored
              </description>
              <displayName>Maximum File Age</displayName>
              <dynamic>false</dynamic>
              <name>Maximum File Age</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <defaultValue>0 B</defaultValue>
              <description>The minimum size that a file must be in order to be pulled</description>
              <displayName>Minimum File Size</displayName>
              <dynamic>false</dynamic>
              <name>Minimum File Size</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <description>The maximum size that a file can be in order to be pulled</description>
              <displayName>Maximum File Size</displayName>
              <dynamic>false</dynamic>
              <name>Maximum File Size</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/tmp/source2</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>[^\.].*</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>5 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>All files are routed to success</description>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style/>
      <supportsEventDriven>false</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>95abc8d9-1e46-4cc6-9f51-9511a55337a8</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>1027.5023676670107</x>
        <y>557.7348304332162</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <description>The directory to which files should be written. You may use expression language
                such as /aa/bb/${path}
              </description>
              <displayName>Directory</displayName>
              <dynamic>false</dynamic>
              <name>Directory</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <allowableValues>
                <displayName>replace</displayName>
                <value>replace</value>
              </allowableValues>
              <allowableValues>
                <displayName>ignore</displayName>
                <value>ignore</value>
              </allowableValues>
              <allowableValues>
                <displayName>fail</displayName>
                <value>fail</value>
              </allowableValues>
              <defaultValue>fail</defaultValue>
              <description>Indicates what should happen when a file with the same name already exists in
                the output directory
              </description>
              <displayName>Conflict Resolution Strategy</displayName>
              <dynamic>false</dynamic>
              <name>Conflict Resolution Strategy</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <allowableValues>
                <displayName>true</displayName>
                <value>true</value>
              </allowableValues>
              <allowableValues>
                <displayName>false</displayName>
                <value>false</value>
              </allowableValues>
              <defaultValue>true</defaultValue>
              <description>If true, then missing destination directories will be created. If false,
                flowfiles are penalized and sent to failure.
              </description>
              <displayName>Create Missing Directories</displayName>
              <dynamic>false</dynamic>
              <name>Create Missing Directories</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <description>Specifies the maximum number of files that can exist in the output directory
              </description>
              <displayName>Maximum File Count</displayName>
              <dynamic>false</dynamic>
              <name>Maximum File Count</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <description>Sets the lastModifiedTime on the output file to the value of this attribute.
                Format must be yyyy-MM-dd'T'HH:mm:ssZ. You may also use expression language such as
                ${file.lastModifiedTime}.
              </description>
              <displayName>Last Modified Time</displayName>
              <dynamic>false</dynamic>
              <name>Last Modified Time</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <description>Sets the permissions on the output file to the value of this attribute. Format
                must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--)
                or an octal number (e.g. 644). You may also use expression language such as
                ${file.permissions}.
              </description>
              <displayName>Permissions</displayName>
              <dynamic>false</dynamic>
              <name>Permissions</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <description>Sets the owner on the output file to the value of this attribute. You may also
                use expression language such as ${file.owner}.
              </description>
              <displayName>Owner</displayName>
              <dynamic>false</dynamic>
              <name>Owner</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <description>Sets the group on the output file to the value of this attribute. You may also
                use expression language such as ${file.group}.
              </description>
              <displayName>Group</displayName>
              <dynamic>false</dynamic>
              <name>Group</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>10 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/tmp/dropzone2</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Files that could not be written to the output directory for some reason are transferred to
          this relationship
        </description>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Files that have been successfully written to the output directory are transferred to this
          relationship
        </description>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style/>
      <supportsEventDriven>false</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>edf8789a-074c-4a7f-a64c-3ec5aa17fec3</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>1022.5239735019718</x>
        <y>352.50566386827484</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
            <value>
              <allowableValues>
                <displayName>JmsFeedPreconditionEventService</displayName>
                <value>2ec43978-ba4d-4837-8027-e289f4028c53</value>
              </allowableValues>
              <description>Service that manages preconditions that trigger feed execution</description>
              <displayName>Feed Precondition Event Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.nifi.core.api.precondition.FeedPreconditionEventService
              </identifiesControllerService>
              <name>Feed Precondition Event Service</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>
              <description>The unique name of the feed that is beginning</description>
              <displayName>Feed name</displayName>
              <dynamic>false</dynamic>
              <name>feed.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
            <value>
              <description>The name of the datasource that this feed will read from (optional)
              </description>
              <displayName>Source datasource name</displayName>
              <dynamic>false</dynamic>
              <name>src.dataset.id</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>source2-dropzone2</value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FeedBegin</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Relationship followed on failed metadata capture.</description>
        <name>Failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Relationship followed on successful metadata capture.</description>
        <name>Success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#001eff</value>
        </entry>
      </style>
      <supportsEventDriven>true</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>com.thinkbiganalytics.nifi.v2.processors.metadata.FeedBegin</type>
    </processors>
    <processors>
      <id>9885ab3f-dc86-493a-a78e-8bb59b915789</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>1572.2029376972232</x>
        <y>153.97941386827483</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
            <value>
              <allowableValues>
                <displayName>JmsFeedPreconditionEventService</displayName>
                <value>2ec43978-ba4d-4837-8027-e289f4028c53</value>
              </allowableValues>
              <description>Service that manages preconditions that trigger feed execution</description>
              <displayName>Feed Precondition Event Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.nifi.core.api.precondition.FeedPreconditionEventService
              </identifiesControllerService>
              <name>Feed Precondition Event Service</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>
              <description>The unique name of the feed that is beginning</description>
              <displayName>Feed name</displayName>
              <dynamic>false</dynamic>
              <name>feed.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
            <value>
              <description>The name of the datasource that this feed will read from (optional)
              </description>
              <displayName>Source datasource name</displayName>
              <dynamic>false</dynamic>
              <name>src.dataset.id</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>Feed Precondition Event Service</key>
            <value>2ec43978-ba4d-4837-8027-e289f4028c53</value>
          </entry>
          <entry>
            <key>feed.id</key>
            <value>dropzone-processed</value>
          </entry>
          <entry>
            <key>src.dataset.id</key>
            <value>dropzone, dropzone2</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>5 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FeedBegin</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Relationship followed on failed metadata capture.</description>
        <name>Failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Relationship followed on successful metadata capture.</description>
        <name>Success</name>
      </relationships>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#001eff</value>
        </entry>
      </style>
      <supportsEventDriven>true</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>com.thinkbiganalytics.nifi.v2.processors.metadata.FeedBegin</type>
    </processors>
    <processors>
      <id>0b34e579-ca3f-4bda-ad85-16250811c83c</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>1574.7327082431825</x>
        <y>341.3803580821418</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>File to Fetch</key>
            <value>
              <defaultValue>${absolute.path}/${filename}</defaultValue>
              <description>The fully-qualified filename of the file to fetch from the file system
              </description>
              <displayName>File to Fetch</displayName>
              <dynamic>false</dynamic>
              <name>File to Fetch</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>
              <allowableValues>
                <description>Leave the file as-is</description>
                <displayName>None</displayName>
                <value>None</value>
              </allowableValues>
              <allowableValues>
                <description>Moves the file to the directory specified by the &lt;Move Destination
                  Directory&gt; property
                </description>
                <displayName>Move File</displayName>
                <value>Move File</value>
              </allowableValues>
              <allowableValues>
                <description>Deletes the original file from the file system</description>
                <displayName>Delete File</displayName>
                <value>Delete File</value>
              </allowableValues>
              <defaultValue>None</defaultValue>
              <description>Specifies what to do with the original file on the file system once it has been
                pulled into NiFi
              </description>
              <displayName>Completion Strategy</displayName>
              <dynamic>false</dynamic>
              <name>Completion Strategy</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
            <value>
              <description>The directory to the move the original file to once it has been fetched from
                the file system. This property is ignored unless the Completion Strategy is set to
                &quot;Move File&quot;. If the directory does not exist, it will be created.
              </description>
              <displayName>Move Destination Directory</displayName>
              <dynamic>false</dynamic>
              <name>Move Destination Directory</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>
              <allowableValues>
                <description>The existing destination file should remain intact. The newly ingested file
                  should be moved to the destination directory but be renamed to a random filename
                </description>
                <displayName>Rename</displayName>
                <value>Rename</value>
              </allowableValues>
              <allowableValues>
                <description>The newly ingested file should replace the existing file in the Destination
                  Directory
                </description>
                <displayName>Replace File</displayName>
                <value>Replace File</value>
              </allowableValues>
              <allowableValues>
                <description>The existing file should in the Destination Directory should stay intact
                  and the newly ingested file should be deleted
                </description>
                <displayName>Keep Existing</displayName>
                <value>Keep Existing</value>
              </allowableValues>
              <allowableValues>
                <description>The existing destination file should remain intact and the incoming
                  FlowFile should be routed to failure
                </description>
                <displayName>Fail</displayName>
                <value>Fail</value>
              </allowableValues>
              <defaultValue>Rename</defaultValue>
              <description>If Completion Strategy is set to Move File and a file already exists in the
                destination directory with the same name, this property specifies how that naming
                conflict should be resolved
              </description>
              <displayName>Move Conflict Strategy</displayName>
              <dynamic>false</dynamic>
              <name>Move Conflict Strategy</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File to Fetch</key>
            <value>/tmp/dropzone/file.txt</value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>None</value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
            <value>/tmp/processed</value>
          </entry>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>Rename</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FetchFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Any FlowFile that could not be fetched from the file system for any reason other than
          insufficient permissions or the file not existing will be transferred to this Relationship.
        </description>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Any FlowFile that could not be fetched from the file system because the file could not be
          found will be transferred to this Relationship.
        </description>
        <name>not.found</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Any FlowFile that could not be fetched from the file system due to the user running NiFi
          not having sufficient permissions will be transferred to this Relationship.
        </description>
        <name>permission.denied</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Any FlowFile that is successfully fetched from the file system will be transferred to this
          Relationship.
        </description>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style/>
      <supportsEventDriven>false</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>org.apache.nifi.processors.standard.FetchFile</type>
    </processors>
    <processors>
      <id>82af441a-0c3a-4ac8-8480-80bd21ef18e0</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>1222.5822687900577</x>
        <y>722.8950228465463</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>
              <description>The path for the directory dataset</description>
              <displayName>Directory path</displayName>
              <dynamic>false</dynamic>
              <name>directory.path</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>dropzone2</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>SUCCESS</value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>/tmp/dropzone2</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>DirectoryFeedTermination</name>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#001eff</value>
        </entry>
      </style>
      <supportsEventDriven>false</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>com.thinkbiganalytics.nifi.v2.processors.metadata.DirectoryFeedTermination</type>
    </processors>
    <processors>
      <id>669d4523-c897-4a47-8b9a-3c1b3e8fb6d6</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>351.58647411232323</x>
        <y>536.1865516246224</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <description>The directory to which files should be written. You may use expression language
                such as /aa/bb/${path}
              </description>
              <displayName>Directory</displayName>
              <dynamic>false</dynamic>
              <name>Directory</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <allowableValues>
                <displayName>replace</displayName>
                <value>replace</value>
              </allowableValues>
              <allowableValues>
                <displayName>ignore</displayName>
                <value>ignore</value>
              </allowableValues>
              <allowableValues>
                <displayName>fail</displayName>
                <value>fail</value>
              </allowableValues>
              <defaultValue>fail</defaultValue>
              <description>Indicates what should happen when a file with the same name already exists in
                the output directory
              </description>
              <displayName>Conflict Resolution Strategy</displayName>
              <dynamic>false</dynamic>
              <name>Conflict Resolution Strategy</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <allowableValues>
                <displayName>true</displayName>
                <value>true</value>
              </allowableValues>
              <allowableValues>
                <displayName>false</displayName>
                <value>false</value>
              </allowableValues>
              <defaultValue>true</defaultValue>
              <description>If true, then missing destination directories will be created. If false,
                flowfiles are penalized and sent to failure.
              </description>
              <displayName>Create Missing Directories</displayName>
              <dynamic>false</dynamic>
              <name>Create Missing Directories</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <description>Specifies the maximum number of files that can exist in the output directory
              </description>
              <displayName>Maximum File Count</displayName>
              <dynamic>false</dynamic>
              <name>Maximum File Count</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <description>Sets the lastModifiedTime on the output file to the value of this attribute.
                Format must be yyyy-MM-dd'T'HH:mm:ssZ. You may also use expression language such as
                ${file.lastModifiedTime}.
              </description>
              <displayName>Last Modified Time</displayName>
              <dynamic>false</dynamic>
              <name>Last Modified Time</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <description>Sets the permissions on the output file to the value of this attribute. Format
                must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--)
                or an octal number (e.g. 644). You may also use expression language such as
                ${file.permissions}.
              </description>
              <displayName>Permissions</displayName>
              <dynamic>false</dynamic>
              <name>Permissions</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <description>Sets the owner on the output file to the value of this attribute. You may also
                use expression language such as ${file.owner}.
              </description>
              <displayName>Owner</displayName>
              <dynamic>false</dynamic>
              <name>Owner</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <description>Sets the group on the output file to the value of this attribute. You may also
                use expression language such as ${file.group}.
              </description>
              <displayName>Group</displayName>
              <dynamic>false</dynamic>
              <name>Group</name>
              <required>false</required>
              <sensitive>false</sensitive>
              <supportsEl>true</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/tmp/dropzone</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Files that could not be written to the output directory for some reason are transferred to
          this relationship
        </description>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <description>Files that have been successfully written to the output directory are transferred to this
          relationship
        </description>
        <name>success</name>
      </relationships>
      <state>STOPPED</state>
      <style/>
      <supportsEventDriven>false</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>9e1661c7-a277-417a-a944-6287909d35e8</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>879.621884268573</x>
        <y>724.2037970317269</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>
              <description>The path for the directory dataset</description>
              <displayName>Directory path</displayName>
              <dynamic>false</dynamic>
              <name>directory.path</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>dropzone2</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>FAILURE</value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>/tmp/dropzone2</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>DirectoryFeedTermination</name>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#e80c0c</value>
        </entry>
      </style>
      <supportsEventDriven>false</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>com.thinkbiganalytics.nifi.v2.processors.metadata.DirectoryFeedTermination</type>
    </processors>
    <processors>
      <id>8782db6b-9bc3-468c-9617-71b670e30ff8</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>534.2023249424014</x>
        <y>722.7133211863901</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>
              <description>The path for the directory dataset</description>
              <displayName>Directory path</displayName>
              <dynamic>false</dynamic>
              <name>directory.path</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>dropzone</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>SUCCESS</value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>/tmp/dropzone</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>DirectoryFeedTermination</name>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#001eff</value>
        </entry>
      </style>
      <supportsEventDriven>false</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>com.thinkbiganalytics.nifi.v2.processors.metadata.DirectoryFeedTermination</type>
    </processors>
    <processors>
      <id>bbc3aa24-a5f8-4c10-aaff-741b57bff68d</id>
      <parentGroupId>072461b7-317b-42ae-a381-aee5c5fcce7a</parentGroupId>
      <position>
        <x>1577.3414606845888</x>
        <y>714.9061246837044</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <defaultConcurrentTasks>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>1</value>
          </entry>
          <entry>
            <key>EVENT_DRIVEN</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>1</value>
          </entry>
        </defaultConcurrentTasks>
        <defaultSchedulingPeriod>
          <entry>
            <key>TIMER_DRIVEN</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>CRON_DRIVEN</key>
            <value>* * * * * ?</value>
          </entry>
        </defaultSchedulingPeriod>
        <descriptors>
          <entry>
            <key>Metadata Provider Service</key>
            <value>
              <allowableValues>
                <displayName>MetadataProviderSelectorService</displayName>
                <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
              </allowableValues>
              <description>Specified Service supplying the implemtentions of the various metadata
                providers
              </description>
              <displayName>Metadata Provider Service</displayName>
              <dynamic>false</dynamic>
              <identifiesControllerService>
                com.thinkbiganalytics.controller.metadata.MetadataProviderService
              </identifiesControllerService>
              <name>Metadata Provider Service</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>
              <description>The unique name of the destinationDatasource that the feed will update
              </description>
              <displayName>Destination destinationDatasource name</displayName>
              <dynamic>false</dynamic>
              <name>dest.dataset.id</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>
              <allowableValues>
                <displayName>SUCCESS</displayName>
                <value>SUCCESS</value>
              </allowableValues>
              <allowableValues>
                <displayName>FAILURE</displayName>
                <value>FAILURE</value>
              </allowableValues>
              <description>The completion result of the feed</description>
              <displayName>Completion result of this feed terminating processor</displayName>
              <dynamic>false</dynamic>
              <name>completion_result</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>
              <description>The path for the directory dataset</description>
              <displayName>Directory path</displayName>
              <dynamic>false</dynamic>
              <name>directory.path</name>
              <required>true</required>
              <sensitive>false</sensitive>
              <supportsEl>false</supportsEl>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Metadata Provider Service</key>
            <value>64b465e6-48d2-4c26-88d9-96b5ebdb8020</value>
          </entry>
          <entry>
            <key>dest.dataset.id</key>
            <value>processed</value>
          </entry>
          <entry>
            <key>completion_result</key>
            <value>SUCCESS</value>
          </entry>
          <entry>
            <key>directory.path</key>
            <value>/tmp/processed</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>DirectoryFeedTermination</name>
      <state>STOPPED</state>
      <style>
        <entry>
          <key>background-color</key>
          <value>#001eff</value>
        </entry>
      </style>
      <supportsEventDriven>false</supportsEventDriven>
      <supportsParallelProcessing>true</supportsParallelProcessing>
      <type>com.thinkbiganalytics.nifi.v2.processors.metadata.DirectoryFeedTermination</type>
    </processors>
  </snippet>
  <timestamp>03/28/2016 16:43:48 PDT</timestamp>
</template>
