src/test/resources/Data_Confidence_Invalid_Records.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>Data Confidence Invalid Records</name><snippet><connections><id>6860e766-e94e-404d-8dc7-eccec6e2a273</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>2f497665-25ab-4adf-a145-9cdbb96ae19d</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>e28c04ed-ac6d-474b-a87e-d2e372321d30</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>571dbec4-e3cd-42cb-a27d-56add711ece1</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>bffe020d-e5ff-443d-80b0-1b41135e9183</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>1053a3b4-633b-4971-9217-a60d8dcfc58c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a32c17d4-909b-4de0-b75b-4b3bd42ab3be</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>1053a3b4-633b-4971-9217-a60d8dcfc58c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>d23681ec-358e-487c-82f8-044804049f39</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>352fe76f-be8d-4817-8cf4-6e85775a5b17</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>ab418b1d-89a9-4e27-b83e-788b74bc07fa</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><selectedRelationships>success</selectedRelationships><source><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>e7511da6-bcee-4484-99ca-203eba55b993</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>add012fe-265e-4edc-8e4a-64b9b105f61f</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>e7511da6-bcee-4484-99ca-203eba55b993</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>bffe020d-e5ff-443d-80b0-1b41135e9183</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>49b950eb-bad3-490c-8c5a-a7c10dab7a78</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>e28c04ed-ac6d-474b-a87e-d2e372321d30</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>ab418b1d-89a9-4e27-b83e-788b74bc07fa</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>41fc3965-65f7-47e5-b215-5a7b67abb704</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>85b66eaf-8740-451f-962f-0792ac9b243e</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><selectedRelationships>unmatched</selectedRelationships><source><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>e28c04ed-ac6d-474b-a87e-d2e372321d30</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</id><comments></comments><descriptors><entry><key>Database Connection URL</key><value><description>A database connection URL used to connect to a database. May contain database system name, host, port, database name and some parameters. The exact syntax of a database connection URL is specified by your DBMS.</description><displayName>Database Connection URL</displayName><dynamic>false</dynamic><name>Database Connection URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Driver Class Name</key><value><description>Database driver class name</description><displayName>Database Driver Class Name</displayName><dynamic>false</dynamic><name>Database Driver Class Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Driver Jar Url</key><value><description>Optional database driver jar file path url. For example 'file:///var/tmp/mariadb-java-client-1.1.7.jar'</description><displayName>Database Driver Jar Url</displayName><dynamic>false</dynamic><name>Database Driver Jar Url</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database User</key><value><description>Database user name</description><displayName>Database User</displayName><dynamic>false</dynamic><name>Database User</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>The password for the database user</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>500 millis</defaultValue><description>The maximum amount of time that the pool will wait (when there are no available connections)  for a connection to be returned before failing, or -1 to wait indefinitely. </description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Total Connections</key><value><defaultValue>8</defaultValue><description>The maximum number of active connections that can be allocated from this pool at the same time,  or negative for no limit.</description><displayName>Max Total Connections</displayName><dynamic>false</dynamic><name>Max Total Connections</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>ThriftConnectionPool</name><properties><entry><key>Database Connection URL</key><value>jdbc:hive2://localhost:10000/default</value></entry><entry><key>Database Driver Class Name</key><value>org.apache.hive.jdbc.HiveDriver</value></entry><entry><key>Database Driver Jar Url</key></entry><entry><key>Database User</key><value>nifi</value></entry><entry><key>Password</key></entry><entry><key>Max Wait Time</key><value>50000 millis</value></entry><entry><key>Max Total Connections</key><value>100</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>29c3cb55-ba39-4f9f-ae68-a5ea5e14db7d</groupId><id>5e743002-524c-4416-8a06-916b1d47d29a</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>SQL select query</key><value>select ${elasticsearch.columns} from ${source}.${entity}_valid where processing_dttm = ${feedts}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>039fdbb0-182c-4351-97d3-2e8a345a1b28</groupId><id>863b0ff4-e0aa-45f4-ba3e-24ea0c0e7f56</id><name>Create Feed Partition</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Statement</key><value>alter table ${source}.${entity}_feed add 
if not exists partition (processing_dttm=${feedts})
location '/etl/${source}/${entity}/${feedts}/'</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQLStatement</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source table</key><value><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><description>Partition specification in format: field|type|formula
field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>ac52d5ed-763d-4a86-858b-eb00f9457a55</groupId><id>874433ee-0a50-4d92-aba6-4e4abf9945dc</id><name>TableMerge</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Source table</key><value>${source}.${entity}_valid</value></entry><entry><key>Target table</key><value>${source}.${entity}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${partition_specs}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableMerge</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>9d6f27f2-1044-48a4-b8ff-0c6a7e4437d0</groupId><id>37a0abbd-6d51-42d9-8c44-3a81038ba2f4</id><name>Create Feed Partition</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Statement</key><value>alter table ${source}.${entity}_feed add 
if not exists partition (processing_dttm=${feedts})
location '/etl/${source}/${entity}/${feedts}/'</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQLStatement</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source table</key><value><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><description>Partition specification in format: field|type|formula
field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>1e061bec-148a-4b92-9382-8c047d0f7491</groupId><id>50cfce3a-ad60-4ecd-8f9f-c8d23be90e2b</id><name>TableMerge</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Source table</key><value>${source}.${entity}_valid</value></entry><entry><key>Target table</key><value>${source}.${entity}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${partition_specs}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableMerge</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>63ecfcb4-1f68-40a9-bcb7-bd04a0947553</groupId><id>e53ab743-fbe2-42dc-a800-3775e58ae275</id><name>Create Feed Partition</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Statement</key><value>alter table ${source}.${entity}_feed add 
if not exists partition (processing_dttm=${feedts})
location '/etl/${source}/${entity}/${feedts}/'</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.ExecuteHQLStatement</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ColumnSpecs</key><value><description>Pipe-delim format with the specifications for the columns (column name|data type|comment</description><displayName>ColumnSpecs</displayName><dynamic>false</dynamic><name>ColumnSpecs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Format specification</key><value><defaultValue>ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' </defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Format specification</displayName><dynamic>false</dynamic><name>Format specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source</key><value><description>Name representing the source category</description><displayName>Source</displayName><dynamic>false</dynamic><name>Source</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Entity</key><value><description>Name of the master table</description><displayName>Table Entity</displayName><dynamic>false</dynamic><name>Table Entity</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>9d6f27f2-1044-48a4-b8ff-0c6a7e4437d0</groupId><id>5d6999df-d6e8-43ff-9ca3-1f1baaececdf</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>ColumnSpecs</key><value>${table_column_specs}</value></entry><entry><key>Format specification</key><value>${table_format}</value></entry><entry><key>Source</key><value>${source}</value></entry><entry><key>Partition specification</key><value>${table_partition_specs}</value></entry><entry><key>Table Entity</key><value>${entity}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableRegister</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>9d6f27f2-1044-48a4-b8ff-0c6a7e4437d0</groupId><id>bf02d495-26c7-4cbc-b00b-3024de0cb86f</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>SQL select query</key><value>select ${elasticsearch.columns} from ${source}.${entity}_valid where processing_dttm = ${feedts}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ColumnSpecs</key><value><description>Pipe-delim format with the specifications for the columns (column name|data type|comment</description><displayName>ColumnSpecs</displayName><dynamic>false</dynamic><name>ColumnSpecs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Format specification</key><value><defaultValue>ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' </defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Format specification</displayName><dynamic>false</dynamic><name>Format specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source</key><value><description>Name representing the source category</description><displayName>Source</displayName><dynamic>false</dynamic><name>Source</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Entity</key><value><description>Name of the master table</description><displayName>Table Entity</displayName><dynamic>false</dynamic><name>Table Entity</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>feca1164-2313-436b-86e7-fcc60593b5fc</groupId><id>9c6c3739-0493-440e-be5b-80e36bebdc64</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>ColumnSpecs</key><value>${table_column_specs}</value></entry><entry><key>Format specification</key><value>${table_format}</value></entry><entry><key>Source</key><value>${source}</value></entry><entry><key>Partition specification</key><value>${table_partition_specs}</value></entry><entry><key>Table Entity</key><value>${entity}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableRegister</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>1e061bec-148a-4b92-9382-8c047d0f7491</groupId><id>cce70187-e3ae-4bfc-88d5-073845a5261b</id><name>Create Feed Partition</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Statement</key><value>alter table ${source}.${entity}_feed add 
if not exists partition (processing_dttm=${feedts})
location '/etl/${source}/${entity}/${feedts}/'</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQLStatement</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</groupId><id>bffe020d-e5ff-443d-80b0-1b41135e9183</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>SQL select query</key><value>select x.invalid_count, y.total_count, x.invalid_count/y.total_count as invalid_pct, CASE WHEN (x.invalid_count/y.total_count)*100 &gt;= ${invalidThresholdPercentage} then 'false' else 'true' end as valid, 
CASE WHEN x.invalid_count/y.total_count &gt;= 0.10 then  concat('Invalid. The data has  ', (x.invalid_count/y.total_count)*100,'% of the rows invalid.  This is above the threshold of ','${invalidThresholdPercentage}%' ) else concat('Valid.  This job has passed validation with ',  (x.invalid_count/y.total_count)*100,'% of the rows invalid.  This is below the threshold of ${invalidThresholdPercentage}%') end as validation_message
from (
select  metricvalue as invalid_count, 'INVALID_COUNT' as type, m.max_date from ${systemFeedName}_profile
inner join (SELECT MAX(processing_dttm) as max_date from ${systemFeedName}_profile) m on m.max_date = processing_dttm
where columnname = '(ALL)'
and metrictype = 'INVALID_COUNT'
) x
inner join (
select  metricvalue as total_count, 'TOTAL_COUNT' as type,m.max_date from ${systemFeedName}_profile
inner join (SELECT MAX(processing_dttm) as max_date from ${systemFeedName}_profile) m on m.max_date = processing_dttm
where columnname = '(ALL)'
and metrictype = 'TOTAL_COUNT') y on y.max_date = x.max_date</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source table</key><value><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><description>Partition specification in format: field|type|formula
field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>551bbc29-a0ea-4837-ace6-47a9665d9a36</groupId><id>865da10f-3123-458f-a508-54acef69ea38</id><name>TableMerge</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Source table</key><value>${source}.${entity}_valid</value></entry><entry><key>Target table</key><value>${source}.${entity}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${partition_specs}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableMerge</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>039fdbb0-182c-4351-97d3-2e8a345a1b28</groupId><id>929196f7-d320-407c-8fba-71e695406f08</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>SQL select query</key><value>select ${elasticsearch.columns} from ${source}.${entity}_valid where processing_dttm = ${feedts}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ColumnSpecs</key><value><description>Pipe-delim format with the specifications for the columns (column name|data type|comment</description><displayName>ColumnSpecs</displayName><dynamic>false</dynamic><name>ColumnSpecs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Format specification</key><value><defaultValue>ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' </defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Format specification</displayName><dynamic>false</dynamic><name>Format specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source</key><value><description>Name representing the source category</description><displayName>Source</displayName><dynamic>false</dynamic><name>Source</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Entity</key><value><description>Name of the master table</description><displayName>Table Entity</displayName><dynamic>false</dynamic><name>Table Entity</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>551bbc29-a0ea-4837-ace6-47a9665d9a36</groupId><id>20d3e46a-c8cf-4a52-87b3-0b2a2d557a74</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>ColumnSpecs</key><value>${table_column_specs}</value></entry><entry><key>Format specification</key><value>${table_format}</value></entry><entry><key>Source</key><value>${source}</value></entry><entry><key>Partition specification</key><value>${table_partition_specs}</value></entry><entry><key>Table Entity</key><value>${entity}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableRegister</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>ac52d5ed-763d-4a86-858b-eb00f9457a55</groupId><id>94728fd4-56b1-4815-a56d-ce90f4759e78</id><name>Create Feed Partition</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Statement</key><value>alter table ${source}.${entity}_feed add 
if not exists partition (processing_dttm=${feedts})
location '/etl/${source}/${entity}/${feedts}/'</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQLStatement</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source table</key><value><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><description>Partition specification in format: field|type|formula
field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>feca1164-2313-436b-86e7-fcc60593b5fc</groupId><id>bb295887-a5ba-4b4b-996b-6df0364e6dfa</id><name>TableMerge</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Source table</key><value>${source}.${entity}_valid</value></entry><entry><key>Target table</key><value>${source}.${entity}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${partition_specs}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableMerge</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>29c3cb55-ba39-4f9f-ae68-a5ea5e14db7d</groupId><id>9b483683-74a4-4bf3-bc91-bb8388513c4b</id><name>Create Feed Partition</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Statement</key><value>alter table ${source}.${entity}_feed add 
if not exists partition (processing_dttm=${feedts})
location '/etl/${source}/${entity}/${feedts}/'</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQLStatement</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>feca1164-2313-436b-86e7-fcc60593b5fc</groupId><id>d80a9e36-e037-474e-bc4d-73202f5d11e9</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>SQL select query</key><value>select ${elasticsearch.columns} from ${source}.${entity}_valid where processing_dttm = ${feedts}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source table</key><value><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><description>Partition specification in format: field|type|formula
field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>63ecfcb4-1f68-40a9-bcb7-bd04a0947553</groupId><id>6aea7676-c5f7-465b-ac64-22d4d4e594ae</id><name>TableMerge</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Source table</key><value>${source}.${entity}_valid</value></entry><entry><key>Target table</key><value>${source}.${entity}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${partition_specs}</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.TableMerge</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source table</key><value><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><description>Partition specification in format: field|type|formula
field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>039fdbb0-182c-4351-97d3-2e8a345a1b28</groupId><id>64165342-f495-4439-bb1d-e557bac9edb4</id><name>TableMerge</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Source table</key><value>${source}.${entity}_valid</value></entry><entry><key>Target table</key><value>${source}.${entity}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${partition_specs}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableMerge</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source table</key><value><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><description>Partition specification in format: field|type|formula
field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>9d6f27f2-1044-48a4-b8ff-0c6a7e4437d0</groupId><id>68cf46ef-c50f-4d41-b22a-77e848a84876</id><name>TableMerge</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Source table</key><value>${source}.${entity}_valid</value></entry><entry><key>Target table</key><value>${source}.${entity}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${partition_specs}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableMerge</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>bd69b6c4-fa31-4e4e-9b55-6f7eacab7237</groupId><id>91910b5f-2b19-4200-a225-23a5eb7805a2</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>SQL select query</key><value>select ${elasticsearch.columns} from ${source}.${entity}_valid where processing_dttm = ${feedts}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>551bbc29-a0ea-4837-ace6-47a9665d9a36</groupId><id>4f222054-01fa-4001-a525-37b3e15fe19a</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>SQL select query</key><value>select ${elasticsearch.columns} from ${source}.${entity}_valid where processing_dttm = ${feedts}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>1e061bec-148a-4b92-9382-8c047d0f7491</groupId><id>bf34c275-7d01-4c6c-9673-e72f35134c6d</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>SQL select query</key><value>select ${elasticsearch.columns} from ${source}.${entity}_valid where processing_dttm = ${feedts}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source table</key><value><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><description>Partition specification in format: field|type|formula
field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>bd69b6c4-fa31-4e4e-9b55-6f7eacab7237</groupId><id>1f52f12f-a0e2-4b18-85ed-e08b0e993202</id><name>TableMerge</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Source table</key><value>${source}.${entity}_valid</value></entry><entry><key>Target table</key><value>${source}.${entity}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${partition_specs}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableMerge</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ColumnSpecs</key><value><description>Pipe-delim format with the specifications for the columns (column name|data type|comment</description><displayName>ColumnSpecs</displayName><dynamic>false</dynamic><name>ColumnSpecs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Format specification</key><value><defaultValue>ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' </defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Format specification</displayName><dynamic>false</dynamic><name>Format specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source</key><value><description>Name representing the source category</description><displayName>Source</displayName><dynamic>false</dynamic><name>Source</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Entity</key><value><description>Name of the master table</description><displayName>Table Entity</displayName><dynamic>false</dynamic><name>Table Entity</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>63ecfcb4-1f68-40a9-bcb7-bd04a0947553</groupId><id>f5cdba40-96ab-4143-995a-37b42693fb5d</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>ColumnSpecs</key><value>${table_column_specs}</value></entry><entry><key>Format specification</key><value>${table_format}</value></entry><entry><key>Source</key><value>${source}</value></entry><entry><key>Partition specification</key><value>${table_partition_specs}</value></entry><entry><key>Table Entity</key><value>${entity}</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.TableRegister</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>ac52d5ed-763d-4a86-858b-eb00f9457a55</groupId><id>d61799a7-fcff-4cca-8948-41e0c736002c</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>SQL select query</key><value>select ${elasticsearch.columns} from ${source}.${entity}_valid where processing_dttm = ${feedts}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>4c875cb0-845b-45f1-b010-908a074dfe6f</groupId><id>20d6cb36-54d0-4c72-a1cf-c287d3ba8a02</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>SQL select query</key><value>select ${elasticsearch.columns} from ${source}.${entity}_valid where processing_dttm = ${feedts}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>551bbc29-a0ea-4837-ace6-47a9665d9a36</groupId><id>f4de9564-b883-4452-a5bf-9f9b9a3417b6</id><name>Create Feed Partition</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Statement</key><value>alter table ${source}.${entity}_feed add 
if not exists partition (processing_dttm=${feedts})
location '/etl/${source}/${entity}/${feedts}/'</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQLStatement</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ColumnSpecs</key><value><description>Pipe-delim format with the specifications for the columns (column name|data type|comment</description><displayName>ColumnSpecs</displayName><dynamic>false</dynamic><name>ColumnSpecs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Format specification</key><value><defaultValue>ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' </defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Format specification</displayName><dynamic>false</dynamic><name>Format specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source</key><value><description>Name representing the source category</description><displayName>Source</displayName><dynamic>false</dynamic><name>Source</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Entity</key><value><description>Name of the master table</description><displayName>Table Entity</displayName><dynamic>false</dynamic><name>Table Entity</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>bd69b6c4-fa31-4e4e-9b55-6f7eacab7237</groupId><id>705ae92b-8df5-4034-9ce1-943176ebd0be</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>ColumnSpecs</key><value>${table_column_specs}</value></entry><entry><key>Format specification</key><value>${table_format}</value></entry><entry><key>Source</key><value>${source}</value></entry><entry><key>Partition specification</key><value>${table_partition_specs}</value></entry><entry><key>Table Entity</key><value>${entity}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableRegister</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ColumnSpecs</key><value><description>Pipe-delim format with the specifications for the columns (column name|data type|comment</description><displayName>ColumnSpecs</displayName><dynamic>false</dynamic><name>ColumnSpecs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Format specification</key><value><defaultValue>ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' </defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Format specification</displayName><dynamic>false</dynamic><name>Format specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source</key><value><description>Name representing the source category</description><displayName>Source</displayName><dynamic>false</dynamic><name>Source</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Entity</key><value><description>Name of the master table</description><displayName>Table Entity</displayName><dynamic>false</dynamic><name>Table Entity</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>039fdbb0-182c-4351-97d3-2e8a345a1b28</groupId><id>7cffbfb8-e182-4764-b00c-81dbdd77ef3d</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>ColumnSpecs</key><value>${table_column_specs}</value></entry><entry><key>Format specification</key><value>${table_format}</value></entry><entry><key>Source</key><value>${source}</value></entry><entry><key>Partition specification</key><value>${table_partition_specs}</value></entry><entry><key>Table Entity</key><value>${entity}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableRegister</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>feca1164-2313-436b-86e7-fcc60593b5fc</groupId><id>7f21e272-5fcf-4931-9fdc-3d5c2d252aee</id><name>Create Feed Partition</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Statement</key><value>alter table ${source}.${entity}_feed add 
if not exists partition (processing_dttm=${feedts})
location '/etl/${source}/${entity}/${feedts}/'</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQLStatement</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>4c875cb0-845b-45f1-b010-908a074dfe6f</groupId><id>4769846a-eda3-4f68-ac09-039c99465424</id><name>Create Feed Partition</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Statement</key><value>alter table ${source}.${entity}_feed add 
if not exists partition (processing_dttm=${feedts})
location '/etl/${source}/${entity}/${feedts}/'</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQLStatement</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source table</key><value><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><description>Partition specification in format: field|type|formula
field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>29c3cb55-ba39-4f9f-ae68-a5ea5e14db7d</groupId><id>2cd167d6-f9ff-4720-a217-047812b34f09</id><name>TableMerge</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Source table</key><value>${source}.${entity}_valid</value></entry><entry><key>Target table</key><value>${source}.${entity}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${partition_specs}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableMerge</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ColumnSpecs</key><value><description>Pipe-delim format with the specifications for the columns (column name|data type|comment</description><displayName>ColumnSpecs</displayName><dynamic>false</dynamic><name>ColumnSpecs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Format specification</key><value><defaultValue>ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' </defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Format specification</displayName><dynamic>false</dynamic><name>Format specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source</key><value><description>Name representing the source category</description><displayName>Source</displayName><dynamic>false</dynamic><name>Source</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Entity</key><value><description>Name of the master table</description><displayName>Table Entity</displayName><dynamic>false</dynamic><name>Table Entity</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>4c875cb0-845b-45f1-b010-908a074dfe6f</groupId><id>defb2b5a-8f49-4cdf-a010-e352d11d1610</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>ColumnSpecs</key><value>${table_column_specs}</value></entry><entry><key>Format specification</key><value>${table_format}</value></entry><entry><key>Source</key><value>${source}</value></entry><entry><key>Partition specification</key><value>${table_partition_specs}</value></entry><entry><key>Table Entity</key><value>${entity}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableRegister</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ColumnSpecs</key><value><description>Pipe-delim format with the specifications for the columns (column name|data type|comment</description><displayName>ColumnSpecs</displayName><dynamic>false</dynamic><name>ColumnSpecs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Format specification</key><value><defaultValue>ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' </defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Format specification</displayName><dynamic>false</dynamic><name>Format specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source</key><value><description>Name representing the source category</description><displayName>Source</displayName><dynamic>false</dynamic><name>Source</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Entity</key><value><description>Name of the master table</description><displayName>Table Entity</displayName><dynamic>false</dynamic><name>Table Entity</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>ac52d5ed-763d-4a86-858b-eb00f9457a55</groupId><id>82861b28-529e-4d8e-b740-55bb798c29c0</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>ColumnSpecs</key><value>${table_column_specs}</value></entry><entry><key>Format specification</key><value>${table_format}</value></entry><entry><key>Source</key><value>${source}</value></entry><entry><key>Partition specification</key><value>${table_partition_specs}</value></entry><entry><key>Table Entity</key><value>${entity}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableRegister</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ColumnSpecs</key><value><description>Pipe-delim format with the specifications for the columns (column name|data type|comment</description><displayName>ColumnSpecs</displayName><dynamic>false</dynamic><name>ColumnSpecs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Format specification</key><value><defaultValue>ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' </defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Format specification</displayName><dynamic>false</dynamic><name>Format specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source</key><value><description>Name representing the source category</description><displayName>Source</displayName><dynamic>false</dynamic><name>Source</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Entity</key><value><description>Name of the master table</description><displayName>Table Entity</displayName><dynamic>false</dynamic><name>Table Entity</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>1e061bec-148a-4b92-9382-8c047d0f7491</groupId><id>d3fa5cd7-f500-4c81-bfbc-c9385364ddec</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>ColumnSpecs</key><value>${table_column_specs}</value></entry><entry><key>Format specification</key><value>${table_format}</value></entry><entry><key>Source</key><value>${source}</value></entry><entry><key>Partition specification</key><value>${table_partition_specs}</value></entry><entry><key>Table Entity</key><value>${entity}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableRegister</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source table</key><value><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><description>Partition specification in format: field|type|formula
field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>4c875cb0-845b-45f1-b010-908a074dfe6f</groupId><id>52153afc-f3c8-43cc-b6b5-553cb318634a</id><name>TableMerge</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Source table</key><value>${source}.${entity}_valid</value></entry><entry><key>Target table</key><value>${source}.${entity}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${partition_specs}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableMerge</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ColumnSpecs</key><value><description>Pipe-delim format with the specifications for the columns (column name|data type|comment</description><displayName>ColumnSpecs</displayName><dynamic>false</dynamic><name>ColumnSpecs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Format specification</key><value><defaultValue>ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' </defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Format specification</displayName><dynamic>false</dynamic><name>Format specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source</key><value><description>Name representing the source category</description><displayName>Source</displayName><dynamic>false</dynamic><name>Source</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Entity</key><value><description>Name of the master table</description><displayName>Table Entity</displayName><dynamic>false</dynamic><name>Table Entity</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>29c3cb55-ba39-4f9f-ae68-a5ea5e14db7d</groupId><id>718f9ada-115b-4f34-8b38-db79c99281b4</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>ColumnSpecs</key><value>${table_column_specs}</value></entry><entry><key>Format specification</key><value>${table_format}</value></entry><entry><key>Source</key><value>${source}</value></entry><entry><key>Partition specification</key><value>${table_partition_specs}</value></entry><entry><key>Table Entity</key><value>${entity}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.TableRegister</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>bd69b6c4-fa31-4e4e-9b55-6f7eacab7237</groupId><id>237c18ad-7d2f-4532-8f9b-e085f9b19b02</id><name>Create Feed Partition</name><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>Statement</key><value>alter table ${source}.${entity}_feed add 
if not exists partition (processing_dttm=${feedts})
location '/etl/${source}/${entity}/${feedts}/'</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.ExecuteHQLStatement</type></referencingComponents><state>ENABLED</state><type>com.thinkbiganalytics.controller.ThriftConnectionPool</type></controllerServices><processors><id>bffe020d-e5ff-443d-80b0-1b41135e9183</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><position><x>1293.4527587890625</x><y>12.723164081573486</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>ThriftConnectionPool</displayName><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Database Connection Pooling Service</key><value>fa4f03ba-4db6-400b-82c8-51e1cbd6460a</value></entry><entry><key>SQL select query</key><value>select x.invalid_count, y.total_count, x.invalid_count/y.total_count as invalid_pct, CASE WHEN (x.invalid_count/y.total_count)*100 &gt;= ${invalidThresholdPercentage} then 'false' else 'true' end as valid, 
CASE WHEN x.invalid_count/y.total_count &gt;= 0.10 then  concat('Invalid. The data has  ', (x.invalid_count/y.total_count)*100,'% of the rows invalid.  This is above the threshold of ','${invalidThresholdPercentage}%' ) else concat('Valid.  This job has passed validation with ',  (x.invalid_count/y.total_count)*100,'% of the rows invalid.  This is below the threshold of ${invalidThresholdPercentage}%') end as validation_message
from (
select  metricvalue as invalid_count, 'INVALID_COUNT' as type, m.max_date from ${systemFeedName}_profile
inner join (SELECT MAX(processing_dttm) as max_date from ${systemFeedName}_profile) m on m.max_date = processing_dttm
where columnname = '(ALL)'
and metrictype = 'INVALID_COUNT'
) x
inner join (
select  metricvalue as total_count, 'TOTAL_COUNT' as type,m.max_date from ${systemFeedName}_profile
inner join (SELECT MAX(processing_dttm) as max_date from ${systemFeedName}_profile) m on m.max_date = processing_dttm
where columnname = '(ALL)'
and metrictype = 'TOTAL_COUNT') y on y.max_date = x.max_date</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExecuteHQL</name><relationships><autoTerminate>true</autoTerminate><description>SQL query execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully created FlowFile from SQL query result set.</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.ExecuteHQL</type></processors><processors><id>e7511da6-bcee-4484-99ca-203eba55b993</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><position><x>659.0</x><y>238.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>JSON container options</key><value><allowableValues><displayName>none</displayName><value>none</value></allowableValues><allowableValues><displayName>array</displayName><value>array</value></allowableValues><defaultValue>array</defaultValue><description>Determines how stream of records is exposed: either as a sequence of single Objects (none) (i.e. writing every Object to a new line), or as an array of Objects (array).</description><displayName>JSON container options</displayName><dynamic>false</dynamic><name>JSON container options</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Wrap Single Record</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Determines if the resulting output for empty records or a single record should be wrapped in a container array as specified by 'JSON container options'</description><displayName>Wrap Single Record</displayName><dynamic>false</dynamic><name>Wrap Single Record</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>JSON container options</key><value>array</value></entry><entry><key>Wrap Single Record</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ConvertAvroToJSON</name><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be parsed as Avro or cannot be converted to JSON for any reason</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship after it has been converted to JSON</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type></processors><processors><id>85b66eaf-8740-451f-962f-0792ac9b243e</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><position><x>1915.0</x><y>542.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>/tmp/querytest/invalid</value></entry><entry><key>Conflict Resolution Strategy</key><value>fail</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Validation Failure</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors><processors><id>2f497665-25ab-4adf-a145-9cdbb96ae19d</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><position><x>2212.0</x><y>353.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>/tmp/querytest/valid</value></entry><entry><key>Conflict Resolution Strategy</key><value>fail</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Validation Success</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors><processors><id>d23681ec-358e-487c-82f8-044804049f39</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><position><x>62.0</x><y>102.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>File Size</key><value><description>The size of the file that will be used</description><displayName>File Size</displayName><dynamic>false</dynamic><name>File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>1</defaultValue><description>The number of FlowFiles to be transferred in each invocation</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Format</key><value><allowableValues><displayName>Binary</displayName><value>Binary</value></allowableValues><allowableValues><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Binary</defaultValue><description>Specifies whether the data should be Text or Binary</description><displayName>Data Format</displayName><dynamic>false</dynamic><name>Data Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Unique FlowFiles</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput</description><displayName>Unique FlowFiles</displayName><dynamic>false</dynamic><name>Unique FlowFiles</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>File Size</key><value>0 KB</value></entry><entry><key>Batch Size</key><value>1</value></entry><entry><key>Data Format</key><value>Binary</value></entry><entry><key>Unique FlowFiles</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>15 min</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GenerateFlowFile</name><relationships><autoTerminate>false</autoTerminate><description></description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GenerateFlowFile</type></processors><processors><id>e28c04ed-ac6d-474b-a87e-d2e372321d30</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><position><x>1580.0</x><y>320.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>failure</key><value><description></description><displayName>failure</displayName><dynamic>true</dynamic><name>failure</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>success</key><value><description></description><displayName>success</displayName><dynamic>true</dynamic><name>success</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key><value>Route to Property name</value></entry><entry><key>failure</key><value>${checkData.validationCheck:equals(&quot;true&quot;):not()}</value></entry><entry><key>success</key><value>${checkData.validationCheck:equals(&quot;true&quot;)}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>RouteOnAttribute</name><relationships><autoTerminate>false</autoTerminate><description></description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description></description><name>success</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors><processors><id>ab418b1d-89a9-4e27-b83e-788b74bc07fa</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><position><x>1090.0</x><y>412.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>checkData.validationCheck</key><value><description></description><displayName>checkData.validationCheck</displayName><dynamic>true</dynamic><name>checkData.validationCheck</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>checkData.validationMessage</key><value><description></description><displayName>checkData.validationMessage</displayName><dynamic>true</dynamic><name>checkData.validationMessage</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>invalidCount</key><value><description></description><displayName>invalidCount</displayName><dynamic>true</dynamic><name>invalidCount</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>invalidPercent</key><value><description></description><displayName>invalidPercent</displayName><dynamic>true</dynamic><name>invalidPercent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>totalCount</key><value><description></description><displayName>totalCount</displayName><dynamic>true</dynamic><name>totalCount</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Return Type</key><value>auto-detect</value></entry><entry><key>Path Not Found Behavior</key><value>ignore</value></entry><entry><key>Null Value Representation</key><value>empty string</value></entry><entry><key>checkData.validationCheck</key><value>$.valid</value></entry><entry><key>checkData.validationMessage</key><value>$.validation_message</value></entry><entry><key>invalidCount</key><value>$.invalid_count</value></entry><entry><key>invalidPercent</key><value>$.invalid_pct</value></entry><entry><key>totalCount</key><value>$.total_count</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>EvaluateJsonPath</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors><processors><id>1053a3b4-633b-4971-9217-a60d8dcfc58c</id><parentGroupId>a7a28ca8-3bf2-49e3-b4fd-ff6329355f45</parentGroupId><position><x>567.84765625</x><y>-10.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>feed</key><value><description></description><displayName>feed</displayName><dynamic>true</dynamic><name>feed</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>invalidThresholdPercentage</key><value><description></description><displayName>invalidThresholdPercentage</displayName><dynamic>true</dynamic><name>invalidThresholdPercentage</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>systemFeedName</key><value><description></description><displayName>systemFeedName</displayName><dynamic>true</dynamic><name>systemFeedName</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>tb.jobType</key><value><description></description><displayName>tb.jobType</displayName><dynamic>true</dynamic><name>tb.jobType</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>feed</key><value>movie_rentals.Film</value></entry><entry><key>invalidThresholdPercentage</key><value>10</value></entry><entry><key>systemFeedName</key><value>movie_rentals.film</value></entry><entry><key>tb.jobType</key><value>check</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>15 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors></snippet><timestamp>04/06/2016 06:09:45 UTC</timestamp></template>