install/setup/data/templates/Data_Ingest_Flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>Data Ingest</name><snippet><connections><id>63621869-df16-490c-b85c-b06420b3e4e5</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>d956c6b7-5124-4801-a42f-31ed39049358</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>b1813d6a-a7b2-4912-8b2e-4d596168358c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>c79bf474-87e4-4a0e-a317-2b4d7a1c5f9d</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>e967b5a1-72e3-494e-bdbc-3624792980c0</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>1e22fa36-0b43-40b2-b42c-4cece64ae170</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>1ed9056f-58e3-4e91-9f01-1c5cab00ab2b</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>9c03313b-9896-4c46-b627-4e9beb76ad78</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>Success</selectedRelationships><source><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>77f5b229-2224-4175-a0c7-1217b29cf776</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b60bf40c-f002-442e-8ae7-58bb8fda09f4</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>1e22fa36-0b43-40b2-b42c-4cece64ae170</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>merged</selectedRelationships><source><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>88c09a6a-0cd0-4ddb-8ffc-b1248be535c9</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b3dfaaa4-c38a-4e30-8d18-4388cd3a02d1</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>ab65b16f-d031-4b0a-95f1-5507227abdc6</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>88c09a6a-0cd0-4ddb-8ffc-b1248be535c9</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>4b0bbcfd-569a-43e8-a443-20a3f53455d6</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>d956c6b7-5124-4801-a42f-31ed39049358</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>ac823564-91a3-46f4-8078-5de7b63d7350</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>eeed1a2f-8169-4f8a-ad70-f68c6ad7293e</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>88c09a6a-0cd0-4ddb-8ffc-b1248be535c9</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>d956c6b7-5124-4801-a42f-31ed39049358</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a976ba4b-59a5-45d4-97aa-e30016074509</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>7f98ec34-c7ac-4199-a273-d4d7fb34a921</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>original</selectedRelationships><source><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>88c09a6a-0cd0-4ddb-8ffc-b1248be535c9</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>c1a3fc39-fe25-45fd-b026-183a4475533f</id><comments></comments><descriptors><entry><key>Database Connection URL</key><value><description>A database connection URL used to connect to a database. May contain database system name, host, port, database name and some parameters. The exact syntax of a database connection URL is specified by your DBMS.</description><displayName>Database Connection URL</displayName><dynamic>false</dynamic><name>Database Connection URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Driver Class Name</key><value><description>Database driver class name</description><displayName>Database Driver Class Name</displayName><dynamic>false</dynamic><name>Database Driver Class Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Driver Jar Url</key><value><description>Optional database driver jar file path url. For example 'file:///var/tmp/mariadb-java-client-1.1.7.jar'</description><displayName>Database Driver Jar Url</displayName><dynamic>false</dynamic><name>Database Driver Jar Url</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database User</key><value><description>Database user name</description><displayName>Database User</displayName><dynamic>false</dynamic><name>Database User</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>The password for the database user</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>500 millis</defaultValue><description>The maximum amount of time that the pool will wait (when there are no available connections)  for a connection to be returned before failing, or -1 to wait indefinitely. </description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Total Connections</key><value><defaultValue>8</defaultValue><description>The maximum number of active connections that can be allocated from this pool at the same time,  or negative for no limit.</description><displayName>Max Total Connections</displayName><dynamic>false</dynamic><name>Max Total Connections</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>MySQL</name><properties><entry><key>Database Connection URL</key><value>jdbc:mysql://localhost</value></entry><entry><key>Database Driver Class Name</key><value>com.mysql.jdbc.Driver</value></entry><entry><key>Database Driver Jar Url</key><value>file:///opt/nifi/mysql/mysql-connector-java-5.1.32.jar</value></entry><entry><key>Database User</key><value>nifi</value></entry><entry><key>Password</key></entry><entry><key>Max Wait Time</key><value>500 millis</value></entry><entry><key>Max Total Connections</key><value>8</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>c292e98b-8516-4ea6-9041-aa4c445aa69e</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>876ef818-2617-4d17-b659-801dbf914816</groupId><id>30dde5f1-be68-4af4-bbb5-b5f9bcbf2985</id><name>Query Hive Table Metadata</name><properties><entry><key>Database Connection Pooling Service</key><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></entry><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE,
    c.COLUMN_NAME, c.TYPE_NAME
    FROM hive.COLUMNS_V2 c
    JOIN hive.SDS s on s.CD_ID = c.CD_ID
    JOIN  hive.TBLS t ON s.SD_ID=t.SD_ID
    JOIN  hive.DBS d on d.DB_ID = t.DB_ID
    where d.name = '${category}'and t.tbl_name like '${feed}%';</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>c292e98b-8516-4ea6-9041-aa4c445aa69e</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Table</key><value><defaultValue>${metadata.table.sourceTableSchema.name}</defaultValue><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Fields</key><value><defaultValue>${metadata.table.sourceFields}</defaultValue><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Date Field</key><value><description>Source field containing a modified date for tracking incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>b1813d6a-a7b2-4912-8b2e-4d596168358c</id><name>Poll database</name><properties><entry><key>Source Database Connection</key><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></entry><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${metadata.category.systemName}</value></entry><entry><key>System feed name</key><value>${metadata.systemFeedName}</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Fields</key><value>${metadata.table.sourceFields}</value></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Date Field</key></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>c292e98b-8516-4ea6-9041-aa4c445aa69e</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>5b6bfe49-b41f-4acf-bd34-4e5f3a538ed3</groupId><id>2451da7e-df9c-405e-8337-0e460b499d20</id><name>Query Hive Table Metadata</name><properties><entry><key>Database Connection Pooling Service</key><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></entry><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE,
    c.COLUMN_NAME, c.TYPE_NAME
    FROM hive.COLUMNS_V2 c
    JOIN hive.SDS s on s.CD_ID = c.CD_ID
    JOIN  hive.TBLS t ON s.SD_ID=t.SD_ID
    JOIN  hive.DBS d on d.DB_ID = t.DB_ID
    where d.name = '${category}'and t.tbl_name like '${feed}%';</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>c292e98b-8516-4ea6-9041-aa4c445aa69e</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>ec3ce0c6-8643-4435-a4e6-dcc8f378179d</groupId><id>924815cf-4b27-4f4c-b8f1-30929bafee1e</id><name>Query Hive Table Metadata</name><properties><entry><key>Database Connection Pooling Service</key><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></entry><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE,
    c.COLUMN_NAME, c.TYPE_NAME
    FROM hive.COLUMNS_V2 c
    JOIN hive.SDS s on s.CD_ID = c.CD_ID
    JOIN  hive.TBLS t ON s.SD_ID=t.SD_ID
    JOIN  hive.DBS d on d.DB_ID = t.DB_ID
    where d.name = '${category}'and t.tbl_name like '${feed}%';</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>c292e98b-8516-4ea6-9041-aa4c445aa69e</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>3f107a43-69b0-4b27-b714-6c51128b6f2f</groupId><id>3d06e3b3-406c-416c-8fd1-b9f1d3719ab4</id><name>Query Hive Table Metadata</name><properties><entry><key>Database Connection Pooling Service</key><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></entry><entry><key>SQL select query</key><value> SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE,
    c.COLUMN_NAME, c.TYPE_NAME
    FROM ${config.hive.schema}.COLUMNS_V2 c
    JOIN ${config.hive.schema}.SDS s on s.CD_ID = c.CD_ID
    JOIN  ${config.hive.schema}.TBLS t ON s.SD_ID=t.SD_ID
    JOIN  ${config.hive.schema}.DBS d on d.DB_ID = t.DB_ID
    where d.name = '${category}'and t.tbl_name like '${feed}%';</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>c292e98b-8516-4ea6-9041-aa4c445aa69e</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>5ff7bd63-77ae-48f0-9cc7-94ef245bc7b2</groupId><id>e018148b-a9e8-41c3-ac84-290461ec8824</id><name>Query Hive Table Metadata</name><properties><entry><key>Database Connection Pooling Service</key><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></entry><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE,
    c.COLUMN_NAME, c.TYPE_NAME
    FROM hive.COLUMNS_V2 c
    JOIN hive.SDS s on s.CD_ID = c.CD_ID
    JOIN  hive.TBLS t ON s.SD_ID=t.SD_ID
    JOIN  hive.DBS d on d.DB_ID = t.DB_ID
    where d.name = '${category}'and t.tbl_name like '${feed}%';</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>c292e98b-8516-4ea6-9041-aa4c445aa69e</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>c88c1ef8-553e-41b8-8eff-8259ee59cdc5</groupId><id>6c885082-20bb-4181-88bf-662bffbe4dc6</id><name>Query Hive Table Metadata</name><properties><entry><key>Database Connection Pooling Service</key><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></entry><entry><key>SQL select query</key><value> SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE,
    c.COLUMN_NAME, c.TYPE_NAME
    FROM ${config.hive.schema}.COLUMNS_V2 c
    JOIN ${config.hive.schema}.SDS s on s.CD_ID = c.CD_ID
    JOIN  ${config.hive.schema}.TBLS t ON s.SD_ID=t.SD_ID
    JOIN  ${config.hive.schema}.DBS d on d.DB_ID = t.DB_ID
    where d.name = '${category}'and t.tbl_name like '${feed}%';</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.dbcp.DBCPConnectionPool</type></controllerServices><controllerServices><id>85bd666c-58b8-4241-8b63-8bc92e8925f4</id><comments></comments><descriptors><entry><key>Implementation</key><value><allowableValues><description>An implemenation that stores metadata locally in memory (for development-only)</description><displayName>Local, In-memory storage</displayName><value>LOCAL</value></allowableValues><allowableValues><description>An implemenation that accesses metadata via the metadata service REST API</description><displayName>REST API</displayName><value>REMOTE</value></allowableValues><defaultValue>REMOTE</defaultValue><description>Specifies which implementation of the metadata providers should be used</description><displayName>Implementation</displayName><dynamic>false</dynamic><name>Implementation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>rest-client-url</key><value><defaultValue>http://localhost:8400/proxy/metadata</defaultValue><description>The base URL to the metadata server when the REST API client implementation is chosen.</description><displayName>REST Client URL</displayName><dynamic>false</dynamic><name>rest-client-url</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>client-username</key><value><defaultValue>dladmin</defaultValue><description>Optional user name if the client requires a credential</description><displayName>REST Client User Name</displayName><dynamic>false</dynamic><name>client-username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>client-password</key><value><defaultValue></defaultValue><description>Optional password if the client requires a credential</description><displayName>REST Client Password</displayName><dynamic>false</dynamic><name>client-password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>Think Big Metadata Service</name><properties><entry><key>Implementation</key><value>REMOTE</value></entry><entry><key>rest-client-url</key><value>http://localhost:8400/proxy/metadata</value></entry><entry><key>client-username</key><value>dladmin</value></entry><entry><key>client-password</key></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Feed Cleanup Event Service</key><value><allowableValues><displayName>Think Big Cleanup Service</displayName><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></allowableValues><description>Service that manages the cleanup of feeds.</description><displayName>Feed Cleanup Event Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.cleanup.CleanupEventService</identifiesControllerService><name>Feed Cleanup Event Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Metadata Provider Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Service supplying the implementations of the various metadata providers.</description><displayName>Metadata Provider Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Provider Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>The category name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>The system name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>77f5b229-2224-4175-a0c7-1217b29cf776</id><name>TriggerCleanup</name><properties><entry><key>Feed Cleanup Event Service</key><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></entry><entry><key>Metadata Provider Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${metadata.category.systemName}</value></entry><entry><key>System feed name</key><value>${metadata.systemFeedName}</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>34ce68af-6ce4-4c59-aa67-a2b5211bc546</groupId><id>4d66103a-4b46-4f9f-8baa-16359992b05b</id><name>Route for Registration?</name><properties><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.RouteOnRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>c292e98b-8516-4ea6-9041-aa4c445aa69e</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Table</key><value><defaultValue>${metadata.table.sourceTableSchema.name}</defaultValue><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Fields</key><value><defaultValue>${metadata.table.sourceFields}</defaultValue><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Date Field</key><value><description>Source field containing a modified date for tracking incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>b1813d6a-a7b2-4912-8b2e-4d596168358c</id><name>Poll database</name><properties><entry><key>Source Database Connection</key><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></entry><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${metadata.category.systemName}</value></entry><entry><key>System feed name</key><value>${metadata.systemFeedName}</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Fields</key><value>${metadata.table.sourceFields}</value></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Date Field</key></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>53fdd047-94ed-4209-bfbd-6edc522958f3</groupId><id>7184873e-170d-4dc8-a463-208b92c8554b</id><name>Route for Registration?</name><properties><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.RouteOnRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Result</key><value><allowableValues><displayName>success</displayName><value>success</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>success</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Result</displayName><dynamic>false</dynamic><name>Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>53fdd047-94ed-4209-bfbd-6edc522958f3</groupId><id>45c36fe3-34b0-4a38-8a62-8f0ea0f9da57</id><name>Record Registration</name><properties><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Result</key><value>success</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.UpdateRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>8453558a-d707-4193-b590-8a7909d55140</groupId><id>cd602bdc-ef64-4048-828f-71fd66e3eba1</id><name>Route for Registration?</name><properties><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.ingest.RouteOnRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Result</key><value><allowableValues><displayName>success</displayName><value>success</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>success</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Result</displayName><dynamic>false</dynamic><name>Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>5bb2ab20-5aa9-4300-8458-8a9a36c5190e</groupId><id>88555a58-3501-4f67-b08f-035754b530f5</id><name>Record Registration</name><properties><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Result</key><value>success</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.ingest.UpdateRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Result</key><value><allowableValues><displayName>success</displayName><value>success</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>success</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Result</displayName><dynamic>false</dynamic><name>Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>7d95d39d-43fd-4415-8926-54f687018d7d</groupId><id>d246af73-b0ce-4abc-bd58-c4ada475a350</id><name>Record Registration</name><properties><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Result</key><value>success</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.UpdateRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>5bb2ab20-5aa9-4300-8458-8a9a36c5190e</groupId><id>614d7038-b547-42fd-afe9-59f7bdf10193</id><name>Route for Registration?</name><properties><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.ingest.RouteOnRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Result</key><value><allowableValues><displayName>success</displayName><value>success</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>success</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Result</displayName><dynamic>false</dynamic><name>Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>34ce68af-6ce4-4c59-aa67-a2b5211bc546</groupId><id>bfb6d148-76ca-4368-a750-b87e1eeaad02</id><name>Record Registration</name><properties><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Result</key><value>success</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.UpdateRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Feed Cleanup Event Service</key><value><allowableValues><displayName>Think Big Cleanup Service</displayName><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></allowableValues><description>Service that manages the cleanup of feeds.</description><displayName>Feed Cleanup Event Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.cleanup.CleanupEventService</identifiesControllerService><name>Feed Cleanup Event Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Metadata Provider Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Service supplying the implementations of the various metadata providers.</description><displayName>Metadata Provider Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Provider Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>The category name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>The system name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>a032863e-ada3-4ce1-b667-09d862c3da71</groupId><id>d5a83880-42bb-4a2f-9187-7b076d8fca12</id><name>TriggerCleanup</name><properties><entry><key>Feed Cleanup Event Service</key><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></entry><entry><key>Metadata Provider Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>users</value></entry><entry><key>System feed name</key><value>multi_file</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Result</key><value><allowableValues><displayName>success</displayName><value>success</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>success</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Result</displayName><dynamic>false</dynamic><name>Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>9eaad1d9-c19f-493b-a95f-d1f2d28d2ff5</groupId><id>44441f80-5346-4fc3-8725-850dfeca2a83</id><name>Record Registration</name><properties><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Result</key><value>success</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.ingest.UpdateRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Result</key><value><allowableValues><displayName>success</displayName><value>success</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>success</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Result</displayName><dynamic>false</dynamic><name>Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>8453558a-d707-4193-b590-8a7909d55140</groupId><id>dec11803-b343-4404-8824-2ccffe4cf090</id><name>Record Registration</name><properties><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Result</key><value>success</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.ingest.UpdateRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Feed Cleanup Event Service</key><value><allowableValues><displayName>Think Big Cleanup Service</displayName><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></allowableValues><description>Service that manages the cleanup of feeds.</description><displayName>Feed Cleanup Event Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.cleanup.CleanupEventService</identifiesControllerService><name>Feed Cleanup Event Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Metadata Provider Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Service supplying the implementations of the various metadata providers.</description><displayName>Metadata Provider Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Provider Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>The category name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>The system name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>bb764548-65a7-4898-a22a-341904deea4f</groupId><id>e34f594b-4f85-43dc-b10e-94272f4ea116</id><name>TriggerCleanup</name><properties><entry><key>Feed Cleanup Event Service</key><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></entry><entry><key>Metadata Provider Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>users</value></entry><entry><key>System feed name</key><value>test2</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>7d95d39d-43fd-4415-8926-54f687018d7d</groupId><id>120e8a68-2ec5-42e6-9e5b-8c7a42d8e2c7</id><name>Route for Registration?</name><properties><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.RouteOnRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>9eaad1d9-c19f-493b-a95f-d1f2d28d2ff5</groupId><id>1cf426bb-13db-41b5-9019-c54521234feb</id><name>Route for Registration?</name><properties><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.ingest.RouteOnRegistration</type></referencingComponents><state>ENABLED</state><type>com.thinkbiganalytics.nifi.v2.core.metadata.MetadataProviderSelectorService</type></controllerServices><controllerServices><id>c38eceba-df87-4a7c-b192-6334dfc70470</id><comments></comments><descriptors><entry><key>Spring Context Service</key><value><allowableValues><displayName>SpringContextLoaderService</displayName><value>517874e7-158d-418e-8512-de4117f182a6</value></allowableValues><description>Service for loading a Spring context and providing bean lookup.</description><displayName>Spring Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.spring.SpringContextService</identifiesControllerService><name>Spring Context Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>Think Big Cleanup Service</name><properties><entry><key>Spring Context Service</key><value>517874e7-158d-418e-8512-de4117f182a6</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Feed Cleanup Event Service</key><value><allowableValues><displayName>Think Big Cleanup Service</displayName><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></allowableValues><description>Service that manages the cleanup of feeds.</description><displayName>Feed Cleanup Event Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.cleanup.CleanupEventService</identifiesControllerService><name>Feed Cleanup Event Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Metadata Provider Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Service supplying the implementations of the various metadata providers.</description><displayName>Metadata Provider Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Provider Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>The category name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>The system name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>77f5b229-2224-4175-a0c7-1217b29cf776</id><name>TriggerCleanup</name><properties><entry><key>Feed Cleanup Event Service</key><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></entry><entry><key>Metadata Provider Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${metadata.category.systemName}</value></entry><entry><key>System feed name</key><value>${metadata.systemFeedName}</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Feed Cleanup Event Service</key><value><allowableValues><displayName>Think Big Cleanup Service</displayName><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></allowableValues><description>Service that manages the cleanup of feeds.</description><displayName>Feed Cleanup Event Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.cleanup.CleanupEventService</identifiesControllerService><name>Feed Cleanup Event Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Metadata Provider Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Service supplying the implementations of the various metadata providers.</description><displayName>Metadata Provider Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Provider Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>The category name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>The system name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>a032863e-ada3-4ce1-b667-09d862c3da71</groupId><id>d5a83880-42bb-4a2f-9187-7b076d8fca12</id><name>TriggerCleanup</name><properties><entry><key>Feed Cleanup Event Service</key><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></entry><entry><key>Metadata Provider Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>users</value></entry><entry><key>System feed name</key><value>multi_file</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Feed Cleanup Event Service</key><value><allowableValues><displayName>Think Big Cleanup Service</displayName><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></allowableValues><description>Service that manages the cleanup of feeds.</description><displayName>Feed Cleanup Event Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.cleanup.CleanupEventService</identifiesControllerService><name>Feed Cleanup Event Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Metadata Provider Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Service supplying the implementations of the various metadata providers.</description><displayName>Metadata Provider Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Provider Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>The category name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>The system name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>bb764548-65a7-4898-a22a-341904deea4f</groupId><id>e34f594b-4f85-43dc-b10e-94272f4ea116</id><name>TriggerCleanup</name><properties><entry><key>Feed Cleanup Event Service</key><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></entry><entry><key>Metadata Provider Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>users</value></entry><entry><key>System feed name</key><value>test2</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup</type></referencingComponents><state>ENABLED</state><type>com.thinkbiganalytics.nifi.v2.core.cleanup.JmsCleanupEventService</type></controllerServices><controllerServices><id>517874e7-158d-418e-8512-de4117f182a6</id><comments></comments><descriptors><entry><key>Configuraton Classes</key><value><description>A comma-separated list of fully qualified names of java config classes</description><displayName>Configuraton Classes</displayName><dynamic>false</dynamic><name>Configuraton Classes</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>SpringContextLoaderService</name><properties><entry><key>Configuraton Classes</key></entry></properties><referencingComponents><descriptors><entry><key>Spring Context Service</key><value><allowableValues><displayName>SpringContextLoaderService</displayName><value>517874e7-158d-418e-8512-de4117f182a6</value></allowableValues><description>Service for loading a Spring context and providing bean lookup.</description><displayName>Spring Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.spring.SpringContextService</identifiesControllerService><name>Spring Context Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><id>c38eceba-df87-4a7c-b192-6334dfc70470</id><name>Think Big Cleanup Service</name><properties><entry><key>Spring Context Service</key><value>517874e7-158d-418e-8512-de4117f182a6</value></entry></properties><referenceCycle>false</referenceCycle><referenceType>ControllerService</referenceType><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Feed Cleanup Event Service</key><value><allowableValues><displayName>Think Big Cleanup Service</displayName><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></allowableValues><description>Service that manages the cleanup of feeds.</description><displayName>Feed Cleanup Event Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.cleanup.CleanupEventService</identifiesControllerService><name>Feed Cleanup Event Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Metadata Provider Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Service supplying the implementations of the various metadata providers.</description><displayName>Metadata Provider Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Provider Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>The category name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>The system name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>64707c29-5596-4a33-9489-9379989fbbb0</groupId><id>77f5b229-2224-4175-a0c7-1217b29cf776</id><name>TriggerCleanup</name><properties><entry><key>Feed Cleanup Event Service</key><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></entry><entry><key>Metadata Provider Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${metadata.category.systemName}</value></entry><entry><key>System feed name</key><value>${metadata.systemFeedName}</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Feed Cleanup Event Service</key><value><allowableValues><displayName>Think Big Cleanup Service</displayName><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></allowableValues><description>Service that manages the cleanup of feeds.</description><displayName>Feed Cleanup Event Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.cleanup.CleanupEventService</identifiesControllerService><name>Feed Cleanup Event Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Metadata Provider Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Service supplying the implementations of the various metadata providers.</description><displayName>Metadata Provider Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Provider Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>The category name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>The system name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>a032863e-ada3-4ce1-b667-09d862c3da71</groupId><id>d5a83880-42bb-4a2f-9187-7b076d8fca12</id><name>TriggerCleanup</name><properties><entry><key>Feed Cleanup Event Service</key><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></entry><entry><key>Metadata Provider Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>users</value></entry><entry><key>System feed name</key><value>multi_file</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Feed Cleanup Event Service</key><value><allowableValues><displayName>Think Big Cleanup Service</displayName><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></allowableValues><description>Service that manages the cleanup of feeds.</description><displayName>Feed Cleanup Event Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.cleanup.CleanupEventService</identifiesControllerService><name>Feed Cleanup Event Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Metadata Provider Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Service supplying the implementations of the various metadata providers.</description><displayName>Metadata Provider Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Provider Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>The category name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>The system name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>bb764548-65a7-4898-a22a-341904deea4f</groupId><id>e34f594b-4f85-43dc-b10e-94272f4ea116</id><name>TriggerCleanup</name><properties><entry><key>Feed Cleanup Event Service</key><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></entry><entry><key>Metadata Provider Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>users</value></entry><entry><key>System feed name</key><value>test2</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup</type></referencingComponents><state>ENABLED</state><type>com.thinkbiganalytics.nifi.v2.core.cleanup.JmsCleanupEventService</type></referencingComponents><state>ENABLED</state><type>com.thinkbiganalytics.nifi.v2.core.spring.SpringContextLoaderService</type></controllerServices><outputPorts><id>9c03313b-9896-4c46-b627-4e9beb76ad78</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><position><x>993.4238796235456</x><y>97.2372714160856</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>to-standard-cleanup</name><state>STOPPED</state><type>OUTPUT_PORT</type><validationErrors>'Port 'to-standard-cleanup'' is invalid because Output connection for port 'to-standard-cleanup' is not defined.</validationErrors></outputPorts><outputPorts><id>7f98ec34-c7ac-4199-a273-d4d7fb34a921</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><position><x>1009.6492435746668</x><y>837.2383763033706</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>to-archive-originals</name><state>STOPPED</state><type>OUTPUT_PORT</type><validationErrors>'Port 'to-archive-originals'' is invalid because Output connection for port 'to-archive-originals' is not defined.</validationErrors></outputPorts><outputPorts><id>ab65b16f-d031-4b0a-95f1-5507227abdc6</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><position><x>389.6445218747597</x><y>807.55399572083</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>to-failure</name><state>STOPPED</state><type>OUTPUT_PORT</type><validationErrors>'Port 'to-failure'' is invalid because Output connection for port 'to-failure' is not defined.</validationErrors></outputPorts><outputPorts><id>e967b5a1-72e3-494e-bdbc-3624792980c0</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><position><x>1369.7738172758127</x><y>775.2043600978639</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>to-standard-ingest</name><state>STOPPED</state><type>OUTPUT_PORT</type><validationErrors>'Port 'to-standard-ingest'' is invalid because Output connection for port 'to-standard-ingest' is not defined.</validationErrors></outputPorts><processors><id>ac823564-91a3-46f4-8078-5de7b63d7350</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><position><x>-59.6576891754637</x><y>226.79161736099854</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Input Directory</key><value><description>The input directory from which to pull files</description><displayName>Input Directory</displayName><dynamic>false</dynamic><name>Input Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>File Filter</key><value><defaultValue>[^\.].*</defaultValue><description>Only files whose names match the given regular expression will be picked up</description><displayName>File Filter</displayName><dynamic>false</dynamic><name>File Filter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter</key><value><description>When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned</description><displayName>Path Filter</displayName><dynamic>false</dynamic><name>Path Filter</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>10</defaultValue><description>The maximum number of files to pull in each iteration</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Keep Source File</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the file is not deleted after it has been copied to the Content Repository; this causes the file to be picked up continually and is useful for testing purposes.  If not keeping original NiFi will need write permissions on the directory it is pulling from otherwise it will ignore the file.</description><displayName>Keep Source File</displayName><dynamic>false</dynamic><name>Keep Source File</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Recurse Subdirectories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to pull files from subdirectories</description><displayName>Recurse Subdirectories</displayName><dynamic>false</dynamic><name>Recurse Subdirectories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Polling Interval</key><value><defaultValue>0 sec</defaultValue><description>Indicates how long to wait before performing a directory listing</description><displayName>Polling Interval</displayName><dynamic>false</dynamic><name>Polling Interval</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Hidden Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not hidden files should be ignored</description><displayName>Ignore Hidden Files</displayName><dynamic>false</dynamic><name>Ignore Hidden Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Age</key><value><defaultValue>0 sec</defaultValue><description>The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored</description><displayName>Minimum File Age</displayName><dynamic>false</dynamic><name>Minimum File Age</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Age</key><value><description>The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored</description><displayName>Maximum File Age</displayName><dynamic>false</dynamic><name>Maximum File Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size that a file must be in order to be pulled</description><displayName>Minimum File Size</displayName><dynamic>false</dynamic><name>Minimum File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Size</key><value><description>The maximum size that a file can be in order to be pulled</description><displayName>Maximum File Size</displayName><dynamic>false</dynamic><name>Maximum File Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Input Directory</key><value>/var/dropzone</value></entry><entry><key>File Filter</key><value>mydata\d{1,3}.csv</value></entry><entry><key>Path Filter</key></entry><entry><key>Batch Size</key><value>100</value></entry><entry><key>Keep Source File</key><value>false</value></entry><entry><key>Recurse Subdirectories</key><value>false</value></entry><entry><key>Polling Interval</key><value>0 sec</value></entry><entry><key>Ignore Hidden Files</key><value>true</value></entry><entry><key>Minimum File Age</key><value>0 sec</value></entry><entry><key>Maximum File Age</key></entry><entry><key>Minimum File Size</key><value>0 B</value></entry><entry><key>Maximum File Size</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>15 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Poll filesystem</name><relationships><autoTerminate>false</autoTerminate><description>All files are routed to success</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#11f237</value></entry></style><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GetFile</type></processors><processors><id>b1813d6a-a7b2-4912-8b2e-4d596168358c</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><position><x>-40.05973424197623</x><y>485.0314293281738</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>c292e98b-8516-4ea6-9041-aa4c445aa69e</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Table</key><value><defaultValue>${metadata.table.sourceTableSchema.name}</defaultValue><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Fields</key><value><defaultValue>${metadata.table.sourceFields}</defaultValue><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Date Field</key><value><description>Source field containing a modified date for tracking incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Source Database Connection</key><value>c1a3fc39-fe25-45fd-b026-183a4475533f</value></entry><entry><key>Metadata Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${metadata.category.systemName}</value></entry><entry><key>System feed name</key><value>${metadata.systemFeedName}</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Fields</key><value>${metadata.table.sourceFields}</value></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Date Field</key></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Poll database</name><relationships><autoTerminate>true</autoTerminate><description>SQL query execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Successful but no new data to process.</description><name>nodata</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully created FlowFile from .</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#3cff00</value></entry></style><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type></processors><processors><id>77f5b229-2224-4175-a0c7-1217b29cf776</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><position><x>79.30723904718911</x><y>65.88562066729969</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Feed Cleanup Event Service</key><value><allowableValues><displayName>Think Big Cleanup Service</displayName><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></allowableValues><description>Service that manages the cleanup of feeds.</description><displayName>Feed Cleanup Event Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.cleanup.CleanupEventService</identifiesControllerService><name>Feed Cleanup Event Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Metadata Provider Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></allowableValues><description>Service supplying the implementations of the various metadata providers.</description><displayName>Metadata Provider Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Provider Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>The category name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>The system name of this feed. The default is to have this name automatically set when the feed is created. Normally you do not need to change the default value.</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Feed Cleanup Event Service</key><value>c38eceba-df87-4a7c-b192-6334dfc70470</value></entry><entry><key>Metadata Provider Service</key><value>85bd666c-58b8-4241-8b63-8bc92e8925f4</value></entry><entry><key>System feed category</key><value>${metadata.category.systemName}</value></entry><entry><key>System feed name</key><value>${metadata.systemFeedName}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>TriggerCleanup</name><relationships><autoTerminate>false</autoTerminate><description>Relationship followed on successful precondition event.</description><name>Success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#ff9900</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup</type></processors><processors><id>88c09a6a-0cd0-4ddb-8ffc-b1248be535c9</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><position><x>617.7557798812584</x><y>491.4203516559197</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Merge Strategy</key><value><allowableValues><description>Generates 'bins' of FlowFiles and fills each bin as full as possible. FlowFiles are placed into a bin based on their size and optionally their attributes (if the &lt;Correlation Attribute&gt; property is set)</description><displayName>Bin-Packing Algorithm</displayName><value>Bin-Packing Algorithm</value></allowableValues><allowableValues><description>Combines fragments that are associated by attributes back into a single cohesive FlowFile. If using this strategy, all FlowFiles must have the attributes &lt;fragment.identifier&gt;, &lt;fragment.count&gt;, and &lt;fragment.index&gt; or alternatively (for backward compatibility purposes) &lt;segment.identifier&gt;, &lt;segment.count&gt;, and &lt;segment.index&gt;. All FlowFiles with the same value for &quot;fragment.identifier&quot; will be grouped together. All FlowFiles in this group must have the same value for the &quot;fragment.count&quot; attribute. All FlowFiles in this group must have a unique value for the &quot;fragment.index&quot; attribute between 0 and the value of the &quot;fragment.count&quot; attribute.</description><displayName>Defragment</displayName><value>Defragment</value></allowableValues><defaultValue>Bin-Packing Algorithm</defaultValue><description>Specifies the algorithm used to merge content. The 'Defragment' algorithm combines fragments that are associated by attributes back into a single cohesive FlowFile. The 'Bin-Packing Algorithm' generates a FlowFile populated by arbitrarily chosen FlowFiles</description><displayName>Merge Strategy</displayName><dynamic>false</dynamic><name>Merge Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Merge Format</key><value><allowableValues><description>A bin of FlowFiles will be combined into a single TAR file. The FlowFiles' &lt;path&gt; attribute will be used to create a directory in the TAR file if the &lt;Keep Paths&gt; property is set to true; otherwise, all FlowFiles will be added at the root of the TAR file. If a FlowFile has an attribute named &lt;tar.permissions&gt; that is 3 characters, each between 0-7, that attribute will be used as the TAR entry's 'mode'.</description><displayName>TAR</displayName><value>TAR</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single ZIP file. The FlowFiles' &lt;path&gt; attribute will be used to create a directory in the ZIP file if the &lt;Keep Paths&gt; property is set to true; otherwise, all FlowFiles will be added at the root of the ZIP file. The &lt;Compression Level&gt; property indicates the ZIP compression to use.</description><displayName>ZIP</displayName><value>ZIP</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 3 FlowFile Stream</description><displayName>FlowFile Stream, v3</displayName><value>FlowFile Stream, v3</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 2 FlowFile Stream</description><displayName>FlowFile Stream, v2</displayName><value>FlowFile Stream, v2</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 1 FlowFile Package</description><displayName>FlowFile Tar, v1</displayName><value>FlowFile Tar, v1</value></allowableValues><allowableValues><description>The contents of all FlowFiles will be concatenated together into a single FlowFile</description><displayName>Binary Concatenation</displayName><value>Binary Concatenation</value></allowableValues><allowableValues><description>The Avro contents of all FlowFiles will be concatenated together into a single FlowFile</description><displayName>Avro</displayName><value>Avro</value></allowableValues><defaultValue>Binary Concatenation</defaultValue><description>Determines the format that will be used to merge the content.</description><displayName>Merge Format</displayName><dynamic>false</dynamic><name>Merge Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attribute Strategy</key><value><allowableValues><displayName>Keep Only Common Attributes</displayName><value>Keep Only Common Attributes</value></allowableValues><allowableValues><displayName>Keep All Unique Attributes</displayName><value>Keep All Unique Attributes</value></allowableValues><defaultValue>Keep Only Common Attributes</defaultValue><description>Determines which FlowFile attributes should be added to the bundle. If 'Keep All Unique Attributes' is selected, any attribute on any FlowFile that gets bundled will be kept unless its value conflicts with the value from another FlowFile. If 'Keep Only Common Attributes' is selected, only the attributes that exist on all FlowFiles in the bundle, with the same value, will be preserved.</description><displayName>Attribute Strategy</displayName><dynamic>false</dynamic><name>Attribute Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Correlation Attribute Name</key><value><description>If specified, like FlowFiles will be binned together, where 'like FlowFiles' means FlowFiles that have the same value for this Attribute. If not specified, FlowFiles are bundled by the order in which they are pulled from the queue.</description><displayName>Correlation Attribute Name</displayName><dynamic>false</dynamic><name>Correlation Attribute Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Number of Entries</key><value><defaultValue>1</defaultValue><description>The minimum number of files to include in a bundle</description><displayName>Minimum Number of Entries</displayName><dynamic>false</dynamic><name>Minimum Number of Entries</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Number of Entries</key><value><description>The maximum number of files to include in a bundle. If not specified, there is no maximum.</description><displayName>Maximum Number of Entries</displayName><dynamic>false</dynamic><name>Maximum Number of Entries</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum Group Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size of for the bundle</description><displayName>Minimum Group Size</displayName><dynamic>false</dynamic><name>Minimum Group Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Group Size</key><value><description>The maximum size for the bundle. If not specified, there is no maximum.</description><displayName>Maximum Group Size</displayName><dynamic>false</dynamic><name>Maximum Group Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Bin Age</key><value><description>The maximum age of a Bin that will trigger a Bin to be complete. Expected format is &lt;duration&gt; &lt;time unit&gt; where &lt;duration&gt; is a positive integer and time unit is one of seconds, minutes, hours</description><displayName>Max Bin Age</displayName><dynamic>false</dynamic><name>Max Bin Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum number of Bins</key><value><defaultValue>100</defaultValue><description>Specifies the maximum number of bins that can be held in memory at any one time</description><displayName>Maximum number of Bins</displayName><dynamic>false</dynamic><name>Maximum number of Bins</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Delimiter Strategy</key><value><allowableValues><description>The values of Header, Footer, and Demarcator will be retrieved from the contents of a file</description><displayName>Filename</displayName><value>Filename</value></allowableValues><allowableValues><description>The values of Header, Footer, and Demarcator will be specified as property values</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Filename</defaultValue><description>Determines if Header, Footer, and Demarcator should point to files containing the respective content, or if the values of the properties should be used as the content.</description><displayName>Delimiter Strategy</displayName><dynamic>false</dynamic><name>Delimiter Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Header File</key><value><description>Filename specifying the header to use. If not specified, no header is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Header</displayName><dynamic>false</dynamic><name>Header File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Footer File</key><value><description>Filename specifying the footer to use. If not specified, no footer is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Footer</displayName><dynamic>false</dynamic><name>Footer File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Demarcator File</key><value><description>Filename specifying the demarcator to use. If not specified, no demarcator is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Demarcator</displayName><dynamic>false</dynamic><name>Demarcator File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Compression Level</key><value><allowableValues><displayName>0</displayName><value>0</value></allowableValues><allowableValues><displayName>1</displayName><value>1</value></allowableValues><allowableValues><displayName>2</displayName><value>2</value></allowableValues><allowableValues><displayName>3</displayName><value>3</value></allowableValues><allowableValues><displayName>4</displayName><value>4</value></allowableValues><allowableValues><displayName>5</displayName><value>5</value></allowableValues><allowableValues><displayName>6</displayName><value>6</value></allowableValues><allowableValues><displayName>7</displayName><value>7</value></allowableValues><allowableValues><displayName>8</displayName><value>8</value></allowableValues><allowableValues><displayName>9</displayName><value>9</value></allowableValues><defaultValue>1</defaultValue><description>Specifies the compression level to use when using the Zip Merge Format; if not using the Zip Merge Format, this value is ignored</description><displayName>Compression Level</displayName><dynamic>false</dynamic><name>Compression Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Keep Path</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If using the Zip or Tar Merge Format, specifies whether or not the FlowFiles' paths should be included in their entry names; if using other merge strategy, this value is ignored</description><displayName>Keep Path</displayName><dynamic>false</dynamic><name>Keep Path</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Merge Strategy</key><value>Bin-Packing Algorithm</value></entry><entry><key>Merge Format</key><value>Binary Concatenation</value></entry><entry><key>Attribute Strategy</key><value>Keep Only Common Attributes</value></entry><entry><key>Correlation Attribute Name</key></entry><entry><key>Minimum Number of Entries</key><value>1</value></entry><entry><key>Maximum Number of Entries</key></entry><entry><key>Minimum Group Size</key><value>0 B</value></entry><entry><key>Maximum Group Size</key></entry><entry><key>Max Bin Age</key></entry><entry><key>Maximum number of Bins</key><value>100</value></entry><entry><key>Delimiter Strategy</key><value>Text</value></entry><entry><key>Header File</key></entry><entry><key>Footer File</key></entry><entry><key>Demarcator File</key></entry><entry><key>Compression Level</key><value>1</value></entry><entry><key>Keep Path</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>MergeContent</name><relationships><autoTerminate>false</autoTerminate><description>If the bundle cannot be created, all FlowFiles that would have been used to created the bundle will be transferred to failure</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The FlowFile containing the merged content</description><name>merged</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The FlowFiles that were used to create the bundle</description><name>original</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.MergeContent</type></processors><processors><id>d956c6b7-5124-4801-a42f-31ed39049358</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><position><x>618.6054371978278</x><y>220.1062535914673</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>archiveId</key><value><description></description><displayName>archiveId</displayName><dynamic>true</dynamic><name>archiveId</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>category</key><value><description></description><displayName>category</displayName><dynamic>true</dynamic><name>category</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>feed</key><value><description></description><displayName>feed</displayName><dynamic>true</dynamic><name>feed</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.feedFormat</key><value><description></description><displayName>metadata.table.feedFormat</displayName><dynamic>true</dynamic><name>metadata.table.feedFormat</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.fieldIndexString</key><value><description></description><displayName>metadata.table.fieldIndexString</displayName><dynamic>true</dynamic><name>metadata.table.fieldIndexString</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.fieldPoliciesJson</key><value><description></description><displayName>metadata.table.fieldPoliciesJson</displayName><dynamic>true</dynamic><name>metadata.table.fieldPoliciesJson</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.fieldStructure</key><value><description></description><displayName>metadata.table.fieldStructure</displayName><dynamic>true</dynamic><name>metadata.table.fieldStructure</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.partitionSpecs</key><value><description></description><displayName>metadata.table.partitionSpecs</displayName><dynamic>true</dynamic><name>metadata.table.partitionSpecs</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.partitionStructure</key><value><description></description><displayName>metadata.table.partitionStructure</displayName><dynamic>true</dynamic><name>metadata.table.partitionStructure</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.targetFormat</key><value><description></description><displayName>metadata.table.targetFormat</displayName><dynamic>true</dynamic><name>metadata.table.targetFormat</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.targetMergeStrategy</key><value><description></description><displayName>metadata.table.targetMergeStrategy</displayName><dynamic>true</dynamic><name>metadata.table.targetMergeStrategy</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.targetTblProperties</key><value><description></description><displayName>metadata.table.targetTblProperties</displayName><dynamic>true</dynamic><name>metadata.table.targetTblProperties</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>spark.input_folder</key><value><description></description><displayName>spark.input_folder</displayName><dynamic>true</dynamic><name>spark.input_folder</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>archiveId</key><value>${now():format('yyyyMMddHHmmss')}_${UUID()}</value></entry><entry><key>category</key><value>${metadata.category.systemName}</value></entry><entry><key>feed</key><value>${metadata.systemFeedName}</value></entry><entry><key>metadata.table.feedFormat</key><value>${metadata.table.feedFormat}</value></entry><entry><key>metadata.table.fieldIndexString</key><value>${metadata.table.fieldIndexString}</value></entry><entry><key>metadata.table.fieldPoliciesJson</key><value>${metadata.table.fieldPoliciesJson}</value></entry><entry><key>metadata.table.fieldStructure</key><value>${metadata.table.fieldStructure}</value></entry><entry><key>metadata.table.partitionSpecs</key><value>${metadata.table.partitionSpecs}</value></entry><entry><key>metadata.table.partitionStructure</key><value>${metadata.table.partitionStructure}</value></entry><entry><key>metadata.table.targetFormat</key><value>${metadata.table.targetFormat}</value></entry><entry><key>metadata.table.targetMergeStrategy</key><value>${metadata.table.targetMergeStrategy}</value></entry><entry><key>metadata.table.targetTblProperties</key><value>${metadata.table.targetTblProperties}</value></entry><entry><key>spark.input_folder</key><value>/tmp</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Update flow parameters</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#11f237</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>1e22fa36-0b43-40b2-b42c-4cece64ae170</id><parentGroupId>64707c29-5596-4a33-9489-9379989fbbb0</parentGroupId><position><x>1275.5301808501715</x><y>489.289526906897</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>feedts</key><value><description></description><displayName>feedts</displayName><dynamic>true</dynamic><name>feedts</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>feedts</key><value>${now():format('yyyyMMddHHmmss.SSS')}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Update feed timestamp</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#11f237</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors></snippet><timestamp>09/29/2016 18:05:26 UTC</timestamp></template>