install/setup/data/templates/Data_Confidence_Invalid_Records.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>Data Confidence Invalid Records</name><snippet><connections><id>5b541b50-d139-48cf-be1d-1b9389e7be42</id><parentGroupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</groupId><id>5fc76ff7-3042-473f-afbe-bdae1aab65b5</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</groupId><id>fda33577-bc43-4071-9632-d1403efca7a8</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>7a4bc5e0-0f0f-4f17-bd2b-560a80a8f131</id><parentGroupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</groupId><id>fda33577-bc43-4071-9632-d1403efca7a8</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</groupId><id>4575167a-3cb6-4e08-b8c6-e75b0c294bcf</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b9d21100-8a1f-4157-a697-cdf8f8aced77</id><parentGroupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</groupId><id>47934aef-9517-47cf-b203-05e40e1ee42c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</groupId><id>5fc76ff7-3042-473f-afbe-bdae1aab65b5</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>55aba0e5-e6e5-4396-a8f9-c3a505d24e34</id><parentGroupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</groupId><id>a9086257-e825-43c6-8b02-67d95cf81783</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><selectedRelationships>success</selectedRelationships><source><groupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</groupId><id>47934aef-9517-47cf-b203-05e40e1ee42c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>85ee77f9-0cf2-4987-ad7e-b967a2090bdf</id><comments></comments><descriptors><entry><key>Database Connection URL</key><value><description>A database connection URL used to connect to a database. May contain database system name, host, port, database name and some parameters. The exact syntax of a database connection URL is specified by your DBMS.</description><displayName>Database Connection URL</displayName><dynamic>false</dynamic><name>Database Connection URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Driver Class Name</key><value><description>Database driver class name</description><displayName>Database Driver Class Name</displayName><dynamic>false</dynamic><name>Database Driver Class Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Driver Jar Url</key><value><description>Optional database driver jar file path url. For example 'file:///var/tmp/mariadb-java-client-1.1.7.jar'</description><displayName>Database Driver Jar Url</displayName><dynamic>false</dynamic><name>Database Driver Jar Url</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database User</key><value><description>Database user name</description><displayName>Database User</displayName><dynamic>false</dynamic><name>Database User</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>The password for the database user</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>500 millis</defaultValue><description>The maximum amount of time that the pool will wait (when there are no available connections)  for a connection to be returned before failing, or -1 to wait indefinitely. </description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Total Connections</key><value><defaultValue>8</defaultValue><description>The maximum number of active connections that can be allocated from this pool at the same time,  or negative for no limit.</description><displayName>Max Total Connections</displayName><dynamic>false</dynamic><name>Max Total Connections</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>Hive Thrift Service</name><properties><entry><key>Database Connection URL</key><value>jdbc:hive2://localhost:10000/default</value></entry><entry><key>Database Driver Class Name</key><value>org.apache.hive.jdbc.HiveDriver</value></entry><entry><key>Database Driver Jar Url</key></entry><entry><key>Database User</key><value>nifi</value></entry><entry><key>Password</key></entry><entry><key>Max Wait Time</key><value>500 millis</value></entry><entry><key>Max Total Connections</key><value>8</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>85ee77f9-0cf2-4987-ad7e-b967a2090bdf</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>d054467f-0587-4041-9b5a-b7aa9e8714e3</groupId><id>23f2ccf4-e6f7-4164-b37b-296e1abeb4a9</id><name>Create Feed Partition</name><properties><entry><key>Database Connection Pooling Service</key><value>85ee77f9-0cf2-4987-ad7e-b967a2090bdf</value></entry><entry><key>Statement</key><value>alter table ${category}.${feed}_feed add
    if not exists partition (processing_dttm=${feedts})
    location '/etl/${category}/${feed}/${feedts}/'
</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQLStatement</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>85ee77f9-0cf2-4987-ad7e-b967a2090bdf</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</groupId><id>5fc76ff7-3042-473f-afbe-bdae1aab65b5</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>85ee77f9-0cf2-4987-ad7e-b967a2090bdf</value></entry><entry><key>SQL select query</key><value>select x.invalid_count, y.total_count, x.invalid_count/y.total_count as invalid_pct, CASE WHEN (x.invalid_count/y.total_count)*100 &gt;= ${invalidThresholdPercentage} then 'false' else 'true' end as valid,
    CASE WHEN x.invalid_count/y.total_count &gt;= 0.10 then  concat('Invalid. The data has  ', (x.invalid_count/y.total_count)*100,'% of the rows invalid.  This is above the threshold of ','${invalidThresholdPercentage}%' ) else concat('Valid.  This job has passed validation with ',  (x.invalid_count/y.total_count)*100,'% of the rows invalid.  This is below the threshold of ${invalidThresholdPercentage}%') end as validation_message, x.processing_dttm
    from (
    select  metricvalue as invalid_count, 'INVALID_COUNT' as type, m.max_date as processing_dttm from ${category}.${feed}_profile
    inner join (SELECT MAX(processing_dttm) as max_date from ${category}.${feed}_profile) m on m.max_date = processing_dttm
    where columnname = '(ALL)'
    and metrictype = 'INVALID_COUNT'
    ) x
    inner join (
    select  metricvalue as total_count, 'TOTAL_COUNT' as type,m.max_date as processing_dttm from ${category}.${feed}_profile
    inner join (SELECT MAX(processing_dttm) as max_date from ${category}.${feed}_profile) m on m.max_date = processing_dttm
    where columnname = '(ALL)'
    and metrictype = 'TOTAL_COUNT') y on y.processing_dttm = x.processing_dttm</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>85ee77f9-0cf2-4987-ad7e-b967a2090bdf</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source table</key><value><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><description>Partition specification in format: field|type|formula
    field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>d054467f-0587-4041-9b5a-b7aa9e8714e3</groupId><id>b3580758-f819-4dd9-bc62-323482be5cdc</id><name>MergeTable</name><properties><entry><key>Database Connection Pooling Service</key><value>85ee77f9-0cf2-4987-ad7e-b967a2090bdf</value></entry><entry><key>Source table</key><value>${category}.${feed}_valid</value></entry><entry><key>Target table</key><value>${category}.${feed}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${metadata.table.partitionSpecs}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.MergeTable</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>85ee77f9-0cf2-4987-ad7e-b967a2090bdf</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ColumnSpecs</key><value><description>Pipe-delim format with the specifications for the columns (column name|data type|comment</description><displayName>ColumnSpecs</displayName><dynamic>false</dynamic><name>ColumnSpecs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Format specification</key><value><defaultValue>ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde' </defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Format specification</displayName><dynamic>false</dynamic><name>Format specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source</key><value><description>Name representing the source category</description><displayName>Source</displayName><dynamic>false</dynamic><name>Source</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Entity</key><value><description>Name of the master table</description><displayName>Table Entity</displayName><dynamic>false</dynamic><name>Table Entity</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>d054467f-0587-4041-9b5a-b7aa9e8714e3</groupId><id>cc0cdade-034d-402b-a266-58a3f608f9fc</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>85ee77f9-0cf2-4987-ad7e-b967a2090bdf</value></entry><entry><key>ColumnSpecs</key><value>${metadata.table.fieldStructure}</value></entry><entry><key>Format specification</key><value>${metadata.table.format}</value></entry><entry><key>Source</key><value>${category}</value></entry><entry><key>Partition specification</key><value>${metadata.table.partitionStructure}</value></entry><entry><key>Table Entity</key><value>${feed}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.RegisterFeedTables</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>85ee77f9-0cf2-4987-ad7e-b967a2090bdf</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>1728600c-3d15-4fb4-9edc-251f0de32ec8</groupId><id>e96bb8d3-7607-4b70-8078-43e9cd18da4e</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>85ee77f9-0cf2-4987-ad7e-b967a2090bdf</value></entry><entry><key>SQL select query</key><value>select ${metadata.table.fieldIndexString} from ${category}.${feed}_valid where processing_dttm =
    ${feedts}
</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQL</type></referencingComponents><state>ENABLED</state><type>com.thinkbiganalytics.nifi.v2.thrift.ThriftConnectionPool</type></controllerServices><processors><id>a9086257-e825-43c6-8b02-67d95cf81783</id><parentGroupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</parentGroupId><position><x>1354.0</x><y>454.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>checkData.validationCheck</key><value><description></description><displayName>checkData.validationCheck</displayName><dynamic>true</dynamic><name>checkData.validationCheck</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>checkData.validationMessage</key><value><description></description><displayName>checkData.validationMessage</displayName><dynamic>true</dynamic><name>checkData.validationMessage</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>invalidCount</key><value><description></description><displayName>invalidCount</displayName><dynamic>true</dynamic><name>invalidCount</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>invalidPercent</key><value><description></description><displayName>invalidPercent</displayName><dynamic>true</dynamic><name>invalidPercent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>processingDate</key><value><description></description><displayName>processingDate</displayName><dynamic>true</dynamic><name>processingDate</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>totalCount</key><value><description></description><displayName>totalCount</displayName><dynamic>true</dynamic><name>totalCount</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Return Type</key><value>auto-detect</value></entry><entry><key>Path Not Found Behavior</key><value>ignore</value></entry><entry><key>Null Value Representation</key><value>empty string</value></entry><entry><key>checkData.validationCheck</key><value>$.valid</value></entry><entry><key>checkData.validationMessage</key><value>$.validation_message</value></entry><entry><key>invalidCount</key><value>$.invalid_count</value></entry><entry><key>invalidPercent</key><value>$.invalid_pct</value></entry><entry><key>processingDate</key><value>$.processing_dttm</value></entry><entry><key>totalCount</key><value>$.total_count</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>EvaluateJsonPath</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors><processors><id>fda33577-bc43-4071-9632-d1403efca7a8</id><parentGroupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</parentGroupId><position><x>831.84765625</x><y>32.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>category</key><value><description></description><displayName>category</displayName><dynamic>true</dynamic><name>category</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>feed</key><value><description></description><displayName>feed</displayName><dynamic>true</dynamic><name>feed</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>invalidThresholdPercentage</key><value><description></description><displayName>invalidThresholdPercentage</displayName><dynamic>true</dynamic><name>invalidThresholdPercentage</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>tb.jobType</key><value><description></description><displayName>tb.jobType</displayName><dynamic>true</dynamic><name>tb.jobType</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>category</key><value>SystemCategoryName</value></entry><entry><key>feed</key><value>SystemFeedName</value></entry><entry><key>invalidThresholdPercentage</key><value>5</value></entry><entry><key>tb.jobType</key><value>check</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>15 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>5fc76ff7-3042-473f-afbe-bdae1aab65b5</id><parentGroupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</parentGroupId><position><x>1557.4527587890625</x><y>54.723164081573486</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>85ee77f9-0cf2-4987-ad7e-b967a2090bdf</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Database Connection Pooling Service</key><value>85ee77f9-0cf2-4987-ad7e-b967a2090bdf</value></entry><entry><key>SQL select query</key><value>select x.invalid_count, y.total_count, x.invalid_count/y.total_count as invalid_pct, CASE WHEN (x.invalid_count/y.total_count)*100 &gt;= ${invalidThresholdPercentage} then 'false' else 'true' end as valid,
    CASE WHEN x.invalid_count/y.total_count &gt;= 0.10 then  concat('Invalid. The data has  ', (x.invalid_count/y.total_count)*100,'% of the rows invalid.  This is above the threshold of ','${invalidThresholdPercentage}%' ) else concat('Valid.  This job has passed validation with ',  (x.invalid_count/y.total_count)*100,'% of the rows invalid.  This is below the threshold of ${invalidThresholdPercentage}%') end as validation_message, x.processing_dttm
    from (
    select  metricvalue as invalid_count, 'INVALID_COUNT' as type, m.max_date as processing_dttm from ${category}.${feed}_profile
    inner join (SELECT MAX(processing_dttm) as max_date from ${category}.${feed}_profile) m on m.max_date = processing_dttm
    where columnname = '(ALL)'
    and metrictype = 'INVALID_COUNT'
    ) x
    inner join (
    select  metricvalue as total_count, 'TOTAL_COUNT' as type,m.max_date as processing_dttm from ${category}.${feed}_profile
    inner join (SELECT MAX(processing_dttm) as max_date from ${category}.${feed}_profile) m on m.max_date = processing_dttm
    where columnname = '(ALL)'
    and metrictype = 'TOTAL_COUNT') y on y.processing_dttm = x.processing_dttm</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExecuteHQL</name><relationships><autoTerminate>true</autoTerminate><description>SQL query execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully created FlowFile from SQL query result set.</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQL</type></processors><processors><id>4575167a-3cb6-4e08-b8c6-e75b0c294bcf</id><parentGroupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</parentGroupId><position><x>326.0</x><y>144.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>File Size</key><value><description>The size of the file that will be used</description><displayName>File Size</displayName><dynamic>false</dynamic><name>File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>1</defaultValue><description>The number of FlowFiles to be transferred in each invocation</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Format</key><value><allowableValues><displayName>Binary</displayName><value>Binary</value></allowableValues><allowableValues><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Binary</defaultValue><description>Specifies whether the data should be Text or Binary</description><displayName>Data Format</displayName><dynamic>false</dynamic><name>Data Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Unique FlowFiles</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput</description><displayName>Unique FlowFiles</displayName><dynamic>false</dynamic><name>Unique FlowFiles</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>File Size</key><value>0 KB</value></entry><entry><key>Batch Size</key><value>1</value></entry><entry><key>Data Format</key><value>Binary</value></entry><entry><key>Unique FlowFiles</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>5 min</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GenerateFlowFile</name><relationships><autoTerminate>false</autoTerminate><description></description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GenerateFlowFile</type></processors><processors><id>47934aef-9517-47cf-b203-05e40e1ee42c</id><parentGroupId>a9eb5347-9116-418a-b369-ca6d3adc94d1</parentGroupId><position><x>923.0</x><y>280.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>JSON container options</key><value><allowableValues><displayName>none</displayName><value>none</value></allowableValues><allowableValues><displayName>array</displayName><value>array</value></allowableValues><defaultValue>array</defaultValue><description>Determines how stream of records is exposed: either as a sequence of single Objects (none) (i.e. writing every Object to a new line), or as an array of Objects (array).</description><displayName>JSON container options</displayName><dynamic>false</dynamic><name>JSON container options</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Wrap Single Record</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Determines if the resulting output for empty records or a single record should be wrapped in a container array as specified by 'JSON container options'</description><displayName>Wrap Single Record</displayName><dynamic>false</dynamic><name>Wrap Single Record</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>JSON container options</key><value>array</value></entry><entry><key>Wrap Single Record</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ConvertAvroToJSON</name><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be parsed as Avro or cannot be converted to JSON for any reason</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship after it has been converted to JSON</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type></processors></snippet><timestamp>05/16/2016 19:11:02 UTC</timestamp></template>