install/setup/data/templates/Data_Ingest_Flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>Data Ingest</name><snippet><connections><id>45c48a9a-b331-4788-a6c9-411ddcc5b7fb</id><parentGroupId>d7c2a337-c207-484b-acf1-bb602249789c</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7c2a337-c207-484b-acf1-bb602249789c</groupId><id>00413412-7ec1-4a93-a630-eeb10b7cad51</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d7c2a337-c207-484b-acf1-bb602249789c</groupId><id>96336556-9fa9-4d30-95ee-f88670b85239</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a4dc77f4-8e6a-48f8-88c0-5f21b9246e0d</id><parentGroupId>d7c2a337-c207-484b-acf1-bb602249789c</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7c2a337-c207-484b-acf1-bb602249789c</groupId><id>00413412-7ec1-4a93-a630-eeb10b7cad51</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d7c2a337-c207-484b-acf1-bb602249789c</groupId><id>64b00b7c-5d32-416a-8f05-f46a6350db63</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>72e9f14a-e1b7-4475-b599-a3acd03cd67b</id><parentGroupId>d7c2a337-c207-484b-acf1-bb602249789c</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7c2a337-c207-484b-acf1-bb602249789c</groupId><id>88e7f721-2deb-4ff9-8abf-e2c08e7effb1</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d7c2a337-c207-484b-acf1-bb602249789c</groupId><id>00413412-7ec1-4a93-a630-eeb10b7cad51</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>6f7eae61-35a4-4deb-b795-ea9cccb86171</id><comments></comments><descriptors><entry><key>Database Driver Jar Url</key><value><description>Optional database driver jar file path url. For example 'file:///var/tmp/mariadb-java-client-1.1.7.jar'</description><displayName>Database Driver Jar Url</displayName><dynamic>false</dynamic><name>Database Driver Jar Url</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Driver Class Name</key><value><description>Database driver class name</description><displayName>Database Driver Class Name</displayName><dynamic>false</dynamic><name>Database Driver Class Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>The password for the database user</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Total Connections</key><value><defaultValue>8</defaultValue><description>The maximum number of active connections that can be allocated from this pool at the same time,  or negative for no limit.</description><displayName>Max Total Connections</displayName><dynamic>false</dynamic><name>Max Total Connections</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Connection URL</key><value><description>A database connection URL used to connect to a database. May contain database system name, host, port, database name and some parameters. The exact syntax of a database connection URL is specified by your DBMS.</description><displayName>Database Connection URL</displayName><dynamic>false</dynamic><name>Database Connection URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database User</key><value><description>Database user name</description><displayName>Database User</displayName><dynamic>false</dynamic><name>Database User</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>500 millis</defaultValue><description>The maximum amount of time that the pool will wait (when there are no available connections)  for a connection to be returned before failing, or -1 to wait indefinitely. </description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>MySQL</name><properties><entry><key>Database Driver Jar Url</key><value>file:///opt/nifi/mysql/mysql-connector-java-5.1.32.jar</value></entry><entry><key>Database Driver Class Name</key><value>com.mysql.jdbc.Driver</value></entry><entry><key>Password</key></entry><entry><key>Max Total Connections</key><value>8</value></entry><entry><key>Database Connection URL</key><value>jdbc:mysql://localhost</value></entry><entry><key>Database User</key><value>nifi</value></entry><entry><key>Max Wait Time</key><value>500 millis</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>0e327d33-4d68-44bd-aa60-7b498e2f9d2e</groupId><id>f0182e54-0e8c-422c-b941-fabbae0713b5</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value></value></entry><entry><key>Metadata Service</key><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type><validationErrors>'Source Fields' validated against '' is invalid because Source Fields cannot be empty</validationErrors></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>039fdbb0-182c-4351-97d3-2e8a345a1b28</groupId><id>4dda4d40-a074-48de-8714-f0515822adf8</id><name>Query Hive Table Metadata</name><properties><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE, c.COLUMN_NAME, c.TYPE_NAME
FROM hive.COLUMNS_V2 c 
   JOIN hive.TBLS t ON c.CD_ID=t.TBL_ID 
   JOIN hive.DBS d on d.DB_ID = t.DB_ID
where d.name = '${source}'and t.tbl_name like '${entity}%';</value></entry><entry><key>Database Connection Pooling Service</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>a4173db3-14aa-4be2-ab77-ce9c58870e45</groupId><id>95285a0e-57b3-4480-977f-7ea556e17848</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value></value></entry><entry><key>Metadata Service</key><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type><validationErrors>'Source Fields' validated against '' is invalid because Source Fields cannot be empty</validationErrors></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>5cf62db5-2732-44e3-ab08-27dfe09f18b7</groupId><id>ce0de2b8-590a-40b2-8a81-e6f7f4fde99c</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value></value></entry><entry><key>Metadata Service</key><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type><validationErrors>'Source Fields' validated against '' is invalid because Source Fields cannot be empty</validationErrors></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>MetadataConnectionService</displayName><value>340004ca-959f-44eb-90ec-115b5f601c6e</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.MetadataService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>1e061bec-148a-4b92-9382-8c047d0f7491</groupId><id>f896f3b5-4e9e-4096-b696-d862702f1218</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>address</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value>address_id
address
address2
district
city_id
postal_code
phone
last_update</value></entry><entry><key>Metadata Service</key><value>340004ca-959f-44eb-90ec-115b5f601c6e</value></entry><entry><key>System feed category</key><value>movie_rentals</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>sakila.address</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.GetTableData</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>d7c2a337-c207-484b-acf1-bb602249789c</groupId><id>64b00b7c-5d32-416a-8f05-f46a6350db63</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value>${metadata.table.sourceFields}</value></entry><entry><key>Metadata Service</key><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>MetadataConnectionService</displayName><value>340004ca-959f-44eb-90ec-115b5f601c6e</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.MetadataService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>feca1164-2313-436b-86e7-fcc60593b5fc</groupId><id>0982dfd0-423d-4c0d-91b9-849b24a7bbe7</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>film</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value>film_id
title
description
release_year
language_id
original_language_id
rental_duration
rental_rate
length
replacement_cost
rating
special_features
last_update</value></entry><entry><key>Metadata Service</key><value>340004ca-959f-44eb-90ec-115b5f601c6e</value></entry><entry><key>System feed category</key><value>movie_rentals</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>sakila.film</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.GetTableData</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>ac52d5ed-763d-4a86-858b-eb00f9457a55</groupId><id>18da1b18-e713-468c-8965-b0908361c975</id><name>Query Hive Table Metadata</name><properties><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE, c.COLUMN_NAME, c.TYPE_NAME
FROM hive.COLUMNS_V2 c 
   JOIN hive.TBLS t ON c.CD_ID=t.TBL_ID 
   JOIN hive.DBS d on d.DB_ID = t.DB_ID
where d.name = '${source}'and t.tbl_name like '${entity}%';</value></entry><entry><key>Database Connection Pooling Service</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>29c3cb55-ba39-4f9f-ae68-a5ea5e14db7d</groupId><id>6215c91c-2522-40d7-bd2f-9dea3f52ffa3</id><name>Query Hive Table Metadata</name><properties><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE, c.COLUMN_NAME, c.TYPE_NAME
FROM hive.COLUMNS_V2 c 
   JOIN hive.TBLS t ON c.CD_ID=t.TBL_ID 
   JOIN hive.DBS d on d.DB_ID = t.DB_ID
where d.name = '${source}'and t.tbl_name like '${entity}%';</value></entry><entry><key>Database Connection Pooling Service</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>1e061bec-148a-4b92-9382-8c047d0f7491</groupId><id>f7b84f4c-1cb7-4ca7-8147-269a83f02cd1</id><name>Query Hive Table Metadata</name><properties><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE, c.COLUMN_NAME, c.TYPE_NAME
FROM hive.COLUMNS_V2 c 
   JOIN hive.TBLS t ON c.CD_ID=t.TBL_ID 
   JOIN hive.DBS d on d.DB_ID = t.DB_ID
where d.name = '${source}'and t.tbl_name like '${entity}%';</value></entry><entry><key>Database Connection Pooling Service</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>551bbc29-a0ea-4837-ace6-47a9665d9a36</groupId><id>4f2206a4-39b1-4c62-876e-329c438e973a</id><name>Query Hive Table Metadata</name><properties><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE, c.COLUMN_NAME, c.TYPE_NAME
FROM hive.COLUMNS_V2 c 
   JOIN hive.TBLS t ON c.CD_ID=t.TBL_ID 
   JOIN hive.DBS d on d.DB_ID = t.DB_ID
where d.name = '${source}'and t.tbl_name like '${entity}%';</value></entry><entry><key>Database Connection Pooling Service</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>MetadataConnectionService</displayName><value>340004ca-959f-44eb-90ec-115b5f601c6e</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.MetadataService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>039fdbb0-182c-4351-97d3-2e8a345a1b28</groupId><id>729e1f5c-a019-49c2-a446-62f7dbc9e4e7</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>0 seconds</value></entry><entry><key>System feed name</key><value>actors</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value>actor_id
first_name
last_name
last_update</value></entry><entry><key>Metadata Service</key><value>340004ca-959f-44eb-90ec-115b5f601c6e</value></entry><entry><key>System feed category</key><value>movie_rentals</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>sakila.actor</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.GetTableData</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>MetadataConnectionService</displayName><value>340004ca-959f-44eb-90ec-115b5f601c6e</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.controller.MetadataService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>ac52d5ed-763d-4a86-858b-eb00f9457a55</groupId><id>7e58b313-70e3-4722-b6f3-30ca1b14f962</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>film_category</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value>film_id
category_id
last_update</value></entry><entry><key>Metadata Service</key><value>340004ca-959f-44eb-90ec-115b5f601c6e</value></entry><entry><key>System feed category</key><value>movie_rentals</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>sakila.film_category</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.GetTableData</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>feca1164-2313-436b-86e7-fcc60593b5fc</groupId><id>0c6c940c-638e-427f-a8ea-d2b88dc709ed</id><name>Query Hive Table Metadata</name><properties><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE, c.COLUMN_NAME, c.TYPE_NAME
FROM hive.COLUMNS_V2 c 
   JOIN hive.TBLS t ON c.CD_ID=t.TBL_ID 
   JOIN hive.DBS d on d.DB_ID = t.DB_ID
where d.name = '${source}'and t.tbl_name like '${entity}%';</value></entry><entry><key>Database Connection Pooling Service</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>15abac4e-33a3-427a-8030-c3aced5d8e6d</groupId><id>2b6187cc-d2da-4a19-be38-d491a7d615d7</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value></value></entry><entry><key>Metadata Service</key><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type><validationErrors>'Source Fields' validated against '' is invalid because Source Fields cannot be empty</validationErrors></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>9d6f27f2-1044-48a4-b8ff-0c6a7e4437d0</groupId><id>bb9fa5b4-1928-4629-9fa7-84dfb398cfcd</id><name>Query Hive Table Metadata</name><properties><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE, c.COLUMN_NAME, c.TYPE_NAME
FROM hive.COLUMNS_V2 c 
   JOIN hive.TBLS t ON c.CD_ID=t.TBL_ID 
   JOIN hive.DBS d on d.DB_ID = t.DB_ID
where d.name = '${source}'and t.tbl_name like '${entity}%';</value></entry><entry><key>Database Connection Pooling Service</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>4c875cb0-845b-45f1-b010-908a074dfe6f</groupId><id>725f848b-217f-47f5-a51d-1645f837744b</id><name>Query Hive Table Metadata</name><properties><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE, c.COLUMN_NAME, c.TYPE_NAME
FROM hive.COLUMNS_V2 c 
   JOIN hive.TBLS t ON c.CD_ID=t.TBL_ID 
   JOIN hive.DBS d on d.DB_ID = t.DB_ID
where d.name = '${source}'and t.tbl_name like '${entity}%';</value></entry><entry><key>Database Connection Pooling Service</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.dbcp.DBCPConnectionPool</type></controllerServices><controllerServices><id>345ed517-6b99-4fd2-a437-9898668f00bf</id><comments></comments><descriptors><entry><key>rest-client-url</key><value><defaultValue>http://localhost:8077/api/metadata</defaultValue><description>The base URL to the metadata server when the REST API client implementation is chosen.</description><displayName>REST Client URL</displayName><dynamic>false</dynamic><name>rest-client-url</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Implementation</key><value><allowableValues><description>An implemenation that stores metadata locally in memory (for development-only)</description><displayName>Local, In-memory storage</displayName><value>LOCAL</value></allowableValues><allowableValues><description>An implemenation that accesses metadata via the metadata service REST API</description><displayName>REST API</displayName><value>REMOTE</value></allowableValues><defaultValue>REMOTE</defaultValue><description>Specifies which implementation of the metadata providers should be used</description><displayName>Implementation</displayName><dynamic>false</dynamic><name>Implementation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>Think Big Metadata Service</name><properties><entry><key>rest-client-url</key><value>http://localhost:8077/api/metadata</value></entry><entry><key>Implementation</key><value>REMOTE</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Result</key><value><allowableValues><displayName>success</displayName><value>success</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>success</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Result</displayName><dynamic>false</dynamic><name>Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System Feed Name</key><value><description>System name of feed this processor supports</description><displayName>System Feed Name</displayName><dynamic>false</dynamic><name>System Feed Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System Feed Category</key><value><description>System category of feed this processor supports</description><displayName>System Feed Category</displayName><dynamic>false</dynamic><name>System Feed Category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>bb1439c2-145d-4977-9e92-5946295c7fd7</groupId><id>1e0390cb-2601-4bdf-8387-9ff0bdb38ef5</id><name>Record Registration</name><properties><entry><key>Result</key><value>success</value></entry><entry><key>System Feed Name</key><value>${feed}</value></entry><entry><key>System Feed Category</key><value>${category}</value></entry><entry><key>Metadata Service</key><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.UpdateRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>5cf62db5-2732-44e3-ab08-27dfe09f18b7</groupId><id>ce0de2b8-590a-40b2-8a81-e6f7f4fde99c</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value></value></entry><entry><key>Metadata Service</key><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type><validationErrors>'Source Fields' validated against '' is invalid because Source Fields cannot be empty</validationErrors></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>System Feed Name</key><value><description>System name of feed this processor supports</description><displayName>System Feed Name</displayName><dynamic>false</dynamic><name>System Feed Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System Feed Category</key><value><description>System category of feed this processor supports</description><displayName>System Feed Category</displayName><dynamic>false</dynamic><name>System Feed Category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>bb1439c2-145d-4977-9e92-5946295c7fd7</groupId><id>a6b46e0d-bb94-4179-93b4-c96468a01bcb</id><name>Route for Registration?</name><properties><entry><key>System Feed Name</key><value>${feed}</value></entry><entry><key>System Feed Category</key><value>${category}</value></entry><entry><key>Metadata Service</key><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.RouteOnRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>d7c2a337-c207-484b-acf1-bb602249789c</groupId><id>64b00b7c-5d32-416a-8f05-f46a6350db63</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value>${metadata.table.sourceFields}</value></entry><entry><key>Metadata Service</key><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>15abac4e-33a3-427a-8030-c3aced5d8e6d</groupId><id>2b6187cc-d2da-4a19-be38-d491a7d615d7</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value></value></entry><entry><key>Metadata Service</key><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type><validationErrors>'Source Fields' validated against '' is invalid because Source Fields cannot be empty</validationErrors></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>0e327d33-4d68-44bd-aa60-7b498e2f9d2e</groupId><id>f0182e54-0e8c-422c-b941-fabbae0713b5</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value></value></entry><entry><key>Metadata Service</key><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type><validationErrors>'Source Fields' validated against '' is invalid because Source Fields cannot be empty</validationErrors></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>a4173db3-14aa-4be2-ab77-ce9c58870e45</groupId><id>95285a0e-57b3-4480-977f-7ea556e17848</id><name>Poll database</name><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value></value></entry><entry><key>Metadata Service</key><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><referenceType>Processor</referenceType><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type><validationErrors>'Source Fields' validated against '' is invalid because Source Fields cannot be empty</validationErrors></referencingComponents><state>ENABLED</state><type>com.thinkbiganalytics.nifi.v2.core.metadata.MetadataProviderSelectorService</type></controllerServices><outputPorts><id>88e7f721-2deb-4ff9-8abf-e2c08e7effb1</id><parentGroupId>d7c2a337-c207-484b-acf1-bb602249789c</parentGroupId><position><x>1203.179636112515</x><y>97.71163189702148</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>to-standard-ingest</name><state>RUNNING</state><type>OUTPUT_PORT</type></outputPorts><processors><id>00413412-7ec1-4a93-a630-eeb10b7cad51</id><parentGroupId>d7c2a337-c207-484b-acf1-bb602249789c</parentGroupId><position><x>655.3137462689056</x><y>78.15118408203125</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>feedts</key><value><description></description><displayName>feedts</displayName><dynamic>true</dynamic><name>feedts</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.partitionStructure</key><value><description></description><displayName>metadata.table.partitionStructure</displayName><dynamic>true</dynamic><name>metadata.table.partitionStructure</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>category</key><value><description></description><displayName>category</displayName><dynamic>true</dynamic><name>category</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.fieldIndexString</key><value><description></description><displayName>metadata.table.fieldIndexString</displayName><dynamic>true</dynamic><name>metadata.table.fieldIndexString</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.partitionSpecs</key><value><description></description><displayName>metadata.table.partitionSpecs</displayName><dynamic>true</dynamic><name>metadata.table.partitionSpecs</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>spark.input_folder</key><value><description></description><displayName>spark.input_folder</displayName><dynamic>true</dynamic><name>spark.input_folder</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.format</key><value><description></description><displayName>metadata.table.format</displayName><dynamic>true</dynamic><name>metadata.table.format</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>feed</key><value><description></description><displayName>feed</displayName><dynamic>true</dynamic><name>feed</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.fieldStructure</key><value><description></description><displayName>metadata.table.fieldStructure</displayName><dynamic>true</dynamic><name>metadata.table.fieldStructure</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>metadata.table.fieldPoliciesJson</key><value><description></description><displayName>metadata.table.fieldPoliciesJson</displayName><dynamic>true</dynamic><name>metadata.table.fieldPoliciesJson</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>feedts</key><value>${now():format('yyyyMMddHHmmss')}</value></entry><entry><key>metadata.table.partitionStructure</key><value>${metadata.table.partitionStructure}</value></entry><entry><key>category</key><value>${metadata.category.systemName}</value></entry><entry><key>Delete Attributes Expression</key></entry><entry><key>metadata.table.fieldIndexString</key><value>${metadata.table.fieldIndexString}</value></entry><entry><key>metadata.table.partitionSpecs</key><value>${metadata.table.partitionSpecs}</value></entry><entry><key>spark.input_folder</key><value>/tmp</value></entry><entry><key>metadata.table.format</key><value>ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' STORED AS
    TEXTFILE
</value></entry><entry><key>feed</key><value>${metadata.systemFeedName}</value></entry><entry><key>metadata.table.fieldStructure</key><value>${metadata.table.fieldStructure}</value></entry><entry><key>metadata.table.fieldPoliciesJson</key><value>${metadata.table.fieldPoliciesJson}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Update flow parameters</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#11f237</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>64b00b7c-5d32-416a-8f05-f46a6350db63</id><parentGroupId>d7c2a337-c207-484b-acf1-bb602249789c</parentGroupId><position><x>9.308441162109375</x><y>152.2994738324096</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Date Field</key><value><description>Fieldname of the source field containing the modified date for incremental load</description><displayName>Date Field</displayName><dynamic>false</dynamic><name>Date Field</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Load Strategy</key><value><allowableValues><displayName>FULL_LOAD</displayName><value>FULL_LOAD</value></allowableValues><allowableValues><displayName>INCREMENTAL</displayName><value>INCREMENTAL</value></allowableValues><defaultValue>FULL_LOAD</defaultValue><description>Whether to load the entire table or perform an incremental extract</description><displayName>Load Strategy</displayName><dynamic>false</dynamic><name>Load Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Overlap Period</key><value><defaultValue>0 seconds</defaultValue><description>Amount of time to overlap into the last load date to ensure long running transactions missed by previous load weren't missed. Recommended: &gt;0s</description><displayName>Overlap Period</displayName><dynamic>false</dynamic><name>Overlap Period</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Time Unit</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>HOUR</displayName><value>HOUR</value></allowableValues><allowableValues><displayName>DAY</displayName><value>DAY</value></allowableValues><allowableValues><displayName>WEEK</displayName><value>WEEK</value></allowableValues><allowableValues><displayName>MONTH</displayName><value>MONTH</value></allowableValues><allowableValues><displayName>YEAR</displayName><value>YEAR</value></allowableValues><defaultValue>NONE</defaultValue><description>The minimum unit of data eligible to load. For the ILM case, this would be DAY, WEEK, MONTH, YEAR , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Minimum Time Unit</displayName><dynamic>false</dynamic><name>Minimum Time Unit</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Backoff Period</key><value><defaultValue>300 seconds</defaultValue><description>Only records older than the backoff period will be eligible for pickup. This can be used in the ILM use case to define a retention period. Recommended: &gt;5m</description><displayName>Backoff Period</displayName><dynamic>false</dynamic><name>Backoff Period</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Fields</key><value><description>Field names (in order) to read from the source table. ie. the select fields. The format is separated by newline. Inconsistent order will cause corruption of the downstream Hive data.</description><displayName>Source Fields</displayName><dynamic>false</dynamic><name>Source Fields</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></allowableValues><description>The Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Source Table</key><value><description>Name of table including schema (if applicable)</description><displayName>Source Table</displayName><dynamic>false</dynamic><name>Source Table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source Database Connection</key><value><allowableValues><displayName>MySQL</displayName><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>d4d85742-1f34-4388-a93f-80ee65e9dd19</value></allowableValues><description>The database where the source table resides</description><displayName>Source Database Connection</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Source Database Connection</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Date Field</key></entry><entry><key>Load Strategy</key><value>FULL_LOAD</value></entry><entry><key>Overlap Period</key><value>300 seconds</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Minimum Time Unit</key><value>NONE</value></entry><entry><key>Backoff Period</key><value>300 seconds</value></entry><entry><key>Source Fields</key><value>${metadata.table.sourceFields}</value></entry><entry><key>Metadata Service</key><value>345ed517-6b99-4fd2-a437-9898668f00bf</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Source Table</key><value>${metadata.table.sourceTableSchema.name}</value></entry><entry><key>Source Database Connection</key><value>6f7eae61-35a4-4deb-b795-ea9cccb86171</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Poll database</name><relationships><autoTerminate>true</autoTerminate><description>Table extract execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Successful but no new data to process.</description><name>nodata</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successful created new flow file from the table.</description><name>success</name></relationships><state>DISABLED</state><style><entry><key>background-color</key><value>#3cff00</value></entry></style><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.ingest.GetTableData</type></processors><processors><id>96336556-9fa9-4d30-95ee-f88670b85239</id><parentGroupId>d7c2a337-c207-484b-acf1-bb602249789c</parentGroupId><position><x>8.848566825545731</x><y>25.25250244140625</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Keep Source File</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the file is not deleted after it has been copied to the Content Repository; this causes the file to be picked up continually and is useful for testing purposes.  If not keeping original NiFi will need write permissions on the directory it is pulling from otherwise it will ignore the file.</description><displayName>Keep Source File</displayName><dynamic>false</dynamic><name>Keep Source File</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>10</defaultValue><description>The maximum number of files to pull in each iteration</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Age</key><value><defaultValue>0 sec</defaultValue><description>The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored</description><displayName>Minimum File Age</displayName><dynamic>false</dynamic><name>Minimum File Age</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Hidden Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not hidden files should be ignored</description><displayName>Ignore Hidden Files</displayName><dynamic>false</dynamic><name>Ignore Hidden Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Size</key><value><description>The maximum size that a file can be in order to be pulled</description><displayName>Maximum File Size</displayName><dynamic>false</dynamic><name>Maximum File Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>File Filter</key><value><defaultValue>[^\.].*</defaultValue><description>Only files whose names match the given regular expression will be picked up</description><displayName>File Filter</displayName><dynamic>false</dynamic><name>File Filter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Recurse Subdirectories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to pull files from subdirectories</description><displayName>Recurse Subdirectories</displayName><dynamic>false</dynamic><name>Recurse Subdirectories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter</key><value><description>When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned</description><displayName>Path Filter</displayName><dynamic>false</dynamic><name>Path Filter</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Age</key><value><description>The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored</description><displayName>Maximum File Age</displayName><dynamic>false</dynamic><name>Maximum File Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size that a file must be in order to be pulled</description><displayName>Minimum File Size</displayName><dynamic>false</dynamic><name>Minimum File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Input Directory</key><value><description>The input directory from which to pull files</description><displayName>Input Directory</displayName><dynamic>false</dynamic><name>Input Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Polling Interval</key><value><defaultValue>0 sec</defaultValue><description>Indicates how long to wait before performing a directory listing</description><displayName>Polling Interval</displayName><dynamic>false</dynamic><name>Polling Interval</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Keep Source File</key><value>false</value></entry><entry><key>Batch Size</key><value>100</value></entry><entry><key>Minimum File Age</key><value>0 sec</value></entry><entry><key>Ignore Hidden Files</key><value>true</value></entry><entry><key>Maximum File Size</key></entry><entry><key>File Filter</key><value>mydata\d{1,3}.csv</value></entry><entry><key>Recurse Subdirectories</key><value>false</value></entry><entry><key>Path Filter</key></entry><entry><key>Maximum File Age</key></entry><entry><key>Minimum File Size</key><value>0 B</value></entry><entry><key>Input Directory</key><value>/var/dropzone</value></entry><entry><key>Polling Interval</key><value>0 sec</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>10 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Poll filesystem</name><relationships><autoTerminate>false</autoTerminate><description>All files are routed to success</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#11f237</value></entry></style><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GetFile</type></processors></snippet><timestamp>05/14/2016 13:58:08 UTC</timestamp></template>