install/setup/data/templates/standard-ingest.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>standard-ingest</name><snippet><connections><id>83f53818-7579-4dc7-b3e8-4441a8aa1411</id><parentGroupId>94f61842-ab6f-47b6-bba6-2ea502c6418a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>71bfcec6-f192-4415-a922-a92bc86e3a51</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>56db6f43-b428-4f4e-b54c-6a46a060be1d</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>cd61078f-2ffe-4708-a28e-870d87a32695</id><parentGroupId>94f61842-ab6f-47b6-bba6-2ea502c6418a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>401.5</x><y>263.5</y></bends><destination><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>9b95d84e-b740-4a4d-9d75-7873f050ad77</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>b2ad7578-a472-4fc4-8d0d-de5da7ee140b</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>db25a740-b273-4ba5-9feb-d3f4fcda86ff</id><parentGroupId>94f61842-ab6f-47b6-bba6-2ea502c6418a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>d8cf4e1a-79c1-4c9a-a0c6-425afcdaedc4</id><type>INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>94f61842-ab6f-47b6-bba6-2ea502c6418a</groupId><id>1aea4295-eba7-4e8e-a9cb-fd08d2a50350</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><controllerServices><id>0f2459a7-f6ef-4684-af64-64817ded1565</id><comments></comments><descriptors><entry><key>Database Connection URL</key><value><description>A database connection URL used to connect to a database. May contain database system name, host, port, database name and some parameters. The exact syntax of a database connection URL is specified by your DBMS.</description><displayName>Database Connection URL</displayName><dynamic>false</dynamic><name>Database Connection URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Driver Class Name</key><value><description>Database driver class name</description><displayName>Database Driver Class Name</displayName><dynamic>false</dynamic><name>Database Driver Class Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Driver Jar Url</key><value><description>Optional database driver jar file path url. For example 'file:///var/tmp/mariadb-java-client-1.1.7.jar'</description><displayName>Database Driver Jar Url</displayName><dynamic>false</dynamic><name>Database Driver Jar Url</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database User</key><value><description>Database user name</description><displayName>Database User</displayName><dynamic>false</dynamic><name>Database User</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>The password for the database user</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>500 millis</defaultValue><description>The maximum amount of time that the pool will wait (when there are no available connections)  for a connection to be returned before failing, or -1 to wait indefinitely. </description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Total Connections</key><value><defaultValue>8</defaultValue><description>The maximum number of active connections that can be allocated from this pool at the same time,  or negative for no limit.</description><displayName>Max Total Connections</displayName><dynamic>false</dynamic><name>Max Total Connections</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>Hive Thrift Service</name><properties><entry><key>Database Connection URL</key><value>jdbc:hive2://localhost:10000/default</value></entry><entry><key>Database Driver Class Name</key><value>org.apache.hive.jdbc.HiveDriver</value></entry><entry><key>Database Driver Jar Url</key></entry><entry><key>Database User</key><value>nifi</value></entry><entry><key>Password</key></entry><entry><key>Max Wait Time</key><value>500 millis</value></entry><entry><key>Max Total Connections</key><value>8</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Merge Strategy</key><value><allowableValues><displayName>MERGE</displayName><value>MERGE</value></allowableValues><allowableValues><displayName>DEDUPE_AND_MERGE</displayName><value>DEDUPE_AND_MERGE</value></allowableValues><allowableValues><displayName>SYNC</displayName><value>SYNC</value></allowableValues><allowableValues><displayName>${metadata.table.targetMergeStrategy}</displayName><value>${metadata.table.targetMergeStrategy}</value></allowableValues><defaultValue>${metadata.table.targetMergeStrategy}</defaultValue><description>Specifies the algorithm used to merge. Valid values are SYNC,MERGE,DEDUPE_AND_MERGE.  Sync will completely overwrite the target table with the source data. Merge will append the data into the target partitions. Dedupe will insert into the target partition but ensure no duplicate rows are remaining. </description><displayName>Merge Strategy</displayName><dynamic>false</dynamic><name>Merge Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source table</key><value><defaultValue>${metadata.category.systemName}.${metadata.systemFeedName}_valid</defaultValue><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><defaultValue>${category}.${feed}</defaultValue><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><defaultValue>${feedts}</defaultValue><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><defaultValue>${metadata.table.partitionSpecs}</defaultValue><description>Partition specification in format: field|type|formula
    field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>7984fee6-d7fc-49d1-8955-0b8a63ad567a</id><name>MergeTable</name><properties><entry><key>Database Connection Pooling Service</key><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></entry><entry><key>Merge Strategy</key><value>${metadata.table.targetMergeStrategy}</value></entry><entry><key>Source table</key><value>${category}.${feed}_valid</value></entry><entry><key>Target table</key><value>${category}.${feed}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${metadata.table.partitionSpecs}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.MergeTable</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>eeea7acf-c5f5-48f4-9b5b-bd819436047e</groupId><id>9fbfa993-3056-43f1-a661-11b59a741230</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></entry><entry><key>SQL select query</key><value>select ${metadata.table.fieldIndexString} from ${category}.${feed}_valid where processing_dttm =
    ${feedts}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>b44977b1-16c9-4997-8549-adfcf5ab331c</id><name>Create Feed Partition</name><properties><entry><key>Database Connection Pooling Service</key><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></entry><entry><key>Statement</key><value>alter table ${category}.${feed}_feed add
    if not exists partition (processing_dttm=${feedts})
    location '/etl/${category}/${feed}/${feedts}/'</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQLStatement</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>1e693110-71d0-440e-9d1e-266e1f4494a9</groupId><id>22f6bd86-973f-4d75-8f63-8a448c51ac5c</id><name>Create Feed Partition</name><properties><entry><key>Database Connection Pooling Service</key><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></entry><entry><key>Statement</key><value>alter table ${category}.${feed}_feed add
    if not exists partition (processing_dttm=${feedts})
    location '/etl/${category}/${feed}/${feedts}/'</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQLStatement</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Type</key><value><allowableValues><displayName>FEED</displayName><value>FEED</value></allowableValues><allowableValues><displayName>VALID</displayName><value>VALID</value></allowableValues><allowableValues><displayName>INVALID</displayName><value>INVALID</value></allowableValues><allowableValues><displayName>PROFILE</displayName><value>PROFILE</value></allowableValues><allowableValues><displayName>MASTER</displayName><value>MASTER</value></allowableValues><allowableValues><displayName>ALL</displayName><value>ALL</value></allowableValues><defaultValue>ALL</defaultValue><description>Specifies the standard table type to create or ALL for standard set.</description><displayName>Table Type</displayName><dynamic>false</dynamic><name>Table Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Field specification</key><value><defaultValue>${metadata.table.fieldStructure}</defaultValue><description>Pipe-delim format with the specifications for the fields (column name|data type|comment</description><displayName>Field specification</displayName><dynamic>false</dynamic><name>Field specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><defaultValue>${metadata.table.partitionStructure}</defaultValue><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed Table Storage Format</key><value><defaultValue>${metadata.table.feedFormat}</defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Feed Table Storage Format</displayName><dynamic>false</dynamic><name>Feed Table Storage Format</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target Table Format</key><value><defaultValue>${metadata.table.targetFormat}</defaultValue><description>Provide storage format specification for the target tables</description><displayName>Target Table Format</displayName><dynamic>false</dynamic><name>Target Table Format</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target Table Properties</key><value><defaultValue>${metadata.table.targetTblProperties}</defaultValue><description>TblProperties clause generally specificying the compression option</description><displayName>Target Table Properties</displayName><dynamic>false</dynamic><name>Target Table Properties</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>da94f03a-61a0-4d76-80ef-7c96bcfd3d08</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Table Type</key><value>ALL</value></entry><entry><key>Field specification</key><value>${metadata.table.fieldStructure}</value></entry><entry><key>Partition specification</key><value>${metadata.table.partitionStructure}</value></entry><entry><key>Feed Table Storage Format</key><value>${metadata.table.feedFormat}</value></entry><entry><key>Target Table Format</key><value>${metadata.table.targetFormat}</value></entry><entry><key>Target Table Properties</key><value>${metadata.table.targetTblProperties}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.RegisterFeedTables</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Merge Strategy</key><value><allowableValues><displayName>MERGE</displayName><value>MERGE</value></allowableValues><allowableValues><displayName>DEDUPE_AND_MERGE</displayName><value>DEDUPE_AND_MERGE</value></allowableValues><allowableValues><displayName>SYNC</displayName><value>SYNC</value></allowableValues><allowableValues><displayName>${metadata.table.targetMergeStrategy}</displayName><value>${metadata.table.targetMergeStrategy}</value></allowableValues><defaultValue>${metadata.table.targetMergeStrategy}</defaultValue><description>Specifies the algorithm used to merge. Valid values are SYNC,MERGE,DEDUPE_AND_MERGE.  Sync will completely overwrite the target table with the source data. Merge will append the data into the target partitions. Dedupe will insert into the target partition but ensure no duplicate rows are remaining. </description><displayName>Merge Strategy</displayName><dynamic>false</dynamic><name>Merge Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source table</key><value><defaultValue>${metadata.category.systemName}.${metadata.systemFeedName}_valid</defaultValue><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><defaultValue>${category}.${feed}</defaultValue><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><defaultValue>${feedts}</defaultValue><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><defaultValue>${metadata.table.partitionSpecs}</defaultValue><description>Partition specification in format: field|type|formula
    field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>1e693110-71d0-440e-9d1e-266e1f4494a9</groupId><id>840fcfc5-2628-412e-9f2b-b40060b6e8b9</id><name>MergeTable</name><properties><entry><key>Database Connection Pooling Service</key><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></entry><entry><key>Merge Strategy</key><value>${metadata.table.targetMergeStrategy}</value></entry><entry><key>Source table</key><value>${category}.${feed}_valid</value></entry><entry><key>Target table</key><value>${category}.${feed}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${metadata.table.partitionSpecs}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.MergeTable</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>444dd08b-736c-423b-ba22-70443af58a74</id><name>ExecuteHQL</name><properties><entry><key>Database Connection Pooling Service</key><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></entry><entry><key>SQL select query</key><value>select ${metadata.table.fieldIndexString} from ${category}.${feed}_valid where processing_dttm =
    ${feedts}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Type</key><value><allowableValues><displayName>FEED</displayName><value>FEED</value></allowableValues><allowableValues><displayName>VALID</displayName><value>VALID</value></allowableValues><allowableValues><displayName>INVALID</displayName><value>INVALID</value></allowableValues><allowableValues><displayName>PROFILE</displayName><value>PROFILE</value></allowableValues><allowableValues><displayName>MASTER</displayName><value>MASTER</value></allowableValues><allowableValues><displayName>ALL</displayName><value>ALL</value></allowableValues><defaultValue>ALL</defaultValue><description>Specifies the standard table type to create or ALL for standard set.</description><displayName>Table Type</displayName><dynamic>false</dynamic><name>Table Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Field specification</key><value><defaultValue>${metadata.table.fieldStructure}</defaultValue><description>Pipe-delim format with the specifications for the fields (column name|data type|comment</description><displayName>Field specification</displayName><dynamic>false</dynamic><name>Field specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><defaultValue>${metadata.table.partitionStructure}</defaultValue><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed Table Storage Format</key><value><defaultValue>${metadata.table.feedFormat}</defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Feed Table Storage Format</displayName><dynamic>false</dynamic><name>Feed Table Storage Format</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target Table Format</key><value><defaultValue>${metadata.table.targetFormat}</defaultValue><description>Provide storage format specification for the target tables</description><displayName>Target Table Format</displayName><dynamic>false</dynamic><name>Target Table Format</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target Table Properties</key><value><defaultValue>${metadata.table.targetTblProperties}</defaultValue><description>TblProperties clause generally specificying the compression option</description><displayName>Target Table Properties</displayName><dynamic>false</dynamic><name>Target Table Properties</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>1e693110-71d0-440e-9d1e-266e1f4494a9</groupId><id>c5a76f61-a954-4f3e-8c6a-36cc06f5190d</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Table Type</key><value>ALL</value></entry><entry><key>Field specification</key><value>${metadata.table.fieldStructure}</value></entry><entry><key>Partition specification</key><value>${metadata.table.partitionStructure}</value></entry><entry><key>Feed Table Storage Format</key><value>${metadata.table.feedFormat}</value></entry><entry><key>Target Table Format</key><value>${metadata.table.targetFormat}</value></entry><entry><key>Target Table Properties</key><value>${metadata.table.targetTblProperties}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.RegisterFeedTables</type></referencingComponents><state>ENABLED</state><type>com.thinkbiganalytics.nifi.v2.thrift.ThriftConnectionPool</type></controllerServices><controllerServices><id>c412e1b6-1a98-4dc3-8113-2400fdca09e5</id><comments></comments><descriptors><entry><key>Database Connection URL</key><value><description>A database connection URL used to connect to a database. May contain database system name, host, port, database name and some parameters. The exact syntax of a database connection URL is specified by your DBMS.</description><displayName>Database Connection URL</displayName><dynamic>false</dynamic><name>Database Connection URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Driver Class Name</key><value><description>Database driver class name</description><displayName>Database Driver Class Name</displayName><dynamic>false</dynamic><name>Database Driver Class Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Driver Jar Url</key><value><description>Optional database driver jar file path url. For example 'file:///var/tmp/mariadb-java-client-1.1.7.jar'</description><displayName>Database Driver Jar Url</displayName><dynamic>false</dynamic><name>Database Driver Jar Url</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database User</key><value><description>Database user name</description><displayName>Database User</displayName><dynamic>false</dynamic><name>Database User</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>The password for the database user</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>500 millis</defaultValue><description>The maximum amount of time that the pool will wait (when there are no available connections)  for a connection to be returned before failing, or -1 to wait indefinitely. </description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Total Connections</key><value><defaultValue>8</defaultValue><description>The maximum number of active connections that can be allocated from this pool at the same time,  or negative for no limit.</description><displayName>Max Total Connections</displayName><dynamic>false</dynamic><name>Max Total Connections</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>MySQL</name><properties><entry><key>Database Connection URL</key><value>jdbc:mysql://localhost</value></entry><entry><key>Database Driver Class Name</key><value>com.mysql.jdbc.Driver</value></entry><entry><key>Database Driver Jar Url</key><value>file:///opt/nifi/mysql/mysql-connector-java-5.1.32.jar</value></entry><entry><key>Database User</key><value>nifi</value></entry><entry><key>Password</key></entry><entry><key>Max Wait Time</key><value>500 millis</value></entry><entry><key>Max Total Connections</key><value>8</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>c412e1b6-1a98-4dc3-8113-2400fdca09e5</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>549c80d9-c5ba-4f84-92c0-3d507d8d0b2b</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>abcf328a-ad5c-4a5c-8dab-a0222be12b77</id><name>Query Hive Table Metadata</name><properties><entry><key>Database Connection Pooling Service</key><value>c412e1b6-1a98-4dc3-8113-2400fdca09e5</value></entry><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE,
    c.COLUMN_NAME, c.TYPE_NAME
    FROM ${config.hive.schema}.COLUMNS_V2 c
    JOIN  ${config.hive.schema}.TBLS t ON c.CD_ID=t.TBL_ID
    JOIN  ${config.hive.schema}.DBS d on d.DB_ID = t.DB_ID
    where d.name = '${category}'and t.tbl_name like '${feed}%';</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>c412e1b6-1a98-4dc3-8113-2400fdca09e5</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>549c80d9-c5ba-4f84-92c0-3d507d8d0b2b</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>eeea7acf-c5f5-48f4-9b5b-bd819436047e</groupId><id>750dee3d-f73e-44b0-b0a7-45975474b679</id><name>Query Hive Table Metadata</name><properties><entry><key>Database Connection Pooling Service</key><value>c412e1b6-1a98-4dc3-8113-2400fdca09e5</value></entry><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE,
    c.COLUMN_NAME, c.TYPE_NAME
    FROM metastore.COLUMNS_V2 c
    JOIN  metastore.TBLS t ON c.CD_ID=t.TBL_ID
    JOIN  metastore.DBS d on d.DB_ID = t.DB_ID
    where d.name = '${category}'and t.tbl_name like '${feed}%';</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.ExecuteSQL</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.dbcp.DBCPConnectionPool</type></controllerServices><controllerServices><id>fd67ddf1-22cf-433a-bdad-176872459eb7</id><comments></comments><descriptors><entry><key>Implementation</key><value><allowableValues><description>An implemenation that stores metadata locally in memory (for development-only)</description><displayName>Local, In-memory storage</displayName><value>LOCAL</value></allowableValues><allowableValues><description>An implemenation that accesses metadata via the metadata service REST API</description><displayName>REST API</displayName><value>REMOTE</value></allowableValues><defaultValue>REMOTE</defaultValue><description>Specifies which implementation of the metadata providers should be used</description><displayName>Implementation</displayName><dynamic>false</dynamic><name>Implementation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>rest-client-url</key><value><defaultValue>http://localhost:8077/api/metadata</defaultValue><description>The base URL to the metadata server when the REST API client implementation is chosen.</description><displayName>REST Client URL</displayName><dynamic>false</dynamic><name>rest-client-url</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>Think Big Metadata Service</name><properties><entry><key>Implementation</key><value>REMOTE</value></entry><entry><key>rest-client-url</key><value>http://localhost:8077/api/metadata</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>fd67ddf1-22cf-433a-bdad-176872459eb7</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>d0533317-8e3d-4ea5-ba57-bd3950091c1c</id><name>Route for Registration?</name><properties><entry><key>Metadata Service</key><value>fd67ddf1-22cf-433a-bdad-176872459eb7</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.RouteOnRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>fd67ddf1-22cf-433a-bdad-176872459eb7</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Result</key><value><allowableValues><displayName>success</displayName><value>success</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>success</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Result</displayName><dynamic>false</dynamic><name>Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>abf92a8c-d598-46da-ae9f-886013baf5da</id><name>Record Registration</name><properties><entry><key>Metadata Service</key><value>fd67ddf1-22cf-433a-bdad-176872459eb7</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Result</key><value>success</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.UpdateRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>fd67ddf1-22cf-433a-bdad-176872459eb7</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>1e693110-71d0-440e-9d1e-266e1f4494a9</groupId><id>1b6127b7-8af7-4fb5-9b43-2e5a2589b57c</id><name>Route for Registration?</name><properties><entry><key>Metadata Service</key><value>fd67ddf1-22cf-433a-bdad-176872459eb7</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.RouteOnRegistration</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>fd67ddf1-22cf-433a-bdad-176872459eb7</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Result</key><value><allowableValues><displayName>success</displayName><value>success</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>success</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Result</displayName><dynamic>false</dynamic><name>Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>1e693110-71d0-440e-9d1e-266e1f4494a9</groupId><id>da530b07-1de3-416f-a50b-258f9daaf61f</id><name>Record Registration</name><properties><entry><key>Metadata Service</key><value>fd67ddf1-22cf-433a-bdad-176872459eb7</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Result</key><value>success</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>com.thinkbiganalytics.nifi.v2.ingest.UpdateRegistration</type></referencingComponents><state>ENABLED</state><type>com.thinkbiganalytics.nifi.v2.core.metadata.MetadataProviderSelectorService</type></controllerServices><inputPorts><id>1aea4295-eba7-4e8e-a9cb-fd08d2a50350</id><parentGroupId>94f61842-ab6f-47b6-bba6-2ea502c6418a</parentGroupId><position><x>10.0</x><y>142.0</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>standard-ingest</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><processGroups><id>041dcfe4-6260-4ee1-9565-e76db7fb63a6</id><parentGroupId>94f61842-ab6f-47b6-bba6-2ea502c6418a</parentGroupId><position><x>420.0</x><y>468.0</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>9d7f49fc-0260-4ab3-bfb3-fc0058eb59a9</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>9f9e6f20-c04b-4b08-bb7e-68a37bc79f18</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>c32b5a62-12f1-4248-9fb1-58ee79052c3f</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>db95c440-f8fb-4f6e-8649-b6321e14dff8</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>498c16a2-9f69-44b6-9e84-7388518849e3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>9b95d84e-b740-4a4d-9d75-7873f050ad77</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>d4c9c3fd-9aa7-4381-ab46-9392795f0dcd</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>c2631de9-0085-4e2e-b977-d28c2793b3b4</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>444dd08b-736c-423b-ba22-70443af58a74</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>53a92f1c-ebe8-475a-85b1-16d262227429</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>abcf328a-ad5c-4a5c-8dab-a0222be12b77</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>71bfcec6-f192-4415-a922-a92bc86e3a51</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>1d157d0d-bd41-4b63-97cc-6d2c7bce6077</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>444dd08b-736c-423b-ba22-70443af58a74</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>498c16a2-9f69-44b6-9e84-7388518849e3</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>8bb91954-d621-4ea0-9b69-652d96c8b1e5</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>4ff93f7f-2500-4384-a14d-510b1084fbbd</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>abcf328a-ad5c-4a5c-8dab-a0222be12b77</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>73d06a75-ad2f-432c-9f22-dd2804bf1325</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>c32b5a62-12f1-4248-9fb1-58ee79052c3f</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>4ff93f7f-2500-4384-a14d-510b1084fbbd</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b38763d4-ec46-4bb7-94c0-f6d7d257b775</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>36c6b9ca-a3d0-4cd0-b218-10259c2c3e9c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</groupId><id>c2631de9-0085-4e2e-b977-d28c2793b3b4</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><inputPorts><id>71bfcec6-f192-4415-a922-a92bc86e3a51</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><position><x>27.578346443926307</x><y>-42.74942462782474</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>elasticsearch-register-input</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><inputPorts><id>9b95d84e-b740-4a4d-9d75-7873f050ad77</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><position><x>41.195438672571754</x><y>404.6720060046366</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>elasticsearch-fulltext-input</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><labels><id>319198a0-46e5-49fd-880d-c5bbd9e1c4b5</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><position><x>270.81927490234375</x><y>313.1640625</y></position><height>673.1553955078125</height><label>Index Elasticsearch</label><style><entry><key>font-size</key><value>18px</value></entry></style><width>575.7344970703125</width></labels><labels><id>f211a459-97de-4d22-95d7-eb7d6d25f3e7</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><position><x>270.7421614455693</x><y>-134.17892753865505</y></position><height>396.84320068359375</height><label>Register schema in ElasticSearch</label><style><entry><key>font-size</key><value>18px</value></entry><entry><key>background-color</key><value>#bc8fff</value></entry></style><width>869.5535888671875</width></labels><processors><id>36c6b9ca-a3d0-4cd0-b218-10259c2c3e9c</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><position><x>414.0225043472317</x><y>814.5763728495995</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>IndexName</key><value><description>The name of the index</description><displayName>IndexName</displayName><dynamic>false</dynamic><name>IndexName</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Type</key><value><description>Elasticsearch type</description><displayName>Type</displayName><dynamic>false</dynamic><name>Type</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HostName</key><value><description>Elasticsearch host</description><displayName>HostName</displayName><dynamic>false</dynamic><name>HostName</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>ClusterName</key><value><description>Elasticsearch cluster</description><displayName>ClusterName</displayName><dynamic>false</dynamic><name>ClusterName</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>IdField</key><value><description>Id that you want to use for indexing into elasticsearch. If it is empty then a uuid will be generated</description><displayName>IdField</displayName><dynamic>false</dynamic><name>IdField</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>IndexName</key><value>${category}</value></entry><entry><key>Type</key><value>${feed}</value></entry><entry><key>HostName</key><value>localhost</value></entry><entry><key>ClusterName</key><value>demo-cluster</value></entry><entry><key>IdField</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>IndexElasticSearch Full Text</name><relationships><autoTerminate>true</autoTerminate><description>Json objects that are un-successfully indexed in elasticsearch are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Json objects that are successfully indexed in elasticsearch are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.elasticsearch.IndexElasticSearch</type></processors><processors><id>444dd08b-736c-423b-ba22-70443af58a74</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><position><x>414.14337735974345</x><y>513.4959145126822</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Database Connection Pooling Service</key><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></entry><entry><key>SQL select query</key><value>select ${metadata.table.fieldIndexString} from ${category}.${feed}_valid where processing_dttm =
    ${feedts}</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExecuteHQL</name><relationships><autoTerminate>true</autoTerminate><description>SQL query execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully created FlowFile from SQL query result set.</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQL</type></processors><processors><id>c2631de9-0085-4e2e-b977-d28c2793b3b4</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><position><x>416.58819137188243</x><y>667.5687682773951</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>JSON container options</key><value><allowableValues><displayName>none</displayName><value>none</value></allowableValues><allowableValues><displayName>array</displayName><value>array</value></allowableValues><defaultValue>array</defaultValue><description>Determines how stream of records is exposed: either as a sequence of single Objects (none) (i.e. writing every Object to a new line), or as an array of Objects (array).</description><displayName>JSON container options</displayName><dynamic>false</dynamic><name>JSON container options</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Wrap Single Record</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Determines if the resulting output for empty records or a single record should be wrapped in a container array as specified by 'JSON container options'</description><displayName>Wrap Single Record</displayName><dynamic>false</dynamic><name>Wrap Single Record</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>JSON container options</key><value>array</value></entry><entry><key>Wrap Single Record</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ConvertAvroToJSON</name><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be parsed as Avro or cannot be converted to JSON for any reason</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship after it has been converted to JSON</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type></processors><processors><id>c32b5a62-12f1-4248-9fb1-58ee79052c3f</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><position><x>339.83258246017203</x><y>106.6443105885478</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Database Name Field</key><value><description>The name of the hive database field</description><displayName>Database Name Field</displayName><dynamic>false</dynamic><name>Database Name Field</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Database Owner Field</key><value><description>Database owner field name</description><displayName>Database Owner Field</displayName><dynamic>false</dynamic><name>Database Owner Field</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Create Time Field</key><value><description>Field representing the table create time</description><displayName>Table Create Time Field</displayName><dynamic>false</dynamic><name>Table Create Time Field</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Name Field</key><value><description>Field holding the table name</description><displayName>Table Name Field</displayName><dynamic>false</dynamic><name>Table Name Field</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Type Field</key><value><description>Field representing what type of hive table it is</description><displayName>Table Type Field</displayName><dynamic>false</dynamic><name>Table Type Field</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Name Field</key><value><description>Field representing the column name</description><displayName>Column Name Field</displayName><dynamic>false</dynamic><name>Column Name Field</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Type Field</key><value><description>Field representing what the column type is</description><displayName>Column Type Field</displayName><dynamic>false</dynamic><name>Column Type Field</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Database Name Field</key><value>NAME</value></entry><entry><key>Database Owner Field</key><value>OWNER_NAME</value></entry><entry><key>Table Create Time Field</key><value>CREATE_TIME</value></entry><entry><key>Table Name Field</key><value>TBL_NAME</value></entry><entry><key>Table Type Field</key><value>TBL_TYPE</value></entry><entry><key>Column Name Field</key><value>COLUMN_NAME</value></entry><entry><key>Column Type Field</key><value>TYPE_NAME</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Merge Metadata Columns</name><relationships><autoTerminate>true</autoTerminate><description>Json objects that are un-successfully merged are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Json objects that are successfully merged are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.elasticsearch.MergeHiveTableMetadata</type></processors><processors><id>498c16a2-9f69-44b6-9e84-7388518849e3</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><position><x>415.22610292695094</x><y>369.71244257771014</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>indexColumns</key><value><description></description><displayName>indexColumns</displayName><dynamic>true</dynamic><name>indexColumns</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key><value>Route to 'match' if all match</value></entry><entry><key>indexColumns</key><value>${metadata.table.fieldIndexString:isEmpty():not()}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>RouteOnAttribute</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles will be routed to 'match' if one or all Expressions match, depending on the configuration of the Routing Strategy property</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors><processors><id>9f9e6f20-c04b-4b08-bb7e-68a37bc79f18</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><position><x>754.5156150018033</x><y>107.90421914428634</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>IndexName</key><value><description>The name of the index</description><displayName>IndexName</displayName><dynamic>false</dynamic><name>IndexName</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Type</key><value><description>Elasticsearch type</description><displayName>Type</displayName><dynamic>false</dynamic><name>Type</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HostName</key><value><description>Elasticsearch host</description><displayName>HostName</displayName><dynamic>false</dynamic><name>HostName</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>ClusterName</key><value><description>Elasticsearch cluster</description><displayName>ClusterName</displayName><dynamic>false</dynamic><name>ClusterName</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>IdField</key><value><description>Id that you want to use for indexing into elasticsearch. If it is empty then a uuid will be generated</description><displayName>IdField</displayName><dynamic>false</dynamic><name>IdField</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>IndexName</key><value>metadata</value></entry><entry><key>Type</key><value>hive-tables</value></entry><entry><key>HostName</key><value>localhost</value></entry><entry><key>ClusterName</key><value>demo-cluster</value></entry><entry><key>IdField</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Index Metadata Elasticsearch</name><relationships><autoTerminate>true</autoTerminate><description>Json objects that are un-successfully indexed in elasticsearch are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Json objects that are successfully indexed in elasticsearch are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.elasticsearch.IndexElasticSearch</type></processors><processors><id>abcf328a-ad5c-4a5c-8dab-a0222be12b77</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><position><x>329.1402587890625</x><y>-74.8199462890625</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>MySQL</displayName><value>c412e1b6-1a98-4dc3-8113-2400fdca09e5</value></allowableValues><allowableValues><displayName>Example MySQL Connection Pool</displayName><value>549c80d9-c5ba-4f84-92c0-3d507d8d0b2b</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SQL select query</key><value><description>SQL select query</description><displayName>SQL select query</displayName><dynamic>false</dynamic><name>SQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Database Connection Pooling Service</key><value>c412e1b6-1a98-4dc3-8113-2400fdca09e5</value></entry><entry><key>SQL select query</key><value>SELECT d.NAME DATABASE_NAME, d.OWNER_NAME OWNER, t.CREATE_TIME, t.TBL_NAME, t.TBL_TYPE,
    c.COLUMN_NAME, c.TYPE_NAME
    FROM ${config.hive.schema}.COLUMNS_V2 c
    JOIN  ${config.hive.schema}.TBLS t ON c.CD_ID=t.TBL_ID
    JOIN  ${config.hive.schema}.DBS d on d.DB_ID = t.DB_ID
    where d.name = '${category}'and t.tbl_name like '${feed}%';</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Query Hive Table Metadata</name><relationships><autoTerminate>true</autoTerminate><description>SQL query execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully created FlowFile from SQL query result set.</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ExecuteSQL</type></processors><processors><id>4ff93f7f-2500-4384-a14d-510b1084fbbd</id><parentGroupId>041dcfe4-6260-4ee1-9565-e76db7fb63a6</parentGroupId><position><x>757.0909138267871</x><y>-81.79882633618513</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>JSON container options</key><value><allowableValues><displayName>none</displayName><value>none</value></allowableValues><allowableValues><displayName>array</displayName><value>array</value></allowableValues><defaultValue>array</defaultValue><description>Determines how stream of records is exposed: either as a sequence of single Objects (none) (i.e. writing every Object to a new line), or as an array of Objects (array).</description><displayName>JSON container options</displayName><dynamic>false</dynamic><name>JSON container options</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Wrap Single Record</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Determines if the resulting output for empty records or a single record should be wrapped in a container array as specified by 'JSON container options'</description><displayName>Wrap Single Record</displayName><dynamic>false</dynamic><name>Wrap Single Record</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>JSON container options</key><value>array</value></entry><entry><key>Wrap Single Record</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Convert Metadata SQL to JSON</name><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be parsed as Avro or cannot be converted to JSON for any reason</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship after it has been converted to JSON</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>2</inputPortCount><invalidCount>0</invalidCount><name>index-elasticsearch</name><outputPortCount>0</outputPortCount><parent><id>94f61842-ab6f-47b6-bba6-2ea502c6418a</id><name>standard-ingest</name><parent><id>659b97ac-c971-4559-8c3e-41493acddabc</id><name>reusable_templates</name><parent><id>5449d6de-6f6a-45eb-ae9c-e7f3af02c34c</id><name>NiFi Flow</name></parent></parent></parent><runningCount>9</runningCount><stoppedCount>1</stoppedCount></processGroups><processGroups><id>c7492edb-1f2e-400f-88af-3609fe6acfaa</id><parentGroupId>94f61842-ab6f-47b6-bba6-2ea502c6418a</parentGroupId><position><x>419.0</x><y>10.0</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>2ec88573-aba9-4018-a7ee-3b0bbaad25d8</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>b56cf127-5ebc-4037-be20-ba8955c6fbe3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>b44977b1-16c9-4997-8549-adfcf5ab331c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>4677f387-2463-41c3-8e15-abd39ceb6a5c</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>4c0aa79f-786f-46f0-a697-2684d2be7c93</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>da94f03a-61a0-4d76-80ef-7c96bcfd3d08</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>e71f7432-1933-4387-b5df-079dbc67444a</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>b56cf127-5ebc-4037-be20-ba8955c6fbe3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>1c662b56-4c05-477a-83d7-e778249c4527</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>fbde7798-58f3-4909-8118-6841a69aa04a</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>56db6f43-b428-4f4e-b54c-6a46a060be1d</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>abf92a8c-d598-46da-ae9f-886013baf5da</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>980ccb39-de7d-40f7-b76f-f702b5831ea7</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>1c662b56-4c05-477a-83d7-e778249c4527</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>bd26db73-fadb-47e5-a7e4-e65877dbaf85</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>85376eee-3584-4083-8052-1191609830d2</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>7984fee6-d7fc-49d1-8955-0b8a63ad567a</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>1c662b56-4c05-477a-83d7-e778249c4527</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>f790b3ba-05aa-4719-974a-84e0b536ac3d</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>b2ad7578-a472-4fc4-8d0d-de5da7ee140b</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>1c662b56-4c05-477a-83d7-e778249c4527</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>c3bb7321-1c4d-4715-a7b6-b6c356ede8f6</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>6f315188-ac29-4d14-93c9-670d911c4b0a</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>registration_required</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>d0533317-8e3d-4ea5-ba57-bd3950091c1c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>d61ee4e7-83b9-4e64-bc8d-3536c6e603af</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>bd26db73-fadb-47e5-a7e4-e65877dbaf85</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>b44977b1-16c9-4997-8549-adfcf5ab331c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a0570379-8029-488f-bd76-c5f56d2e3483</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>abf92a8c-d598-46da-ae9f-886013baf5da</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>da94f03a-61a0-4d76-80ef-7c96bcfd3d08</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>c2ca0ca0-9d79-44ef-a67d-e780ec376fd1</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>8a7d45f8-ef84-411f-89cc-3b6a30ab122d</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>abf92a8c-d598-46da-ae9f-886013baf5da</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>3778ea6b-26c3-4688-9893-0b7de66d5251</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>b56cf127-5ebc-4037-be20-ba8955c6fbe3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>7984fee6-d7fc-49d1-8955-0b8a63ad567a</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>2f08ca08-4922-49e3-ba55-2bb395d4308f</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>4c0aa79f-786f-46f0-a697-2684d2be7c93</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>6f315188-ac29-4d14-93c9-670d911c4b0a</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>1b4ef9ce-fe53-400b-9b51-434eb4ad5c37</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>b56cf127-5ebc-4037-be20-ba8955c6fbe3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>51d7098b-51ba-4392-bafa-6ee5405fa830</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>d85b3acb-f462-4e64-99d3-7b438a7ae0ec</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>b56cf127-5ebc-4037-be20-ba8955c6fbe3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>8a7d45f8-ef84-411f-89cc-3b6a30ab122d</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a6e89ab6-dcff-4900-b122-290d25cadd59</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>b56cf127-5ebc-4037-be20-ba8955c6fbe3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>9e3277c8-376e-4363-8d5b-4d6e86523605</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b8ad11b1-ab2f-4aaf-a273-0df7a90b72bc</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>8a7d45f8-ef84-411f-89cc-3b6a30ab122d</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>d0533317-8e3d-4ea5-ba57-bd3950091c1c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>612eac30-dc6b-4294-99c8-9daab0a1f1e4</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>b56cf127-5ebc-4037-be20-ba8955c6fbe3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>bd26db73-fadb-47e5-a7e4-e65877dbaf85</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>6ab5c232-d195-4459-a383-c62325d22707</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>b44977b1-16c9-4997-8549-adfcf5ab331c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>9e3277c8-376e-4363-8d5b-4d6e86523605</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>90ff7dd6-0a45-40fb-99b9-507409b23529</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>670f9022-5fa6-415d-93e8-ced2d30b61ca</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>1c662b56-4c05-477a-83d7-e778249c4527</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b9f6ef18-33d7-4231-98f3-72c1233b3e00</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>d0533317-8e3d-4ea5-ba57-bd3950091c1c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>d8cf4e1a-79c1-4c9a-a0c6-425afcdaedc4</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>4e53c4ad-8b3a-4fc8-9c34-37b6634f9069</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>51d7098b-51ba-4392-bafa-6ee5405fa830</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>original</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>8a7d45f8-ef84-411f-89cc-3b6a30ab122d</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>8b736e16-6c78-48e3-b3e3-bae78858cf06</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>9e3277c8-376e-4363-8d5b-4d6e86523605</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>merged</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>8a7d45f8-ef84-411f-89cc-3b6a30ab122d</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>ab27a09f-38c4-43da-8345-32f745d4084f</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>da94f03a-61a0-4d76-80ef-7c96bcfd3d08</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</groupId><id>6f315188-ac29-4d14-93c9-670d911c4b0a</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><inputPorts><id>d8cf4e1a-79c1-4c9a-a0c6-425afcdaedc4</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>675.9736182975689</x><y>248.87579978952573</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>standard-ingest-input-port</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><labels><id>dce9587b-c860-44b5-a5d2-6ee44983a82e</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>1567.214355417969</x><y>162.70579359555745</y></position><height>515.265380859375</height><label>One-time registration</label><style><entry><key>font-size</key><value>18px</value></entry><entry><key>background-color</key><value>#dbdbdb</value></entry></style><width>1283.34326171875</width></labels><outputPorts><id>56db6f43-b428-4f4e-b54c-6a46a060be1d</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>2144.3470808309935</x><y>556.6844525159124</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>to-elasticsearch-registration</name><state>RUNNING</state><type>OUTPUT_PORT</type></outputPorts><outputPorts><id>b2ad7578-a472-4fc4-8d0d-de5da7ee140b</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>2147.3944353736297</x><y>1626.7321889372543</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>to-elasticsearch-text-index</name><state>RUNNING</state><type>OUTPUT_PORT</type></outputPorts><processors><id>da94f03a-61a0-4d76-80ef-7c96bcfd3d08</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>1586.8748009239077</x><y>367.2587270382396</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Type</key><value><allowableValues><displayName>FEED</displayName><value>FEED</value></allowableValues><allowableValues><displayName>VALID</displayName><value>VALID</value></allowableValues><allowableValues><displayName>INVALID</displayName><value>INVALID</value></allowableValues><allowableValues><displayName>PROFILE</displayName><value>PROFILE</value></allowableValues><allowableValues><displayName>MASTER</displayName><value>MASTER</value></allowableValues><allowableValues><displayName>ALL</displayName><value>ALL</value></allowableValues><defaultValue>ALL</defaultValue><description>Specifies the standard table type to create or ALL for standard set.</description><displayName>Table Type</displayName><dynamic>false</dynamic><name>Table Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Field specification</key><value><defaultValue>${metadata.table.fieldStructure}</defaultValue><description>Pipe-delim format with the specifications for the fields (column name|data type|comment</description><displayName>Field specification</displayName><dynamic>false</dynamic><name>Field specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><defaultValue>${metadata.table.partitionStructure}</defaultValue><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed Table Storage Format</key><value><defaultValue>${metadata.table.feedFormat}</defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Feed Table Storage Format</displayName><dynamic>false</dynamic><name>Feed Table Storage Format</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target Table Format</key><value><defaultValue>${metadata.table.targetFormat}</defaultValue><description>Provide storage format specification for the target tables</description><displayName>Target Table Format</displayName><dynamic>false</dynamic><name>Target Table Format</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target Table Properties</key><value><defaultValue>${metadata.table.targetTblProperties}</defaultValue><description>TblProperties clause generally specificying the compression option</description><displayName>Target Table Properties</displayName><dynamic>false</dynamic><name>Target Table Properties</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Database Connection Pooling Service</key><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Table Type</key><value>ALL</value></entry><entry><key>Field specification</key><value>${metadata.table.fieldStructure}</value></entry><entry><key>Partition specification</key><value>${metadata.table.partitionStructure}</value></entry><entry><key>Feed Table Storage Format</key><value>${metadata.table.feedFormat}</value></entry><entry><key>Target Table Format</key><value>${metadata.table.targetFormat}</value></entry><entry><key>Target Table Properties</key><value>${metadata.table.targetTblProperties}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Register Tables</name><relationships><autoTerminate>false</autoTerminate><description>SQL query execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully created FlowFile from .</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#da05ff</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.ingest.RegisterFeedTables</type></processors><processors><id>1c662b56-4c05-477a-83d7-e778249c4527</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>1593.8314900590103</x><y>1246.8851634810044</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>ApplicationJAR</key><value><description>Path to the JAR file containing the Spark job application</description><displayName>ApplicationJAR</displayName><dynamic>false</dynamic><name>ApplicationJAR</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>MainClass</key><value><description>Qualified classname of the Spark job application class</description><displayName>MainClass</displayName><dynamic>false</dynamic><name>MainClass</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>MainArgs</key><value><description>Comma separated arguments to be passed into the main as args</description><displayName>MainArgs</displayName><dynamic>false</dynamic><name>MainArgs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SparkMaster</key><value><defaultValue>local</defaultValue><description>The Spark master</description><displayName>SparkMaster</displayName><dynamic>false</dynamic><name>SparkMaster</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SparkHome</key><value><defaultValue>/usr/hdp/current/spark-client/</defaultValue><description>Qualified classname of the Spark job application class</description><displayName>SparkHome</displayName><dynamic>false</dynamic><name>SparkHome</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Driver Memory</key><value><defaultValue>512m</defaultValue><description>How much RAM to allocate to the driver</description><displayName>Driver Memory</displayName><dynamic>false</dynamic><name>Driver Memory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Executor Memory</key><value><defaultValue>512m</defaultValue><description>How much RAM to allocate to the executor</description><displayName>Executor Memory</displayName><dynamic>false</dynamic><name>Executor Memory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Number of Executors</key><value><defaultValue>1</defaultValue><description>The number of exectors to be used</description><displayName>Number of Executors</displayName><dynamic>false</dynamic><name>Number of Executors</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Spark Application Name</key><value><description>The name of the spark application</description><displayName>Spark Application Name</displayName><dynamic>false</dynamic><name>Spark Application Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Executor Cores</key><value><defaultValue>1</defaultValue><description>The number of executor cores to be used</description><displayName>Executor Cores</displayName><dynamic>false</dynamic><name>Executor Cores</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Network Timeout</key><value><defaultValue>120s</defaultValue><description>Default timeout for all network interactions. This config will be used in place of spark.core.connection.ack.wait.timeout, spark.akka.timeout, spark.storage.blockManagerSlaveTimeoutMs, spark.shuffle.io.connectionTimeout, spark.rpc.askTimeout or spark.rpc.lookupTimeout if they are not configured.</description><displayName>Network Timeout</displayName><dynamic>false</dynamic><name>Network Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>ApplicationJAR</key><value>
    /opt/nifi/current/lib/app/thinkbig-spark-validate-cleanse-0.1.0-SNAPSHOT-jar-with-dependencies.jar
</value></entry><entry><key>MainClass</key><value>com.thinkbiganalytics.spark.datavalidator.Validator</value></entry><entry><key>MainArgs</key><value>${category},${feed},${feedts},${table_field_policy_json_file}</value></entry><entry><key>SparkMaster</key><value>yarn-client</value></entry><entry><key>SparkHome</key><value>/usr/lib/spark</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Driver Memory</key><value>512m</value></entry><entry><key>Executor Memory</key><value>512m</value></entry><entry><key>Number of Executors</key><value>1</value></entry><entry><key>Spark Application Name</key><value>Validator</value></entry><entry><key>Executor Cores</key><value>2</value></entry><entry><key>Network Timeout</key><value>120s</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Validate And Split Records</name><relationships><autoTerminate>false</autoTerminate><description>Spark execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successful result.</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#2cfa08</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.spark.ExecuteSparkJob</type></processors><processors><id>7984fee6-d7fc-49d1-8955-0b8a63ad567a</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>1499.5575332934925</x><y>1670.0424899261916</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Merge Strategy</key><value><allowableValues><displayName>MERGE</displayName><value>MERGE</value></allowableValues><allowableValues><displayName>DEDUPE_AND_MERGE</displayName><value>DEDUPE_AND_MERGE</value></allowableValues><allowableValues><displayName>SYNC</displayName><value>SYNC</value></allowableValues><allowableValues><displayName>${metadata.table.targetMergeStrategy}</displayName><value>${metadata.table.targetMergeStrategy}</value></allowableValues><defaultValue>${metadata.table.targetMergeStrategy}</defaultValue><description>Specifies the algorithm used to merge. Valid values are SYNC,MERGE,DEDUPE_AND_MERGE.  Sync will completely overwrite the target table with the source data. Merge will append the data into the target partitions. Dedupe will insert into the target partition but ensure no duplicate rows are remaining. </description><displayName>Merge Strategy</displayName><dynamic>false</dynamic><name>Merge Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Source table</key><value><defaultValue>${metadata.category.systemName}.${metadata.systemFeedName}_valid</defaultValue><description>Fully qualified name of the source table</description><displayName>Source table</displayName><dynamic>false</dynamic><name>Source table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target table</key><value><defaultValue>${category}.${feed}</defaultValue><description>Fully qualified name of the target table</description><displayName>Target table</displayName><dynamic>false</dynamic><name>Target table</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed partition value</key><value><defaultValue>${feedts}</defaultValue><description>Feed timestamp that identifies the current feed partition</description><displayName>Feed partition value</displayName><dynamic>false</dynamic><name>Feed partition value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Specification</key><value><defaultValue>${metadata.table.partitionSpecs}</defaultValue><description>Partition specification in format: field|type|formula
    field|type|formula</description><displayName>Partition Specification</displayName><dynamic>false</dynamic><name>Partition Specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Database Connection Pooling Service</key><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></entry><entry><key>Merge Strategy</key><value>${metadata.table.targetMergeStrategy}</value></entry><entry><key>Source table</key><value>${category}.${feed}_valid</value></entry><entry><key>Target table</key><value>${category}.${feed}</value></entry><entry><key>Feed partition value</key><value>${feedts}</value></entry><entry><key>Partition Specification</key><value>${metadata.table.partitionSpecs}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>MergeTable</name><relationships><autoTerminate>false</autoTerminate><description>SQL query execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Successfully created FlowFile from .</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#2cfa08</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.ingest.MergeTable</type></processors><processors><id>670f9022-5fa6-415d-93e8-ced2d30b61ca</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>2135.0784683312622</x><y>1243.4881391453346</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>ApplicationJAR</key><value><description>Path to the JAR file containing the Spark job application</description><displayName>ApplicationJAR</displayName><dynamic>false</dynamic><name>ApplicationJAR</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>MainClass</key><value><description>Qualified classname of the Spark job application class</description><displayName>MainClass</displayName><dynamic>false</dynamic><name>MainClass</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>MainArgs</key><value><description>Comma separated arguments to be passed into the main as args</description><displayName>MainArgs</displayName><dynamic>false</dynamic><name>MainArgs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SparkMaster</key><value><defaultValue>local</defaultValue><description>The Spark master</description><displayName>SparkMaster</displayName><dynamic>false</dynamic><name>SparkMaster</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SparkHome</key><value><defaultValue>/usr/hdp/current/spark-client/</defaultValue><description>Qualified classname of the Spark job application class</description><displayName>SparkHome</displayName><dynamic>false</dynamic><name>SparkHome</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Driver Memory</key><value><defaultValue>512m</defaultValue><description>How much RAM to allocate to the driver</description><displayName>Driver Memory</displayName><dynamic>false</dynamic><name>Driver Memory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Executor Memory</key><value><defaultValue>512m</defaultValue><description>How much RAM to allocate to the executor</description><displayName>Executor Memory</displayName><dynamic>false</dynamic><name>Executor Memory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Number of Executors</key><value><defaultValue>1</defaultValue><description>The number of exectors to be used</description><displayName>Number of Executors</displayName><dynamic>false</dynamic><name>Number of Executors</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Spark Application Name</key><value><description>The name of the spark application</description><displayName>Spark Application Name</displayName><dynamic>false</dynamic><name>Spark Application Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Executor Cores</key><value><defaultValue>1</defaultValue><description>The number of executor cores to be used</description><displayName>Executor Cores</displayName><dynamic>false</dynamic><name>Executor Cores</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Network Timeout</key><value><defaultValue>120s</defaultValue><description>Default timeout for all network interactions. This config will be used in place of spark.core.connection.ack.wait.timeout, spark.akka.timeout, spark.storage.blockManagerSlaveTimeoutMs, spark.shuffle.io.connectionTimeout, spark.rpc.askTimeout or spark.rpc.lookupTimeout if they are not configured.</description><displayName>Network Timeout</displayName><dynamic>false</dynamic><name>Network Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>ApplicationJAR</key><value>
    /opt/nifi/current/lib/app/thinkbig-spark-job-profiler-0.1.0-SNAPSHOT-jar-with-dependencies.jar
</value></entry><entry><key>MainClass</key><value>com.thinkbiganalytics.spark.dataprofiler.core.Profiler</value></entry><entry><key>MainArgs</key><value>table,${category}.${feed}_valid,10,${category}.${feed}_profile,${feedts}</value></entry><entry><key>SparkMaster</key><value>yarn-client</value></entry><entry><key>SparkHome</key><value>/usr/lib/spark</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Driver Memory</key><value>512m</value></entry><entry><key>Executor Memory</key><value>512m</value></entry><entry><key>Number of Executors</key><value>1</value></entry><entry><key>Spark Application Name</key><value>Profiler</value></entry><entry><key>Executor Cores</key><value>2</value></entry><entry><key>Network Timeout</key><value>120s</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ProfileData</name><relationships><autoTerminate>true</autoTerminate><description>Spark execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Successful result.</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#0a70f5</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.spark.ExecuteSparkJob</type></processors><processors><id>abf92a8c-d598-46da-ae9f-886013baf5da</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>1587.8399789816156</x><y>530.5414659898779</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>fd67ddf1-22cf-433a-bdad-176872459eb7</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Result</key><value><allowableValues><displayName>success</displayName><value>success</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>success</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Result</displayName><dynamic>false</dynamic><name>Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Metadata Service</key><value>fd67ddf1-22cf-433a-bdad-176872459eb7</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Result</key><value>success</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Record Registration</name><relationships><autoTerminate>false</autoTerminate><description>Successfully created FlowFile from .</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#da05ff</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.ingest.UpdateRegistration</type></processors><processors><id>b56cf127-5ebc-4037-be20-ba8955c6fbe3</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>1045.0428112103114</x><y>1248.0244745783584</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>/tmp/${category}/${feed}/${feedts}/failed</value></entry><entry><key>Conflict Resolution Strategy</key><value>ignore</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Failed Flow</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#fa0303</value></entry></style><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors><processors><id>9e3277c8-376e-4363-8d5b-4d6e86523605</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>1594.117265107682</x><y>702.3368530273439</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hadoop Configuration Resources</key><value><description>A file or comma separated list of files which contains the Hadoop file system configuration. Without this, Hadoop will search the classpath for a 'core-site.xml' and 'hdfs-site.xml' file or will revert to a default configuration.</description><displayName>Hadoop Configuration Resources</displayName><dynamic>false</dynamic><name>Hadoop Configuration Resources</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Principal</key><value><description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Principal</displayName><dynamic>false</dynamic><name>Kerberos Principal</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Keytab</key><value><description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Keytab</displayName><dynamic>false</dynamic><name>Kerberos Keytab</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Relogin Period</key><value><defaultValue>4 hours</defaultValue><description>Period of time which should pass before attempting a kerberos relogin</description><displayName>Kerberos Relogin Period</displayName><dynamic>false</dynamic><name>Kerberos Relogin Period</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Directory</key><value><description>The parent HDFS directory to which files should be written</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Block Size</key><value><description>Size of each block as written to HDFS. This overrides the Hadoop Configuration</description><displayName>Block Size</displayName><dynamic>false</dynamic><name>Block Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>IO Buffer Size</key><value><description>Amount of memory to use to buffer file contents during IO. This overrides the Hadoop Configuration</description><displayName>IO Buffer Size</displayName><dynamic>false</dynamic><name>IO Buffer Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Replication</key><value><description>Number of times that HDFS will replicate each file. This overrides the Hadoop Configuration</description><displayName>Replication</displayName><dynamic>false</dynamic><name>Replication</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Permissions umask</key><value><description>A umask represented as an octal number which determines the permissions of files written to HDFS. This overrides the Hadoop Configuration dfs.umaskmode</description><displayName>Permissions umask</displayName><dynamic>false</dynamic><name>Permissions umask</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Owner</key><value><description>Changes the owner of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change owner</description><displayName>Remote Owner</displayName><dynamic>false</dynamic><name>Remote Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Group</key><value><description>Changes the group of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change group</description><displayName>Remote Group</displayName><dynamic>false</dynamic><name>Remote Group</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression codec</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>DEFAULT</displayName><value>DEFAULT</value></allowableValues><allowableValues><displayName>BZIP</displayName><value>BZIP</value></allowableValues><allowableValues><displayName>GZIP</displayName><value>GZIP</value></allowableValues><allowableValues><displayName>LZ4</displayName><value>LZ4</value></allowableValues><allowableValues><displayName>SNAPPY</displayName><value>SNAPPY</value></allowableValues><allowableValues><displayName>AUTOMATIC</displayName><value>AUTOMATIC</value></allowableValues><defaultValue>NONE</defaultValue><description></description><displayName>Compression codec</displayName><dynamic>false</dynamic><name>Compression codec</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hadoop Configuration Resources</key><value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value></entry><entry><key>Kerberos Principal</key></entry><entry><key>Kerberos Keytab</key></entry><entry><key>Kerberos Relogin Period</key><value>4 hours</value></entry><entry><key>Directory</key><value>/etl/${category}/${feed}/${feedts}</value></entry><entry><key>Conflict Resolution Strategy</key><value>replace</value></entry><entry><key>Block Size</key></entry><entry><key>IO Buffer Size</key></entry><entry><key>Replication</key></entry><entry><key>Permissions umask</key></entry><entry><key>Remote Owner</key><value>nifi</value></entry><entry><key>Remote Group</key><value>hdfs</value></entry><entry><key>Compression codec</key><value>NONE</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutHDFS</name><relationships><autoTerminate>false</autoTerminate><description>Files that could not be written to HDFS for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Files that have been successfully written to HDFS are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#2cfa08</value></entry></style><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.hadoop.PutHDFS</type></processors><processors><id>8a7d45f8-ef84-411f-89cc-3b6a30ab122d</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>1061.1708100219007</x><y>693.3993471534774</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Merge Strategy</key><value><allowableValues><description>Generates 'bins' of FlowFiles and fills each bin as full as possible. FlowFiles are placed into a bin based on their size and optionally their attributes (if the &lt;Correlation Attribute&gt; property is set)</description><displayName>Bin-Packing Algorithm</displayName><value>Bin-Packing Algorithm</value></allowableValues><allowableValues><description>Combines fragments that are associated by attributes back into a single cohesive FlowFile. If using this strategy, all FlowFiles must have the attributes &lt;fragment.identifier&gt;, &lt;fragment.count&gt;, and &lt;fragment.index&gt; or alternatively (for backward compatibility purposes) &lt;segment.identifier&gt;, &lt;segment.count&gt;, and &lt;segment.index&gt;. All FlowFiles with the same value for &quot;fragment.identifier&quot; will be grouped together. All FlowFiles in this group must have the same value for the &quot;fragment.count&quot; attribute. All FlowFiles in this group must have a unique value for the &quot;fragment.index&quot; attribute between 0 and the value of the &quot;fragment.count&quot; attribute.</description><displayName>Defragment</displayName><value>Defragment</value></allowableValues><defaultValue>Bin-Packing Algorithm</defaultValue><description>Specifies the algorithm used to merge content. The 'Defragment' algorithm combines fragments that are associated by attributes back into a single cohesive FlowFile. The 'Bin-Packing Algorithm' generates a FlowFile populated by arbitrarily chosen FlowFiles</description><displayName>Merge Strategy</displayName><dynamic>false</dynamic><name>Merge Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Merge Format</key><value><allowableValues><description>A bin of FlowFiles will be combined into a single TAR file. The FlowFiles' &lt;path&gt; attribute will be used to create a directory in the TAR file if the &lt;Keep Paths&gt; property is set to true; otherwise, all FlowFiles will be added at the root of the TAR file. If a FlowFile has an attribute named &lt;tar.permissions&gt; that is 3 characters, each between 0-7, that attribute will be used as the TAR entry's 'mode'.</description><displayName>TAR</displayName><value>TAR</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single ZIP file. The FlowFiles' &lt;path&gt; attribute will be used to create a directory in the ZIP file if the &lt;Keep Paths&gt; property is set to true; otherwise, all FlowFiles will be added at the root of the ZIP file. The &lt;Compression Level&gt; property indicates the ZIP compression to use.</description><displayName>ZIP</displayName><value>ZIP</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 3 FlowFile Stream</description><displayName>FlowFile Stream, v3</displayName><value>FlowFile Stream, v3</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 2 FlowFile Stream</description><displayName>FlowFile Stream, v2</displayName><value>FlowFile Stream, v2</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 1 FlowFile Package</description><displayName>FlowFile Tar, v1</displayName><value>FlowFile Tar, v1</value></allowableValues><allowableValues><description>The contents of all FlowFiles will be concatenated together into a single FlowFile</description><displayName>Binary Concatenation</displayName><value>Binary Concatenation</value></allowableValues><allowableValues><description>The Avro contents of all FlowFiles will be concatenated together into a single FlowFile</description><displayName>Avro</displayName><value>Avro</value></allowableValues><defaultValue>Binary Concatenation</defaultValue><description>Determines the format that will be used to merge the content.</description><displayName>Merge Format</displayName><dynamic>false</dynamic><name>Merge Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attribute Strategy</key><value><allowableValues><displayName>Keep Only Common Attributes</displayName><value>Keep Only Common Attributes</value></allowableValues><allowableValues><displayName>Keep All Unique Attributes</displayName><value>Keep All Unique Attributes</value></allowableValues><defaultValue>Keep Only Common Attributes</defaultValue><description>Determines which FlowFile attributes should be added to the bundle. If 'Keep All Unique Attributes' is selected, any attribute on any FlowFile that gets bundled will be kept unless its value conflicts with the value from another FlowFile. If 'Keep Only Common Attributes' is selected, only the attributes that exist on all FlowFiles in the bundle, with the same value, will be preserved.</description><displayName>Attribute Strategy</displayName><dynamic>false</dynamic><name>Attribute Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Correlation Attribute Name</key><value><description>If specified, like FlowFiles will be binned together, where 'like FlowFiles' means FlowFiles that have the same value for this Attribute. If not specified, FlowFiles are bundled by the order in which they are pulled from the queue.</description><displayName>Correlation Attribute Name</displayName><dynamic>false</dynamic><name>Correlation Attribute Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Minimum Number of Entries</key><value><defaultValue>1</defaultValue><description>The minimum number of files to include in a bundle</description><displayName>Minimum Number of Entries</displayName><dynamic>false</dynamic><name>Minimum Number of Entries</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Number of Entries</key><value><description>The maximum number of files to include in a bundle. If not specified, there is no maximum.</description><displayName>Maximum Number of Entries</displayName><dynamic>false</dynamic><name>Maximum Number of Entries</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum Group Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size of for the bundle</description><displayName>Minimum Group Size</displayName><dynamic>false</dynamic><name>Minimum Group Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Group Size</key><value><description>The maximum size for the bundle. If not specified, there is no maximum.</description><displayName>Maximum Group Size</displayName><dynamic>false</dynamic><name>Maximum Group Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Bin Age</key><value><description>The maximum age of a Bin that will trigger a Bin to be complete. Expected format is &lt;duration&gt; &lt;time unit&gt; where &lt;duration&gt; is a positive integer and time unit is one of seconds, minutes, hours</description><displayName>Max Bin Age</displayName><dynamic>false</dynamic><name>Max Bin Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum number of Bins</key><value><defaultValue>100</defaultValue><description>Specifies the maximum number of bins that can be held in memory at any one time</description><displayName>Maximum number of Bins</displayName><dynamic>false</dynamic><name>Maximum number of Bins</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Delimiter Strategy</key><value><allowableValues><description>The values of Header, Footer, and Demarcator will be retrieved from the contents of a file</description><displayName>Filename</displayName><value>Filename</value></allowableValues><allowableValues><description>The values of Header, Footer, and Demarcator will be specified as property values</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Filename</defaultValue><description>Determines if Header, Footer, and Demarcator should point to files containing the respective content, or if the values of the properties should be used as the content.</description><displayName>Delimiter Strategy</displayName><dynamic>false</dynamic><name>Delimiter Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Header File</key><value><description>Filename specifying the header to use. If not specified, no header is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Header</displayName><dynamic>false</dynamic><name>Header File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Footer File</key><value><description>Filename specifying the footer to use. If not specified, no footer is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Footer</displayName><dynamic>false</dynamic><name>Footer File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Demarcator File</key><value><description>Filename specifying the demarcator to use. If not specified, no demarcator is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Demarcator</displayName><dynamic>false</dynamic><name>Demarcator File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Compression Level</key><value><allowableValues><displayName>0</displayName><value>0</value></allowableValues><allowableValues><displayName>1</displayName><value>1</value></allowableValues><allowableValues><displayName>2</displayName><value>2</value></allowableValues><allowableValues><displayName>3</displayName><value>3</value></allowableValues><allowableValues><displayName>4</displayName><value>4</value></allowableValues><allowableValues><displayName>5</displayName><value>5</value></allowableValues><allowableValues><displayName>6</displayName><value>6</value></allowableValues><allowableValues><displayName>7</displayName><value>7</value></allowableValues><allowableValues><displayName>8</displayName><value>8</value></allowableValues><allowableValues><displayName>9</displayName><value>9</value></allowableValues><defaultValue>1</defaultValue><description>Specifies the compression level to use when using the Zip Merge Format; if not using the Zip Merge Format, this value is ignored</description><displayName>Compression Level</displayName><dynamic>false</dynamic><name>Compression Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Keep Path</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If using the Zip or Tar Merge Format, specifies whether or not the FlowFiles' paths should be included in their entry names; if using other merge strategy, this value is ignored</description><displayName>Keep Path</displayName><dynamic>false</dynamic><name>Keep Path</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Merge Strategy</key><value>Bin-Packing Algorithm</value></entry><entry><key>Merge Format</key><value>Binary Concatenation</value></entry><entry><key>Attribute Strategy</key><value>Keep Only Common Attributes</value></entry><entry><key>Correlation Attribute Name</key></entry><entry><key>Minimum Number of Entries</key><value>1</value></entry><entry><key>Maximum Number of Entries</key></entry><entry><key>Minimum Group Size</key><value>0 B</value></entry><entry><key>Maximum Group Size</key></entry><entry><key>Max Bin Age</key></entry><entry><key>Maximum number of Bins</key><value>100</value></entry><entry><key>Delimiter Strategy</key><value>Text</value></entry><entry><key>Header File</key></entry><entry><key>Footer File</key></entry><entry><key>Demarcator File</key></entry><entry><key>Compression Level</key><value>1</value></entry><entry><key>Keep Path</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>MergeContent</name><relationships><autoTerminate>false</autoTerminate><description>If the bundle cannot be created, all FlowFiles that would have been used to created the bundle will be transferred to failure</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The FlowFile containing the merged content</description><name>merged</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The FlowFiles that were used to create the bundle</description><name>original</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#2cfa08</value></entry></style><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.MergeContent</type></processors><processors><id>6f315188-ac29-4d14-93c9-670d911c4b0a</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>1584.2054254882844</x><y>209.25173722255272</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hadoop Configuration Resources</key><value><description>A file or comma separated list of files which contains the Hadoop file system configuration. Without this, Hadoop will search the classpath for a 'core-site.xml' and 'hdfs-site.xml' file or will revert to a default configuration.</description><displayName>Hadoop Configuration Resources</displayName><dynamic>false</dynamic><name>Hadoop Configuration Resources</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Principal</key><value><description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Principal</displayName><dynamic>false</dynamic><name>Kerberos Principal</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Keytab</key><value><description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Keytab</displayName><dynamic>false</dynamic><name>Kerberos Keytab</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Relogin Period</key><value><defaultValue>4 hours</defaultValue><description>Period of time which should pass before attempting a kerberos relogin</description><displayName>Kerberos Relogin Period</displayName><dynamic>false</dynamic><name>Kerberos Relogin Period</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Directory</key><value><description>The full HDFS directory(s) to create separated by newline</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions umask</key><value><description>A umask represented as an octal number which determines the permissions of files written to HDFS. This overrides the Hadoop Configuration dfs.umaskmode</description><displayName>Permissions umask</displayName><dynamic>false</dynamic><name>Permissions umask</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Owner</key><value><description>Changes the owner of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change owner</description><displayName>Remote Owner</displayName><dynamic>false</dynamic><name>Remote Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Remote Group</key><value><description>Changes the group of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change group</description><displayName>Remote Group</displayName><dynamic>false</dynamic><name>Remote Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hadoop Configuration Resources</key><value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value></entry><entry><key>Kerberos Principal</key></entry><entry><key>Kerberos Keytab</key></entry><entry><key>Kerberos Relogin Period</key><value>4 hours</value></entry><entry><key>Directory</key><value>/model.db/${category}
    /model.db/${category}/${feed}
    /model.db/${category}/${feed}/feed
    /model.db/${category}/${feed}/valid
    /model.db/${category}/${feed}/invalid
    /model.db/${category}/${feed}/profile
    /app/warehouse/${category}/
    /app/warehouse/${category}/${feed}
    /etl/${category}
    /etl/${category}/${feed}</value></entry><entry><key>Permissions umask</key><value>777</value></entry><entry><key>Remote Owner</key><value>nifi</value></entry><entry><key>Remote Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>30 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Register HDFS Folders</name><relationships><autoTerminate>false</autoTerminate><description>Files that could not be written to HDFS for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Files that have been successfully written to HDFS are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#da05ff</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.hdfs.CreateHDFSFolder</type></processors><processors><id>d0533317-8e3d-4ea5-ba57-bd3950091c1c</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>1057.6167940389778</x><y>223.05858509360883</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>fd67ddf1-22cf-433a-bdad-176872459eb7</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${category}</defaultValue><description>System category of feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${feed}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Metadata Service</key><value>fd67ddf1-22cf-433a-bdad-176872459eb7</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Route for Registration?</name><relationships><autoTerminate>false</autoTerminate><description>Registration is required.</description><name>registration_required</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully created FlowFile from .</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#11f237</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.ingest.RouteOnRegistration</type></processors><processors><id>4c0aa79f-786f-46f0-a697-2684d2be7c93</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>2117.4519960534362</x><y>295.4737444448199</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>/tmp/${category}/${feed}/${feedts}/abandoned</value></entry><entry><key>Conflict Resolution Strategy</key><value>replace</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Aborted Registration</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#fa0a1a</value></entry></style><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors><processors><id>b44977b1-16c9-4997-8549-adfcf5ab331c</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>1592.7796962634627</x><y>868.006262452942</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Statement</key><value><description>Provide the DDL or DML statement. Return values will be ignored.</description><displayName>Statement</displayName><dynamic>false</dynamic><name>Statement</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Database Connection Pooling Service</key><value>0f2459a7-f6ef-4684-af64-64817ded1565</value></entry><entry><key>Statement</key><value>alter table ${category}.${feed}_feed add
    if not exists partition (processing_dttm=${feedts})
    location '/etl/${category}/${feed}/${feedts}/'</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Create Feed Partition</name><relationships><autoTerminate>false</autoTerminate><description>SQL query execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully created FlowFile from .</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#2cfa08</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQLStatement</type></processors><processors><id>51d7098b-51ba-4392-bafa-6ee5405fa830</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>541.9186720499638</x><y>685.4733547416482</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hadoop Configuration Resources</key><value><description>A file or comma separated list of files which contains the Hadoop file system configuration. Without this, Hadoop will search the classpath for a 'core-site.xml' and 'hdfs-site.xml' file or will revert to a default configuration.</description><displayName>Hadoop Configuration Resources</displayName><dynamic>false</dynamic><name>Hadoop Configuration Resources</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Principal</key><value><description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Principal</displayName><dynamic>false</dynamic><name>Kerberos Principal</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Keytab</key><value><description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Keytab</displayName><dynamic>false</dynamic><name>Kerberos Keytab</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Relogin Period</key><value><defaultValue>4 hours</defaultValue><description>Period of time which should pass before attempting a kerberos relogin</description><displayName>Kerberos Relogin Period</displayName><dynamic>false</dynamic><name>Kerberos Relogin Period</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Directory</key><value><description>The parent HDFS directory to which files should be written</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Block Size</key><value><description>Size of each block as written to HDFS. This overrides the Hadoop Configuration</description><displayName>Block Size</displayName><dynamic>false</dynamic><name>Block Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>IO Buffer Size</key><value><description>Amount of memory to use to buffer file contents during IO. This overrides the Hadoop Configuration</description><displayName>IO Buffer Size</displayName><dynamic>false</dynamic><name>IO Buffer Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Replication</key><value><description>Number of times that HDFS will replicate each file. This overrides the Hadoop Configuration</description><displayName>Replication</displayName><dynamic>false</dynamic><name>Replication</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Permissions umask</key><value><description>A umask represented as an octal number which determines the permissions of files written to HDFS. This overrides the Hadoop Configuration dfs.umaskmode</description><displayName>Permissions umask</displayName><dynamic>false</dynamic><name>Permissions umask</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Owner</key><value><description>Changes the owner of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change owner</description><displayName>Remote Owner</displayName><dynamic>false</dynamic><name>Remote Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Group</key><value><description>Changes the group of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change group</description><displayName>Remote Group</displayName><dynamic>false</dynamic><name>Remote Group</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression codec</key><value><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><allowableValues><displayName>DEFAULT</displayName><value>DEFAULT</value></allowableValues><allowableValues><displayName>BZIP</displayName><value>BZIP</value></allowableValues><allowableValues><displayName>GZIP</displayName><value>GZIP</value></allowableValues><allowableValues><displayName>LZ4</displayName><value>LZ4</value></allowableValues><allowableValues><displayName>SNAPPY</displayName><value>SNAPPY</value></allowableValues><allowableValues><displayName>AUTOMATIC</displayName><value>AUTOMATIC</value></allowableValues><defaultValue>NONE</defaultValue><description></description><displayName>Compression codec</displayName><dynamic>false</dynamic><name>Compression codec</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hadoop Configuration Resources</key><value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value></entry><entry><key>Kerberos Principal</key></entry><entry><key>Kerberos Keytab</key></entry><entry><key>Kerberos Relogin Period</key><value>4 hours</value></entry><entry><key>Directory</key><value>/archive/${category}/${feed}/${feedts}</value></entry><entry><key>Conflict Resolution Strategy</key><value>fail</value></entry><entry><key>Block Size</key></entry><entry><key>IO Buffer Size</key></entry><entry><key>Replication</key></entry><entry><key>Permissions umask</key></entry><entry><key>Remote Owner</key></entry><entry><key>Remote Group</key></entry><entry><key>Compression codec</key><value>BZIP</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Archive Originals</name><relationships><autoTerminate>false</autoTerminate><description>Files that could not be written to HDFS for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to HDFS are transferred to this relationship</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#e6f205</value></entry></style><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.hadoop.PutHDFS</type></processors><processors><id>bd26db73-fadb-47e5-a7e4-e65877dbaf85</id><parentGroupId>c7492edb-1f2e-400f-88af-3609fe6acfaa</parentGroupId><position><x>1592.7054088665614</x><y>1043.3721313476562</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Script Engine</key><value><allowableValues><displayName>ECMAScript</displayName><value>ECMAScript</value></allowableValues><allowableValues><displayName>Groovy</displayName><value>Groovy</value></allowableValues><allowableValues><displayName>lua</displayName><value>lua</value></allowableValues><allowableValues><displayName>python</displayName><value>python</value></allowableValues><allowableValues><displayName>ruby</displayName><value>ruby</value></allowableValues><defaultValue>ECMAScript</defaultValue><description>The engine to execute scripts</description><displayName>Script Engine</displayName><dynamic>false</dynamic><name>Script Engine</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Script File</key><value><description>Path to script file to execute. Only one of Script File or Script Body may be used</description><displayName>Script File</displayName><dynamic>false</dynamic><name>Script File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Script Body</key><value><description>Body of script to execute. Only one of Script File or Script Body may be used</description><displayName>Script Body</displayName><dynamic>false</dynamic><name>Script Body</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Module Directory</key><value><description>Comma-separated list of paths to files and/or directories which contain modules required by the script.</description><displayName>Module Directory</displayName><dynamic>false</dynamic><name>Module Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Script Engine</key><value>Groovy</value></entry><entry><key>Script File</key></entry><entry><key>Script Body</key><value>def flowFile = session.get()
    if(!flowFile) return
    def json = flowFile.getAttribute(&quot;metadata.table.fieldPoliciesJson&quot;);
    def inputFolder = flowFile.getAttribute(&quot;spark.input_folder&quot;)
    def feed = flowFile.getAttribute(&quot;feed&quot;)
    def category = flowFile.getAttribute(&quot;category&quot;)
    def feedts = flowFile.getAttribute(&quot;feedts&quot;)
    def folder = new File(inputFolder + &quot;/&quot;+category+&quot;/&quot;+feed+&quot;/&quot;+feedts)
    // If it doesn't exist
    if( !folder.exists() ) {
    // Create all folders
    folder.mkdirs()
    }
    def jsonFile = new File(folder,feed+&quot;_field_policy.json&quot;)
    jsonFile.write(json)
    flowFile = session.putAttribute(flowFile,&quot;table_field_policy_json_file&quot;,jsonFile.getCanonicalPath())
    session.transfer(flowFile, REL_SUCCESS)
</value></entry><entry><key>Module Directory</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Write field policy JSON to file</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that failed to be processed</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that were successfully processed</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.processors.script.ExecuteScript</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>1</inputPortCount><invalidCount>0</invalidCount><name>standard-ingest</name><outputPortCount>2</outputPortCount><parent><id>94f61842-ab6f-47b6-bba6-2ea502c6418a</id><name>standard-ingest</name><parent><id>659b97ac-c971-4559-8c3e-41493acddabc</id><name>reusable_templates</name><parent><id>5449d6de-6f6a-45eb-ae9c-e7f3af02c34c</id><name>NiFi Flow</name></parent></parent></parent><runningCount>17</runningCount><stoppedCount>0</stoppedCount></processGroups></snippet><timestamp>06/01/2016 00:30:49 PDT</timestamp></template>