install/setup/data/templates/nifi-0.6/data-transformation.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>data-transformation</name><snippet><connections><id>f52d7742-81b2-491d-9b77-2b8010fea556</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>d48616e0-dd09-4df2-94a3-073c9c1af1ca</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>e8a5727c-316f-4514-b2e4-82905df5b480</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>1e1e3c00-6cc1-45d4-83fd-ff43396c8332</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>d48616e0-dd09-4df2-94a3-073c9c1af1ca</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>b19244c2-c2a0-47ad-b319-2fec4ab38025</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>37b653a4-3f64-41fc-a4b2-57088eae9914</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>8538e1ff-23cb-4c49-9899-d1311a02502a</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>0638551f-8fe4-42e6-8580-c92f0f99022c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>efe58e69-483b-467a-812e-aa954d906b24</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>0638551f-8fe4-42e6-8580-c92f0f99022c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>9f86605c-5f4f-4d4b-b6d1-18c787fc1e6f</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a0b6a081-1891-46c0-9053-bea7cd2a41bc</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>e8a5727c-316f-4514-b2e4-82905df5b480</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>b19244c2-c2a0-47ad-b319-2fec4ab38025</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>1008fe02-0647-4407-9844-023c15528828</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>20d2bec2-ff74-4c30-962d-718e511efcc3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>aaf569aa-ce36-43c3-846a-c175f3cd6eae</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>10b4374b-f3c2-417b-ad12-55b6c5ec56ed</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>6061686d-93d0-42ab-a7f1-9c3b1f382cde</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>8538e1ff-23cb-4c49-9899-d1311a02502a</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>307f7d92-ad71-4761-978f-da1a8ff02a5b</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>aaf569aa-ce36-43c3-846a-c175f3cd6eae</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>e8be5880-bc45-4e41-a901-6e083d9c9aef</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>fda2cdc4-ba4d-441e-a7c3-62d435d307b5</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>b19244c2-c2a0-47ad-b319-2fec4ab38025</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>c3613aa4-c3fb-448e-948a-b296e691c965</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>de1245cb-003a-473c-a983-9a2ebe789a94</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>e8be5880-bc45-4e41-a901-6e083d9c9aef</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>c299e61f-5dce-4a6d-9453-39733d2f8a00</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>2c7e33d8-db61-4fb3-b7a0-2d9db4f587de</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>c3613aa4-c3fb-448e-948a-b296e691c965</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>Initialize</selectedRelationships><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>0638551f-8fe4-42e6-8580-c92f0f99022c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>033255e7-785a-4f82-b5e0-db525fa02f28</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>d81c8af2-5296-4362-a1fe-be7b88a1ed34</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>e8a5727c-316f-4514-b2e4-82905df5b480</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>9baf9afa-f3cd-4d17-a491-21d01b37122f</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>d48616e0-dd09-4df2-94a3-073c9c1af1ca</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>d81c8af2-5296-4362-a1fe-be7b88a1ed34</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>465e6fb9-5656-471b-be03-8c57edf31801</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>d48616e0-dd09-4df2-94a3-073c9c1af1ca</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>c3613aa4-c3fb-448e-948a-b296e691c965</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>f6ee3b9d-a46d-4c91-bc9d-e4bad11bc4b6</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>9f86605c-5f4f-4d4b-b6d1-18c787fc1e6f</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>1c6943e8-a649-4367-890c-684726796245</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><controllerServices><id>3275ca43-e691-4708-b5a4-b67c4888127c</id><comments></comments><descriptors><entry><key>Database Connection URL</key><value><description>A database connection URL used to connect to a database. May contain database system name, host, port, database name and some parameters. The exact syntax of a database connection URL is specified by your DBMS.</description><displayName>Database Connection URL</displayName><dynamic>false</dynamic><name>Database Connection URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Driver Class Name</key><value><description>Database driver class name</description><displayName>Database Driver Class Name</displayName><dynamic>false</dynamic><name>Database Driver Class Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database Driver Jar Url</key><value><description>Optional database driver jar file path url. For example 'file:///var/tmp/mariadb-java-client-1.1.7.jar'</description><displayName>Database Driver Jar Url</displayName><dynamic>false</dynamic><name>Database Driver Jar Url</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Database User</key><value><description>Database user name</description><displayName>Database User</displayName><dynamic>false</dynamic><name>Database User</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>The password for the database user</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Validation Query</key><value><defaultValue>show tables 'test'</defaultValue><description>Query to be used when testing the Datasource. </description><displayName>Validation Query</displayName><dynamic>false</dynamic><name>Validation Query</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>500 millis</defaultValue><description>The maximum amount of time that the pool will wait (when there are no available connections)  for a connection to be returned before failing, or -1 to wait indefinitely. </description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Total Connections</key><value><defaultValue>8</defaultValue><description>The maximum number of active connections that can be allocated from this pool at the same time,  or negative for no limit.</description><displayName>Max Total Connections</displayName><dynamic>false</dynamic><name>Max Total Connections</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Hadoop Configuration Resources</key><value><description>A file or comma separated list of files which contains the Hadoop file system configuration. Without this, Hadoop will search the classpath for a 'core-site.xml' and 'hdfs-site.xml' file or will revert to a default configuration.</description><displayName>Hadoop Configuration Resources</displayName><dynamic>false</dynamic><name>Hadoop Configuration Resources</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Principal</key><value><description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties.</description><displayName>Kerberos Principal</displayName><dynamic>false</dynamic><name>Kerberos Principal</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Keytab</key><value><description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties.</description><displayName>Kerberos Keytab</displayName><dynamic>false</dynamic><name>Kerberos Keytab</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>Hive Thrift Service</name><properties><entry><key>Database Connection URL</key><value>jdbc:hive2://localhost:10000/default</value></entry><entry><key>Database Driver Class Name</key><value>org.apache.hive.jdbc.HiveDriver</value></entry><entry><key>Database Driver Jar Url</key></entry><entry><key>Database User</key><value>nifi</value></entry><entry><key>Password</key></entry><entry><key>Validation Query</key><value>show tables 'test'</value></entry><entry><key>Max Wait Time</key><value>500 millis</value></entry><entry><key>Max Total Connections</key><value>8</value></entry><entry><key>Hadoop Configuration Resources</key></entry><entry><key>Kerberos Principal</key></entry><entry><key>Kerberos Keytab</key></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>3b60d84d-8239-4cd4-b503-a9dcc6f7c188</value></allowableValues><allowableValues><displayName>Hive Thrift Service</displayName><value>3275ca43-e691-4708-b5a4-b67c4888127c</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>System category of the feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Type</key><value><allowableValues><displayName>ALL</displayName><value>ALL</value></allowableValues><allowableValues><displayName>MASTER</displayName><value>MASTER</value></allowableValues><allowableValues><displayName>PROFILE</displayName><value>PROFILE</value></allowableValues><allowableValues><displayName>VALID</displayName><value>VALID</value></allowableValues><allowableValues><displayName>INVALID</displayName><value>INVALID</value></allowableValues><allowableValues><displayName>FEED</displayName><value>FEED</value></allowableValues><description>Specifies the standard table type to drop or ALL for standard set.</description><displayName>Table Type</displayName><dynamic>false</dynamic><name>Table Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Additional Tables</key><value><description>Additional tables to drop separated by comma.</description><displayName>Additional Tables</displayName><dynamic>false</dynamic><name>Additional Tables</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>aaf569aa-ce36-43c3-846a-c175f3cd6eae</id><name>Drop Feed Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>3275ca43-e691-4708-b5a4-b67c4888127c</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Table Type</key><value>MASTER</value></entry><entry><key>Additional Tables</key></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.ingest.DropFeedTables</type><validationErrors>'Database Connection Pooling Service' validated against 'Hive Thrift Service' is invalid because Controller Service ThriftConnectionPool[id=3275ca43-e691-4708-b5a4-b67c4888127c] is disabled</validationErrors></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>3b60d84d-8239-4cd4-b503-a9dcc6f7c188</value></allowableValues><allowableValues><displayName>Hive Thrift Service</displayName><value>3275ca43-e691-4708-b5a4-b67c4888127c</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>System category of the feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Type</key><value><allowableValues><displayName>FEED</displayName><value>FEED</value></allowableValues><allowableValues><displayName>VALID</displayName><value>VALID</value></allowableValues><allowableValues><displayName>INVALID</displayName><value>INVALID</value></allowableValues><allowableValues><displayName>PROFILE</displayName><value>PROFILE</value></allowableValues><allowableValues><displayName>MASTER</displayName><value>MASTER</value></allowableValues><allowableValues><displayName>ALL</displayName><value>ALL</value></allowableValues><defaultValue>ALL</defaultValue><description>Specifies the standard table type to create or ALL for standard set.</description><displayName>Table Type</displayName><dynamic>false</dynamic><name>Table Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Field specification</key><value><defaultValue>${metadata.table.fieldStructure}</defaultValue><description>Pipe-delim format with the specifications for the fields (column name|data type|comment</description><displayName>Field specification</displayName><dynamic>false</dynamic><name>Field specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><defaultValue>${metadata.table.partitionStructure}</defaultValue><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed Table Storage Format</key><value><defaultValue>${metadata.table.feedFormat}</defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Feed Table Storage Format</displayName><dynamic>false</dynamic><name>Feed Table Storage Format</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target Table Format</key><value><defaultValue>${metadata.table.targetFormat}</defaultValue><description>Provide storage format specification for the target tables</description><displayName>Target Table Format</displayName><dynamic>false</dynamic><name>Target Table Format</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target Table Properties</key><value><defaultValue>${metadata.table.targetTblProperties}</defaultValue><description>TblProperties clause generally specificying the compression option</description><displayName>Target Table Properties</displayName><dynamic>false</dynamic><name>Target Table Properties</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed Root Path</key><value><defaultValue>${hive.ingest.root}</defaultValue><description>Specify the full HDFS root path for the feed,valid,invalid tables.</description><displayName>Feed Root Path</displayName><dynamic>false</dynamic><name>Feed Root Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Profile Root Path</key><value><defaultValue>${hive.profile.root}</defaultValue><description>Specify the HDFS folder root path for creating the profile table</description><displayName>Profile Root Path</displayName><dynamic>false</dynamic><name>Profile Root Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Master Root Path</key><value><defaultValue>${hive.master.root}</defaultValue><description>Specify the HDFS folder root path for creating the master table</description><displayName>Master Root Path</displayName><dynamic>false</dynamic><name>Master Root Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>b19244c2-c2a0-47ad-b319-2fec4ab38025</id><name>Register Tables</name><properties><entry><key>Database Connection Pooling Service</key><value>3275ca43-e691-4708-b5a4-b67c4888127c</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Table Type</key><value>MASTER</value></entry><entry><key>Field specification</key><value>${metadata.table.fieldStructure}</value></entry><entry><key>Partition specification</key><value>${metadata.table.partitionStructure}</value></entry><entry><key>Feed Table Storage Format</key><value>${metadata.table.feedFormat}</value></entry><entry><key>Target Table Format</key><value>${metadata.table.targetFormat}</value></entry><entry><key>Target Table Properties</key><value>${metadata.table.targetTblProperties}</value></entry><entry><key>Feed Root Path</key><value>${hive.ingest.root}</value></entry><entry><key>Profile Root Path</key><value>${hive.profile.root}</value></entry><entry><key>Master Root Path</key><value>${hive.master.root}</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.ingest.RegisterFeedTables</type><validationErrors>'Database Connection Pooling Service' validated against 'Hive Thrift Service' is invalid because Controller Service ThriftConnectionPool[id=3275ca43-e691-4708-b5a4-b67c4888127c] is disabled</validationErrors></referencingComponents><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.thrift.ThriftConnectionPool</type></controllerServices><controllerServices><id>6b207fdf-55a2-4767-9c0b-e52656972733</id><comments></comments><descriptors><entry><key>Implementation</key><value><allowableValues><description>An implemenation that stores metadata locally in memory (for development-only)</description><displayName>Local, In-memory storage</displayName><value>LOCAL</value></allowableValues><allowableValues><description>An implementation that accesses metadata via the metadata service REST API</description><displayName>REST API</displayName><value>REMOTE</value></allowableValues><defaultValue>REMOTE</defaultValue><description>Specifies which implementation of the metadata providers should be used</description><displayName>Implementation</displayName><dynamic>false</dynamic><name>Implementation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>rest-client-url</key><value><defaultValue>http://localhost:8400/proxy/metadata</defaultValue><description>The base URL to the metadata server when the REST API client implementation is chosen.</description><displayName>REST Client URL</displayName><dynamic>false</dynamic><name>rest-client-url</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>client-username</key><value><defaultValue>dladmin</defaultValue><description>Optional user name if the client requires a credential</description><displayName>REST Client User Name</displayName><dynamic>false</dynamic><name>client-username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>client-password</key><value><defaultValue></defaultValue><description>Optional password if the client requires a credential</description><displayName>REST Client Password</displayName><dynamic>false</dynamic><name>client-password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The Controller Service to obtain the SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>Think Big Metadata Service</name><properties><entry><key>Implementation</key><value>REMOTE</value></entry><entry><key>rest-client-url</key><value>http://localhost:8400/proxy/metadata</value></entry><entry><key>client-username</key><value>dladmin</value></entry><entry><key>client-password</key></entry><entry><key>SSL Context Service</key></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>8f5b0b91-5bec-41f2-b4db-c8e4deb6ed32</value></allowableValues><allowableValues><displayName>Think Big Metadata Service</displayName><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>System category of the feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Initialization Failure Strategy</key><value><allowableValues><description>Immediately fail the flow file</description><displayName>Fail</displayName><value>FAIL</value></allowableValues><allowableValues><description>Retry initialization (if the appropriate time delay has expired) and penalize the flow file.</description><displayName>Retry</displayName><value>RETRY</value></allowableValues><defaultValue>RETRY</defaultValue><description>Indicates how this processor should behave when a flow file arrives after feed initialization has failed.</description><displayName>Initialization Failure Strategy</displayName><dynamic>false</dynamic><name>Initialization Failure Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Initialization Retry Delay (seconds)</key><value><defaultValue>60</defaultValue><description>The minimum amount of seconds to delay before an arriving flow file should trigger another attempt to initialize a feed that has previously failed initialization.  Any flow file arriving before this delay has expired will be immediately failed.</description><displayName>Initialization Retry Delay (seconds)</displayName><dynamic>false</dynamic><name>Initialization Retry Delay (seconds)</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Initialization Attempts</key><value><description>The maximum number of times initialization will be retried where there are failures.  There is no limit if unset.</description><displayName>Max Initialization Attempts</displayName><dynamic>false</dynamic><name>Max Initialization Attempts</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>0638551f-8fe4-42e6-8580-c92f0f99022c</id><name>Initialize Feed?</name><properties><entry><key>Metadata Service</key><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Initialization Failure Strategy</key><value>RETRY</value></entry><entry><key>Initialization Retry Delay (seconds)</key><value>15</value></entry><entry><key>Max Initialization Attempts</key><value>40</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.init.InitializeFeed</type><validationErrors>'Metadata Service' validated against 'Think Big Metadata Service' is invalid because Controller Service MetadataProviderSelectorService[id=6b207fdf-55a2-4767-9c0b-e52656972733] is disabled</validationErrors></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>8f5b0b91-5bec-41f2-b4db-c8e4deb6ed32</value></allowableValues><allowableValues><displayName>Think Big Metadata Service</displayName><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>System category of the feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Initialization Result</key><value><allowableValues><description>The mode indicating feed initialization was successful.</description><displayName>Successful</displayName><value>SUCCESSFUL</value></allowableValues><allowableValues><description>The mode indicating feed initialization failed.</description><displayName>Failure</displayName><value>FAILURE</value></allowableValues><description>Indicates how this processor should behave when a flow file arrives after feed initialization has failed.</description><displayName>Initialization Result</displayName><dynamic>false</dynamic><name>Initialization Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>d48616e0-dd09-4df2-94a3-073c9c1af1ca</id><name>Initialization Failure</name><properties><entry><key>Metadata Service</key><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Initialization Result</key><value>FAILURE</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.init.CompleteInitializeFeed</type><validationErrors>'Metadata Service' validated against 'Think Big Metadata Service' is invalid because Controller Service MetadataProviderSelectorService[id=6b207fdf-55a2-4767-9c0b-e52656972733] is disabled</validationErrors></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Provider Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>8f5b0b91-5bec-41f2-b4db-c8e4deb6ed32</value></allowableValues><allowableValues><displayName>Think Big Metadata Service</displayName><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></allowableValues><description>Service supplying the implementations of the various metadata providers.</description><displayName>Metadata Provider Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Provider Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Feed Category</key><value><description>They category your feed is created under</description><displayName>Feed Category</displayName><dynamic>false</dynamic><name>Feed Category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed Name</key><value><description>They name of the feed</description><displayName>Feed Name</displayName><dynamic>false</dynamic><name>Feed Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Namespace</key><value><description>Namespace for the attributes you create. This value will be prepended to the attribute name for storage in the metadata store  </description><displayName>Namespace</displayName><dynamic>false</dynamic><name>Namespace</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hdfsFolders</key><value><description></description><displayName>hdfsFolders</displayName><dynamic>true</dynamic><name>hdfsFolders</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hiveSchema</key><value><description></description><displayName>hiveSchema</displayName><dynamic>true</dynamic><name>hiveSchema</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hiveTableNames</key><value><description></description><displayName>hiveTableNames</displayName><dynamic>true</dynamic><name>hiveTableNames</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>e8a5727c-316f-4514-b2e4-82905df5b480</id><name>Record Metadata</name><properties><entry><key>Metadata Provider Service</key><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></entry><entry><key>Feed Category</key><value>${category}</value></entry><entry><key>Feed Name</key><value>${feed}</value></entry><entry><key>Namespace</key><value>metadata</value></entry><entry><key>hdfsFolders</key><value>${hive.master.root}/${category}/
${hive.master.root}/${category}/${feed}</value></entry><entry><key>hiveSchema</key><value>${category}</value></entry><entry><key>hiveTableNames</key><value>${feed}_feed
${feed}_valid
${feed}_invalid
${feed}_profile
${feed}</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.metadata.PutFeedMetadata</type><validationErrors>'Metadata Provider Service' validated against 'Think Big Metadata Service' is invalid because Controller Service MetadataProviderSelectorService[id=6b207fdf-55a2-4767-9c0b-e52656972733] is disabled</validationErrors></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>8f5b0b91-5bec-41f2-b4db-c8e4deb6ed32</value></allowableValues><allowableValues><displayName>Think Big Metadata Service</displayName><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>System category of the feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Initialization Result</key><value><allowableValues><description>The mode indicating feed initialization was successful.</description><displayName>Successful</displayName><value>SUCCESSFUL</value></allowableValues><allowableValues><description>The mode indicating feed initialization failed.</description><displayName>Failure</displayName><value>FAILURE</value></allowableValues><description>Indicates how this processor should behave when a flow file arrives after feed initialization has failed.</description><displayName>Initialization Result</displayName><dynamic>false</dynamic><name>Initialization Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>46a310b7-acfb-41ef-809a-9f76e55f3216</groupId><id>d81c8af2-5296-4362-a1fe-be7b88a1ed34</id><name>Record Initialization</name><properties><entry><key>Metadata Service</key><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Initialization Result</key><value>SUCCESSFUL</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>com.thinkbiganalytics.nifi.v2.init.CompleteInitializeFeed</type><validationErrors>'Metadata Service' validated against 'Think Big Metadata Service' is invalid because Controller Service MetadataProviderSelectorService[id=6b207fdf-55a2-4767-9c0b-e52656972733] is disabled</validationErrors></referencingComponents><state>DISABLED</state><type>com.thinkbiganalytics.nifi.v2.core.metadata.MetadataProviderSelectorService</type></controllerServices><inputPorts><id>c299e61f-5dce-4a6d-9453-39733d2f8a00</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>64.44153217235134</x><y>821.0121495909948</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>wrangler-cleanup-port</name><state>STOPPED</state><type>INPUT_PORT</type></inputPorts><inputPorts><id>1c6943e8-a649-4367-890c-684726796245</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>51.67955252418028</x><y>-33.0</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>wrangler-input-port</name><state>STOPPED</state><type>INPUT_PORT</type></inputPorts><labels><id>ad3b2621-64e5-4dac-a39e-8d1938467b0a</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>429.0938284446315</x><y>763.6012904118147</y></position><height>151.09307861328125</height><label>Cleanup</label><style><entry><key>background-color</key><value>#dbdbdb</value></entry><entry><key>font-size</key><value>18px</value></entry></style><width>1449.6756591796875</width></labels><labels><id>b3f7ff88-5f3a-4d4e-a5e7-3ef6497bb4d4</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>1036.0997582641867</x><y>38.3140105923967</y></position><height>663.7088012695312</height><label>One-time registration</label><style><entry><key>background-color</key><value>#dbdbdb</value></entry><entry><key>font-size</key><value>18px</value></entry></style><width>941.4903564453125</width></labels><processors><id>b19244c2-c2a0-47ad-b319-2fec4ab38025</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>1062.1279635846863</x><y>240.03558943115308</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>3b60d84d-8239-4cd4-b503-a9dcc6f7c188</value></allowableValues><allowableValues><displayName>Hive Thrift Service</displayName><value>3275ca43-e691-4708-b5a4-b67c4888127c</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>System category of the feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Type</key><value><allowableValues><displayName>FEED</displayName><value>FEED</value></allowableValues><allowableValues><displayName>VALID</displayName><value>VALID</value></allowableValues><allowableValues><displayName>INVALID</displayName><value>INVALID</value></allowableValues><allowableValues><displayName>PROFILE</displayName><value>PROFILE</value></allowableValues><allowableValues><displayName>MASTER</displayName><value>MASTER</value></allowableValues><allowableValues><displayName>ALL</displayName><value>ALL</value></allowableValues><defaultValue>ALL</defaultValue><description>Specifies the standard table type to create or ALL for standard set.</description><displayName>Table Type</displayName><dynamic>false</dynamic><name>Table Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Field specification</key><value><defaultValue>${metadata.table.fieldStructure}</defaultValue><description>Pipe-delim format with the specifications for the fields (column name|data type|comment</description><displayName>Field specification</displayName><dynamic>false</dynamic><name>Field specification</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition specification</key><value><defaultValue>${metadata.table.partitionStructure}</defaultValue><description>Provide list of partition columns column-delimited</description><displayName>Partition specification</displayName><dynamic>false</dynamic><name>Partition specification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed Table Storage Format</key><value><defaultValue>${metadata.table.feedFormat}</defaultValue><description>Provide format and delimiter specification. This is the full clause starting with the INPUTFORMAT such as: INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat' </description><displayName>Feed Table Storage Format</displayName><dynamic>false</dynamic><name>Feed Table Storage Format</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target Table Format</key><value><defaultValue>${metadata.table.targetFormat}</defaultValue><description>Provide storage format specification for the target tables</description><displayName>Target Table Format</displayName><dynamic>false</dynamic><name>Target Table Format</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Target Table Properties</key><value><defaultValue>${metadata.table.targetTblProperties}</defaultValue><description>TblProperties clause generally specificying the compression option</description><displayName>Target Table Properties</displayName><dynamic>false</dynamic><name>Target Table Properties</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed Root Path</key><value><defaultValue>${hive.ingest.root}</defaultValue><description>Specify the full HDFS root path for the feed,valid,invalid tables.</description><displayName>Feed Root Path</displayName><dynamic>false</dynamic><name>Feed Root Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Profile Root Path</key><value><defaultValue>${hive.profile.root}</defaultValue><description>Specify the HDFS folder root path for creating the profile table</description><displayName>Profile Root Path</displayName><dynamic>false</dynamic><name>Profile Root Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Master Root Path</key><value><defaultValue>${hive.master.root}</defaultValue><description>Specify the HDFS folder root path for creating the master table</description><displayName>Master Root Path</displayName><dynamic>false</dynamic><name>Master Root Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Database Connection Pooling Service</key><value>3275ca43-e691-4708-b5a4-b67c4888127c</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Table Type</key><value>MASTER</value></entry><entry><key>Field specification</key><value>${metadata.table.fieldStructure}</value></entry><entry><key>Partition specification</key><value>${metadata.table.partitionStructure}</value></entry><entry><key>Feed Table Storage Format</key><value>${metadata.table.feedFormat}</value></entry><entry><key>Target Table Format</key><value>${metadata.table.targetFormat}</value></entry><entry><key>Target Table Properties</key><value>${metadata.table.targetTblProperties}</value></entry><entry><key>Feed Root Path</key><value>${hive.ingest.root}</value></entry><entry><key>Profile Root Path</key><value>${hive.profile.root}</value></entry><entry><key>Master Root Path</key><value>${hive.master.root}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Register Tables</name><relationships><autoTerminate>false</autoTerminate><description>SQL query execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully relationship.</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#da05ff</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.ingest.RegisterFeedTables</type></processors><processors><id>9f86605c-5f4f-4d4b-b6d1-18c787fc1e6f</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>-26.0</x><y>86.19832836629098</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hdfs.ingest.root</key><value><description></description><displayName>hdfs.ingest.root</displayName><dynamic>true</dynamic><name>hdfs.ingest.root</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hive.ingest.root</key><value><description></description><displayName>hive.ingest.root</displayName><dynamic>true</dynamic><name>hive.ingest.root</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hive.master.root</key><value><description></description><displayName>hive.master.root</displayName><dynamic>true</dynamic><name>hive.master.root</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hive.profile.root</key><value><description></description><displayName>hive.profile.root</displayName><dynamic>true</dynamic><name>hive.profile.root</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>hdfs.ingest.root</key><value>${hdfs.ingest.root:replaceEmpty('/etl')}</value></entry><entry><key>hive.ingest.root</key><value>${hive.ingest.root:replaceEmpty('/model.db')}</value></entry><entry><key>hive.master.root</key><value>${hive.master.root:replaceEmpty('/app/warehouse')}</value></entry><entry><key>hive.profile.root</key><value>${hive.profile.root:replaceEmpty('/model.db')}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Set Feed Defaults</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#2bff05</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>d81c8af2-5296-4362-a1fe-be7b88a1ed34</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>1062.2317955414703</x><y>560.1149343246952</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>8f5b0b91-5bec-41f2-b4db-c8e4deb6ed32</value></allowableValues><allowableValues><displayName>Think Big Metadata Service</displayName><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>System category of the feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Initialization Result</key><value><allowableValues><description>The mode indicating feed initialization was successful.</description><displayName>Successful</displayName><value>SUCCESSFUL</value></allowableValues><allowableValues><description>The mode indicating feed initialization failed.</description><displayName>Failure</displayName><value>FAILURE</value></allowableValues><description>Indicates how this processor should behave when a flow file arrives after feed initialization has failed.</description><displayName>Initialization Result</displayName><dynamic>false</dynamic><name>Initialization Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Metadata Service</key><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Initialization Result</key><value>SUCCESSFUL</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Record Initialization</name><relationships><autoTerminate>false</autoTerminate><description>Processing failed</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Processing was successful</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#da05ff</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.init.CompleteInitializeFeed</type></processors><processors><id>20d2bec2-ff74-4c30-962d-718e511efcc3</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>1535.4899529214413</x><y>791.0081798505416</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hadoop Configuration Resources</key><value><description>A file or comma separated list of files which contains the Hadoop file system configuration. Without this, Hadoop will search the classpath for a 'core-site.xml' and 'hdfs-site.xml' file or will revert to a default configuration.</description><displayName>Hadoop Configuration Resources</displayName><dynamic>false</dynamic><name>Hadoop Configuration Resources</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Principal</key><value><description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties.</description><displayName>Kerberos Principal</displayName><dynamic>false</dynamic><name>Kerberos Principal</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Keytab</key><value><description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties.</description><displayName>Kerberos Keytab</displayName><dynamic>false</dynamic><name>Kerberos Keytab</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Relogin Period</key><value><defaultValue>4 hours</defaultValue><description>Period of time which should pass before attempting a kerberos relogin</description><displayName>Kerberos Relogin Period</displayName><dynamic>false</dynamic><name>Kerberos Relogin Period</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Directory</key><value><description>The absolute path to the HDFS directory to be permanently deleted. One directory per line.</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hadoop Configuration Resources</key><value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value></entry><entry><key>Kerberos Principal</key></entry><entry><key>Kerberos Keytab</key></entry><entry><key>Kerberos Relogin Period</key><value>4 hours</value></entry><entry><key>Directory</key><value>${hive.ingest.root}/${category}/${feed}/
${hive.master.root}/${category}/${feed}/</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Remove HDFS Folders</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that failed to be processed</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that removed a directory</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#ff9900</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.hdfs.RemoveHDFSFolder</type></processors><processors><id>e8a5727c-316f-4514-b2e4-82905df5b480</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>1061.7838566313806</x><y>398.8049536033982</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Metadata Provider Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>8f5b0b91-5bec-41f2-b4db-c8e4deb6ed32</value></allowableValues><allowableValues><displayName>Think Big Metadata Service</displayName><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></allowableValues><description>Service supplying the implementations of the various metadata providers.</description><displayName>Metadata Provider Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Provider Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Feed Category</key><value><description>They category your feed is created under</description><displayName>Feed Category</displayName><dynamic>false</dynamic><name>Feed Category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Feed Name</key><value><description>They name of the feed</description><displayName>Feed Name</displayName><dynamic>false</dynamic><name>Feed Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Namespace</key><value><description>Namespace for the attributes you create. This value will be prepended to the attribute name for storage in the metadata store  </description><displayName>Namespace</displayName><dynamic>false</dynamic><name>Namespace</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hdfsFolders</key><value><description></description><displayName>hdfsFolders</displayName><dynamic>true</dynamic><name>hdfsFolders</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hiveSchema</key><value><description></description><displayName>hiveSchema</displayName><dynamic>true</dynamic><name>hiveSchema</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hiveTableNames</key><value><description></description><displayName>hiveTableNames</displayName><dynamic>true</dynamic><name>hiveTableNames</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Metadata Provider Service</key><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></entry><entry><key>Feed Category</key><value>${category}</value></entry><entry><key>Feed Name</key><value>${feed}</value></entry><entry><key>Namespace</key><value>metadata</value></entry><entry><key>hdfsFolders</key><value>${hive.master.root}/${category}/
${hive.master.root}/${category}/${feed}</value></entry><entry><key>hiveSchema</key><value>${category}</value></entry><entry><key>hiveTableNames</key><value>${feed}_feed
${feed}_valid
${feed}_invalid
${feed}_profile
${feed}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Record Metadata</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship on failure</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship on success</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#da05ff</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.metadata.PutFeedMetadata</type></processors><processors><id>aaf569aa-ce36-43c3-846a-c175f3cd6eae</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>1003.2949592019809</x><y>798.2356728071213</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Database Connection Pooling Service</key><value><allowableValues><displayName>Hive Thrift Service</displayName><value>3b60d84d-8239-4cd4-b503-a9dcc6f7c188</value></allowableValues><allowableValues><displayName>Hive Thrift Service</displayName><value>3275ca43-e691-4708-b5a4-b67c4888127c</value></allowableValues><description>The Controller Service that is used to obtain connection to database</description><displayName>Database Connection Pooling Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService><name>Database Connection Pooling Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>System category of the feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Table Type</key><value><allowableValues><displayName>ALL</displayName><value>ALL</value></allowableValues><allowableValues><displayName>MASTER</displayName><value>MASTER</value></allowableValues><allowableValues><displayName>PROFILE</displayName><value>PROFILE</value></allowableValues><allowableValues><displayName>VALID</displayName><value>VALID</value></allowableValues><allowableValues><displayName>INVALID</displayName><value>INVALID</value></allowableValues><allowableValues><displayName>FEED</displayName><value>FEED</value></allowableValues><description>Specifies the standard table type to drop or ALL for standard set.</description><displayName>Table Type</displayName><dynamic>false</dynamic><name>Table Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Additional Tables</key><value><description>Additional tables to drop separated by comma.</description><displayName>Additional Tables</displayName><dynamic>false</dynamic><name>Additional Tables</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Database Connection Pooling Service</key><value>3275ca43-e691-4708-b5a4-b67c4888127c</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Table Type</key><value>MASTER</value></entry><entry><key>Additional Tables</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Drop Feed Tables</name><relationships><autoTerminate>true</autoTerminate><description>SQL query execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully relationship.</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#ff9900</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.ingest.DropFeedTables</type></processors><processors><id>8538e1ff-23cb-4c49-9899-d1311a02502a</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>508.11200068855624</x><y>285.4117231173708</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Script Engine</key><value><allowableValues><displayName>ECMAScript</displayName><value>ECMAScript</value></allowableValues><allowableValues><displayName>Groovy</displayName><value>Groovy</value></allowableValues><allowableValues><displayName>lua</displayName><value>lua</value></allowableValues><allowableValues><displayName>python</displayName><value>python</value></allowableValues><allowableValues><displayName>ruby</displayName><value>ruby</value></allowableValues><defaultValue>ECMAScript</defaultValue><description>The engine to execute scripts</description><displayName>Script Engine</displayName><dynamic>false</dynamic><name>Script Engine</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Script File</key><value><description>Path to script file to execute. Only one of Script File or Script Body may be used</description><displayName>Script File</displayName><dynamic>false</dynamic><name>Script File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Script Body</key><value><description>Body of script to execute. Only one of Script File or Script Body may be used</description><displayName>Script Body</displayName><dynamic>false</dynamic><name>Script Body</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Module Directory</key><value><description>Comma-separated list of paths to files and/or directories which contain modules required by the script.</description><displayName>Module Directory</displayName><dynamic>false</dynamic><name>Module Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Script Engine</key><value>Groovy</value></entry><entry><key>Script File</key></entry><entry><key>Script Body</key><value>// Get flow file
def flowFile = session.get()
if (!flowFile) return
// Create output directory
def inputFolder = flowFile.getAttribute(&quot;spark.input_folder&quot;)
def folder = new File(inputFolder)
if (!folder.exists()) folder.mkdirs()
// Parse input
def script = flowFile.getAttribute(&quot;transform_script&quot;)
def category = flowFile.getAttribute(&quot;category&quot;)
def feed = flowFile.getAttribute(&quot;feed&quot;)
def tableName = category+&quot;.&quot;+feed;
try {
    // Write script
    def scalaFile = new File(folder, &quot;transform_script.scala&quot;)
    scalaFile.write(script + &quot;.write.mode(SaveMode.Overwrite).insertInto(\&quot;&quot; + tableName + &quot;\&quot;)&quot;)
    // Output file path
    flowFile = session.putAttribute(flowFile, &quot;transform_script_file&quot;, scalaFile.getCanonicalPath())
    session.transfer(flowFile, REL_SUCCESS)
} catch (IOException e) {
    log.error(&quot;Failed to write FlowFile: &quot; + e, e)
    session.transfer(flowFile, REL_FAILURE)
}
</value></entry><entry><key>Module Directory</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Prepare Script</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that failed to be processed</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that were successfully processed</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#2bff05</value></entry></style><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.processors.script.ExecuteScript</type></processors><processors><id>c3613aa4-c3fb-448e-948a-b296e691c965</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>1059.458588149063</x><y>82.02859961546619</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hadoop Configuration Resources</key><value><description>A file or comma separated list of files which contains the Hadoop file system configuration. Without this, Hadoop will search the classpath for a 'core-site.xml' and 'hdfs-site.xml' file or will revert to a default configuration.</description><displayName>Hadoop Configuration Resources</displayName><dynamic>false</dynamic><name>Hadoop Configuration Resources</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Principal</key><value><description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties.</description><displayName>Kerberos Principal</displayName><dynamic>false</dynamic><name>Kerberos Principal</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Keytab</key><value><description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties.</description><displayName>Kerberos Keytab</displayName><dynamic>false</dynamic><name>Kerberos Keytab</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Relogin Period</key><value><defaultValue>4 hours</defaultValue><description>Period of time which should pass before attempting a kerberos relogin</description><displayName>Kerberos Relogin Period</displayName><dynamic>false</dynamic><name>Kerberos Relogin Period</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Directory</key><value><description>The full HDFS directory(s) to create separated by newline</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions umask</key><value><description>A umask represented as an octal number which determines the permissions of files written to HDFS. This overrides the Hadoop Configuration dfs.umaskmode</description><displayName>Permissions umask</displayName><dynamic>false</dynamic><name>Permissions umask</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Owner</key><value><description>Changes the owner of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change owner</description><displayName>Remote Owner</displayName><dynamic>false</dynamic><name>Remote Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Remote Group</key><value><description>Changes the group of the HDFS file to this value after it is written. This only works if NiFi is running as a user that has HDFS super user privilege to change group</description><displayName>Remote Group</displayName><dynamic>false</dynamic><name>Remote Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hadoop Configuration Resources</key><value>/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml</value></entry><entry><key>Kerberos Principal</key></entry><entry><key>Kerberos Keytab</key></entry><entry><key>Kerberos Relogin Period</key><value>4 hours</value></entry><entry><key>Directory</key><value>${hive.master.root}
${hive.master.root}/${category}/
${hive.master.root}/${category}/${feed}/</value></entry><entry><key>Permissions umask</key><value>777</value></entry><entry><key>Remote Owner</key><value>nifi</value></entry><entry><key>Remote Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>30 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Register HDFS Folders</name><relationships><autoTerminate>false</autoTerminate><description>Files that could not be written to HDFS for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Files that have been successfully written to HDFS are transferred to this relationship</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#da05ff</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.hdfs.CreateHDFSFolder</type></processors><processors><id>d48616e0-dd09-4df2-94a3-073c9c1af1ca</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>1591.4385389705321</x><y>328.9148113067349</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>8f5b0b91-5bec-41f2-b4db-c8e4deb6ed32</value></allowableValues><allowableValues><displayName>Think Big Metadata Service</displayName><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>System category of the feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Initialization Result</key><value><allowableValues><description>The mode indicating feed initialization was successful.</description><displayName>Successful</displayName><value>SUCCESSFUL</value></allowableValues><allowableValues><description>The mode indicating feed initialization failed.</description><displayName>Failure</displayName><value>FAILURE</value></allowableValues><description>Indicates how this processor should behave when a flow file arrives after feed initialization has failed.</description><displayName>Initialization Result</displayName><dynamic>false</dynamic><name>Initialization Result</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Metadata Service</key><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Initialization Result</key><value>FAILURE</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Initialization Failure</name><relationships><autoTerminate>true</autoTerminate><description>Processing failed</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Processing was successful</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#f20909</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.init.CompleteInitializeFeed</type></processors><processors><id>0638551f-8fe4-42e6-8580-c92f0f99022c</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>503.81342023142327</x><y>86.39455253821603</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Metadata Service</key><value><allowableValues><displayName>Think Big Metadata Service</displayName><value>8f5b0b91-5bec-41f2-b4db-c8e4deb6ed32</value></allowableValues><allowableValues><displayName>Think Big Metadata Service</displayName><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></allowableValues><description>Think Big metadata service</description><displayName>Metadata Service</displayName><dynamic>false</dynamic><identifiesControllerService>com.thinkbiganalytics.nifi.core.api.metadata.MetadataProviderService</identifiesControllerService><name>Metadata Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>System feed category</key><value><defaultValue>${metadata.category.systemName}</defaultValue><description>System category of the feed this processor supports</description><displayName>System feed category</displayName><dynamic>false</dynamic><name>System feed category</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>System feed name</key><value><defaultValue>${metadata.systemFeedName}</defaultValue><description>Name of feed this processor supports</description><displayName>System feed name</displayName><dynamic>false</dynamic><name>System feed name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Initialization Failure Strategy</key><value><allowableValues><description>Immediately fail the flow file</description><displayName>Fail</displayName><value>FAIL</value></allowableValues><allowableValues><description>Retry initialization (if the appropriate time delay has expired) and penalize the flow file.</description><displayName>Retry</displayName><value>RETRY</value></allowableValues><defaultValue>RETRY</defaultValue><description>Indicates how this processor should behave when a flow file arrives after feed initialization has failed.</description><displayName>Initialization Failure Strategy</displayName><dynamic>false</dynamic><name>Initialization Failure Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Initialization Retry Delay (seconds)</key><value><defaultValue>60</defaultValue><description>The minimum amount of seconds to delay before an arriving flow file should trigger another attempt to initialize a feed that has previously failed initialization.  Any flow file arriving before this delay has expired will be immediately failed.</description><displayName>Initialization Retry Delay (seconds)</displayName><dynamic>false</dynamic><name>Initialization Retry Delay (seconds)</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Initialization Attempts</key><value><description>The maximum number of times initialization will be retried where there are failures.  There is no limit if unset.</description><displayName>Max Initialization Attempts</displayName><dynamic>false</dynamic><name>Max Initialization Attempts</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Metadata Service</key><value>6b207fdf-55a2-4767-9c0b-e52656972733</value></entry><entry><key>System feed category</key><value>${category}</value></entry><entry><key>System feed name</key><value>${feed}</value></entry><entry><key>Initialization Failure Strategy</key><value>RETRY</value></entry><entry><key>Initialization Retry Delay (seconds)</key><value>15</value></entry><entry><key>Max Initialization Attempts</key><value>40</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Initialize Feed?</name><relationships><autoTerminate>true</autoTerminate><description>Processing failed</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Begin initialization</description><name>Initialize</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Processing was successful</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#2bff05</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.init.InitializeFeed</type></processors><processors><id>e8be5880-bc45-4e41-a901-6e083d9c9aef</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>449.46553735969064</x><y>798.1208108637361</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hdfs.ingest.root</key><value><description></description><displayName>hdfs.ingest.root</displayName><dynamic>true</dynamic><name>hdfs.ingest.root</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hive.ingest.root</key><value><description></description><displayName>hive.ingest.root</displayName><dynamic>true</dynamic><name>hive.ingest.root</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hive.master.root</key><value><description></description><displayName>hive.master.root</displayName><dynamic>true</dynamic><name>hive.master.root</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>hive.profile.root</key><value><description></description><displayName>hive.profile.root</displayName><dynamic>true</dynamic><name>hive.profile.root</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>hdfs.ingest.root</key><value>${hdfs.ingest.root:replaceEmpty('/etl')}</value></entry><entry><key>hive.ingest.root</key><value>${hive.ingest.root:replaceEmpty('/model.db')}</value></entry><entry><key>hive.master.root</key><value>${hive.master.root:replaceEmpty('/app/warehouse')}</value></entry><entry><key>hive.profile.root</key><value>${hive.profile.root:replaceEmpty('/model.db')}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Set Cleanup Defaults</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#ff9900</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>6061686d-93d0-42ab-a7f1-9c3b1f382cde</id><parentGroupId>46a310b7-acfb-41ef-809a-9f76e55f3216</parentGroupId><position><x>509.08331416511874</x><y>491.5431928439334</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>ApplicationJAR</key><value><description>Path to the JAR file containing the Spark job application</description><displayName>ApplicationJAR</displayName><dynamic>false</dynamic><name>ApplicationJAR</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Extra JARs</key><value><description>A file or a list of files separated by comma which should be added to the class path</description><displayName>Extra JARs</displayName><dynamic>false</dynamic><name>Extra JARs</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>MainClass</key><value><description>Qualified classname of the Spark job application class</description><displayName>MainClass</displayName><dynamic>false</dynamic><name>MainClass</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>MainArgs</key><value><description>Comma separated arguments to be passed into the main as args</description><displayName>MainArgs</displayName><dynamic>false</dynamic><name>MainArgs</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SparkMaster</key><value><defaultValue>local</defaultValue><description>The Spark master</description><displayName>SparkMaster</displayName><dynamic>false</dynamic><name>SparkMaster</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SparkHome</key><value><defaultValue>/usr/hdp/current/spark-client/</defaultValue><description>Qualified classname of the Spark job application class</description><displayName>SparkHome</displayName><dynamic>false</dynamic><name>SparkHome</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running SQL select query  , zero means there is no limit. Max time less than 1 second will be equal to zero.</description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Driver Memory</key><value><defaultValue>512m</defaultValue><description>How much RAM to allocate to the driver</description><displayName>Driver Memory</displayName><dynamic>false</dynamic><name>Driver Memory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Executor Memory</key><value><defaultValue>512m</defaultValue><description>How much RAM to allocate to the executor</description><displayName>Executor Memory</displayName><dynamic>false</dynamic><name>Executor Memory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Number of Executors</key><value><defaultValue>1</defaultValue><description>The number of exectors to be used</description><displayName>Number of Executors</displayName><dynamic>false</dynamic><name>Number of Executors</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Spark Application Name</key><value><description>The name of the spark application</description><displayName>Spark Application Name</displayName><dynamic>false</dynamic><name>Spark Application Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Executor Cores</key><value><defaultValue>1</defaultValue><description>The number of executor cores to be used</description><displayName>Executor Cores</displayName><dynamic>false</dynamic><name>Executor Cores</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Network Timeout</key><value><defaultValue>120s</defaultValue><description>Default timeout for all network interactions. This config will be used in place of spark.core.connection.ack.wait.timeout, spark.akka.timeout, spark.storage.blockManagerSlaveTimeoutMs, spark.shuffle.io.connectionTimeout, spark.rpc.askTimeout or spark.rpc.lookupTimeout if they are not configured.</description><displayName>Network Timeout</displayName><dynamic>false</dynamic><name>Network Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Hadoop Configuration Resources</key><value><description>A file or comma separated list of files which contains the Hadoop file system configuration. Without this, Hadoop will search the classpath for a 'core-site.xml' and 'hdfs-site.xml' file or will revert to a default configuration.</description><displayName>Hadoop Configuration Resources</displayName><dynamic>false</dynamic><name>Hadoop Configuration Resources</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Principal</key><value><description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties.</description><displayName>Kerberos Principal</displayName><dynamic>false</dynamic><name>Kerberos Principal</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Keytab</key><value><description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties.</description><displayName>Kerberos Keytab</displayName><dynamic>false</dynamic><name>Kerberos Keytab</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Yarn Queue</key><value><description>Optional Yarn Queue</description><displayName>Yarn Queue</displayName><dynamic>false</dynamic><name>Yarn Queue</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>ApplicationJAR</key><value>/opt/nifi/current/lib/app/thinkbig-spark-interpreter-jar-with-dependencies.jar</value></entry><entry><key>Extra JARs</key></entry><entry><key>MainClass</key><value>com.thinkbiganalytics.spark.interpreter.App</value></entry><entry><key>MainArgs</key><value>${transform_script_file}</value></entry><entry><key>SparkMaster</key><value>local</value></entry><entry><key>SparkHome</key><value>/usr/hdp/current/spark-client</value></entry><entry><key>Max Wait Time</key><value>0 seconds</value></entry><entry><key>Driver Memory</key><value>512m</value></entry><entry><key>Executor Memory</key><value>512m</value></entry><entry><key>Number of Executors</key><value>1</value></entry><entry><key>Spark Application Name</key><value>TransformApp</value></entry><entry><key>Executor Cores</key><value>1</value></entry><entry><key>Network Timeout</key><value>120s</value></entry><entry><key>Hadoop Configuration Resources</key></entry><entry><key>Kerberos Principal</key></entry><entry><key>Kerberos Keytab</key></entry><entry><key>Yarn Queue</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Execute Script</name><relationships><autoTerminate>true</autoTerminate><description>Spark execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Successful result.</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#2bff05</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>com.thinkbiganalytics.nifi.v2.spark.ExecuteSparkJob</type></processors></snippet><timestamp>11/03/2016 18:08:00 UTC</timestamp></template>